[2020-03-17 00:00] #91 closed

[2020-03-17 00:04] tskisner commented on #93
The current code (Spring 2020) does not do "swapping".  High priority targets are assigned preferentially to early tiles.  I think we can close this, but will let @sbailey make the final call.

[2020-03-17 00:07] tskisner commented on #97
Updating this for Spring 2020 code:  the fiberassign Hardware model does have access to the fiber mapping.  Implementing this avoidance logic is quite complicated, so we should really see if this is a problem in practice before working on it.

[2020-03-17 00:09] tskisner commented on #98
Fiberassign now uses the full geometry of the positioners and will not assign targets that cannot be reached for a given set of arm lengths and angle ranges.  Closing.

[2020-03-17 00:09] #98 closed

[2020-03-17 00:11] tskisner commented on #108
This issue is no longer relevant.  Closing.

[2020-03-17 00:11] #108 closed

[2020-03-17 00:17] tskisner commented on #140
This is a massive issue that bounced around in scope.  As of the code version in #258, we have:

- Targets have a "total priority" that is a combination of PRIORITY, SUBPRIORITY, and NUMOBS_MORE.  Currently this total priority is calculated the same for all targets (using a "breadth first" strategy).

- Within a single target class (with the same PRIORITY), it would be very easy to use a "depth fi

[2020-03-17 00:25] tskisner commented on #151
As of #258, assignments and bumping are done based on target total priority order, not based on any fiber or location ordering.  I assume this will resolve any imprinting mentioned in this issue.  Leaving open until some kind of final confirmation, but I believe this is resolved.

[2020-03-17 00:31] tskisner commented on #152
This issue is no longer relevant.  Fiberassign now has a concept of targets of last resort (the "SAFE" target type).  BAD_SKY is used for this by default and that behaviour can be fully controlled by customizing bitmasks at the commandline or high-level API.

[2020-03-17 00:31] #152 closed

[2020-03-17 00:32] tskisner commented on #173
This has been resolved for a long time.  Closing.

[2020-03-17 00:32] #173 closed

[2020-03-17 00:35] tskisner commented on #178
Fiberassign now uses a detailed, realistic hardware model from desimodel.  The desimodel code includes all these features and is external to fiberassign.  Closing this now.  Any issues with hardware state matching the online system (for example) should be opened against desimodel.

[2020-03-17 00:35] #178 closed

[2020-03-17 03:19] tskisner commented on #180
I believe that all this discussion is actually implemented, at least in fiberassign:

- Fiberassign uses default bitmasks for all types from desitarget.  These can be overridden.  All of the logic for determining whether a target is a standard, sky, etc is outsourced to desitarget or to user-provided bitmasks.

- Duplicate target IDs in multiple input files trigger an exception in fiberassign.

-

[2020-03-17 03:19] #180 closed

[2020-03-17 03:20] tskisner commented on #179
This is fixed in #258.

[2020-03-17 03:25] tskisner commented on #183
The original post on this issue is fixed by #258, where we loop over targets and assign a fiber to each one.  In the case where multiple fibers are available to a given target (usually there is just one as expected from the small overlap of patrol radii), the code chooses the closest one.

[2020-03-17 03:26] tskisner commented on #184
This issue is now fixed in #258.

[2020-03-17 03:36] tskisner commented on #192
Revisiting this open ticket, I still think it makes sense to centralize "control" of the hardware status flags into desimodel, since it is a low-level package used by our entire stack, and because it is where the hardware properties for offline analysis are retrieved.

[2020-03-17 04:22] tskisner commented on #194
Revisiting this in Spring 2020.  I think we now have sufficient density of sky, supp_sky, and bad_sky (safe) targets so that every positioner can be moved someplace.   If not, we should improve that.

If we still need this logic in fiberassign, then I would suggest for each unassigned positioner:

1.  Start with the positioner arm fully closed (phi =~ 180)

2.  Sweep the theta angle from its minim

[2020-03-17 04:26] tskisner commented on #196
The quoted code in this issue no longer exists as of #258.  However, the new code makes it possible to have different target classes (i.e. targets with the same PRIORITY) be assigned either depth-first or breadth-first.  This is a small change inside the `Target::total_priority()` function, but it requires some kind of "signal" (like a bit of DESI_TARGET) to indicate whether the target should be b

[2020-03-17 04:45] tskisner commented on #209
Coming back to this open ticket in Spring 2020.  We have had recent discussion about making fiberassign outputs smaller, so adding columns to the large FAVAIL / POTENTIAL_ASSIGNMENTS extensions are probably not what we want.  The `read_assignment_fits_file()` function returns tables from either raw or merged files containing the assignment, targets, and available HDU data.

if fiberassign is run w

[2020-03-17 04:51] tskisner commented on #211
This issue has evolved.  Fiberassign now uses a high resolution interpolation of the data from desimodel.  So any consistency with platemaker should be addressed in the desimodel package.  That activity is ongoing and is being tracked by (for example) https://github.com/desihub/desimodel/issues/124

[2020-03-17 04:51] #211 closed

[2020-03-17 04:51] tskisner commented on #212
This is now fully implemented.

[2020-03-17 04:51] #212 closed

[2020-03-17 04:56] tskisner commented on #214
Revisiting as of Spring 2020.  Implementing this change to specify a maximum number of standards, sky, etc per cassette instead of petal is a tedious change (mostly changing strings and calling a function to query the cassette for given location rather than the petal).  However, there are no real technical or algorithmic changes involved.  Just a question of whether we need to do this to achieve s

[2020-03-17 04:56] tskisner commented on #218
This was fixed long ago.

[2020-03-17 04:56] #218 closed

[2020-03-17 04:58] tskisner commented on #220
This issue was in upstream desimodel and was fixed long ago in that package.

[2020-03-17 04:58] #220 closed

[2020-03-17 05:01] tskisner commented on #221
The merging function now explicitly removes any output file before writing the newly merged one:

https://github.com/desihub/fiberassign/blob/master/py/fiberassign/assign.py#L1142

Is this sufficient?

[2020-03-17 05:05] tskisner commented on #236
These were implemented in #240

[2020-03-17 05:05] #236 closed

[2020-03-17 05:07] tskisner commented on #238
Note that this "warning" has been promoted to an exception, and I have not seen it in my recent tests.  I'll leave this open for now, but post any updates if you see it happen again.

[2020-03-17 05:11] tskisner commented on #239
Coming back to this.  The error condition when a target shows up twice for a single fiberassign run is intentional.  It was too challenging to "guess" whether the input targets were intended to be the same target or whether it was a problem with the MTL generation.  So fiberassign just raises an exception.

[2020-03-18 04:31] tskisner opened #260 "The "fiberassign" wrapper script is missing options, which breaks tutorials"
There are many options accepted by the `fba_run` and `fba_merge_results` commandline entry points.  Recall that these are separate tools because `fba_run` is calling threaded C++ code internally, while `fba_merge_results` is holding many GB of input target data in python shared memory while using python multiprocessing to merge this target data into the output files in parallel.

The `fiberassign`

[2020-03-18 15:56] tskisner commented on #260
As a temporary workaround to this, I'll just implement the `--rundate` option to the `fiberassign` script.  This option is currently listed in the parser, but does not do anything.

[2020-03-18 16:12] tskisner commented on #260
Ah, actually nevermind- the "workaround" is already in place, and only the tutorials git repo needs updated.  I still feel that the the bigger picture of this issue remains, so will leave it open until that is resolved.

[2020-03-27 04:08] forero commented on #151
Here are the new results. This is again for DR8 data.

![SKY_pattern](https://user-images.githubusercontent.com/1848618/77720544-37da3600-6fb6-11ea-8f66-1f52d18147c8.jpg)

![STANDARD_pattern](https://user-images.githubusercontent.com/1848618/77720555-3d378080-6fb6-11ea-82eb-100294d7e522.jpg)

I am not sure what might be happening with the sky fibers. I used `--rundate 2020-01-01T00:00:00` for `fba

[2020-03-27 15:10] tskisner commented on #151
@forero, can you point me to the input files you used and the commands / script / notebook?

If this was run at NERSC, can you tell me which version of the desi stack you had loaded?

When making these plots, are you just plotting the X/Y of assigned targets across all tiles on the same plot?  And so darker regions are areas in X/Y space that received many assignments?

Petal locations 1 and 2 see

[2020-03-31 00:14] sbailey opened #261 "track unusable fibers that aren't broken fibers or stuck positioners"
Add a category of positioners that are moveable but shouldn't be used for science targets, sky fibers, or standard stars, e.g. because the fiber lands on a hot column of the CCD and won't produce a useable spectrum.

These are different from broken fibers, because they can be back illuminated and safely moved to arbitrary positions; we just don't want to count that in the bookkeeping as a good ass

[2020-04-01 00:12] forero commented on #151
@tskisner This was run on nersc sourcing `desi_environment master`

Typing `which fba_run` returns `/global/common/software/desi/cori/desiconda/20190804-1.3.0-spec/code/fiberassign/master/bin/fba_run`

This is the command I used
`fba_run --targets targets/dark_gray_north.fits --sky targets/sky_north.fits  --footprint footprint/tiles_dark_gray_north.fits --rundate 2020-01-01T00:00:00 --dir fba_dark

[2020-04-01 00:14] forero commented on #151
And this is the notebook I used to prepare the plots https://github.com/forero/SandboxDESI/blob/master/fiber/sky_pattern.ipynb

[2020-04-01 00:20] forero commented on #151
@tskisner What do you think is the reason for the small black circular spots?

[2020-04-02 16:10] tskisner commented on #151
Thanks for the additional info @forero, I'll be working on fiberassign again (including this issue) starting Friday.

[2020-04-18 16:54] tskisner commented on #221
Closing this now since the point of this issue (data corruption) never happens with the current code (since outputs are explicitly removed before writing).  We can open a new issue if some other behavior is desired.

[2020-04-18 16:54] #221 closed

[2020-04-18 16:58] tskisner commented on #140
As previously stated, this original point of this issue is no longer relevant.  The remaining question of how to prioritize targets **within** a single class (with the same PRIORITY) based on the observations remaining is covered by #196 .  Closing this now

[2020-04-18 16:58] #140 closed

[2020-04-25 15:44] tskisner commented on #261
Related to #194, these positioners should be placed at a non-colliding location.

[2020-04-25 15:53] tskisner opened #263 "When computing `TargetsAvailable` check for actual positioning ability"
This is the result of offline discussion with @michaelJwilson .  The `TargetsAvailable` class has been used internally in fiberassign as a way of reducing the number of targets to check for each positioner when assigning a positioner.  Currently this just gets all targets in a circle around each location based on the sum of the arm lengths minus some buffer.  Only when the positioner is actually a

[2020-04-27 22:09] #263 closed

[2020-04-28 23:24] sbailey commented on #194
A point of clarification:
* **broken positioners** are stuck at a fixed location over which we have little or no control
  * if that position is known it can be defined via theta/phi limits in the desimodel hardware configuration
  * if that position isn't known we would need to use a larger exclusion zone, also defined in the desimodel hardware configuration
* **broken fibers** are a different ph

[2020-05-01 06:08] tskisner commented on #182
In the process of creating a recent tutorial (https://portal.nersc.gov/project/desi/users/kisner/fiberassign/FiberAssignAlgorithms_Part2.html) I had to jump through some MTL hoops in order to get the number of targets that were not only "available" (physically reachable), to a positioner, but which also had `NUMOBS_MORE > 0` and hence could be "considered" for assignment.

Having gone down that ro

[2020-05-05 22:40] tskisner opened #265 "Should we enforce a single observation of a target per "PASS"?"
Currently fiberassign takes the list of input tiles (in order) and assigns targets to them.  The tiles class internally:

https://github.com/desihub/fiberassign/blob/master/src/tiles.h#L22

does not track the "PASS" of a tile.  This information does exist in the input footprint file, but it is not stored.  During assignment, if a target falls into the overlap region of 2 tiles, and if that target

[2020-05-06 06:11] tskisner opened #266 "Incorrect effective positioner angles"
This issue is to track a critical problem discovered as part of recent effort to understand fiberassign efficiencies.  Thanks to Anand and @Cyeche for help in illustrating the issue.

It looks like the theta / phi angle ranges of each positioner are not being referenced or rotated correctly to the petal they are in.  This results in an effectively reduced range of the positioners as the petals go

[2020-05-06 18:58] sbailey commented on #266
Does fiber assign treat the theta/phi limits in a global focal plane coordinate system (e.g. CS5), or petal local?  The online calibs use petal-local, and presumably the calibs we inherited from the teststand do too.  I don't immediately see how that difference would cause this effect, but it might be related and is something that we do need to be consistent about.

[2020-05-06 19:15] forero commented on #266
This looks like the same pattern on the issue about sky fibers

https://github.com/desihub/fiberassign/issues/151#issuecomment-604804294

The pattern disappears by running with at date `2019-01-01T00:00:00`

https://github.com/desihub/fiberassign/issues/151#issuecomment-606953386

[2020-05-06 19:23] tskisner commented on #266
Thanks @forero , that is a good data point.  Any dates before 2019-09-16 will use the legacy focalplane from the old fiberassign (but with values put into the desimodel format and retrieved from there).  I'll try to track this down later this evening.

[2020-05-07 03:25] tskisner commented on #266
Ok, this turned out to be an unfortunate combination of things.  The fix was relatively easy, but I'm now working on a unit test for this situation before opening a PR.  Here I want to document the sequence of events for the record.

1.  The legacy fiberassign had hard-coded values for the positioner range of motion and arm lengths.

2.  When moving these hardcoded values into the desimodel focalp

[2020-05-07 06:40] Cyeche commented on #266
Brravo! Thanks for fixing it!

[2020-05-07 17:59] sbailey commented on #265
Since we are starved for LyA QSO coverage, we should allow multiple assignments within a single PASS for later passes, e.g. to allow a confirmed LyA QSO to be observed in two overlapping tiles of PASS=4 when possible.  If we don't want to multiply assign a QSO in the initial PASS=1, that can be accomplished by starting with NUMOBS_MORE=1 and then upgrading confirmed LyA QSO to NUMOBS_MORE=3 (=4-1)

[2020-05-07 18:09] geordie666 commented on #265
Doesn't setting `NUMOBS_INIT=1` for the QSOs and then upgrading to `NUMOBS_MORE=3` just "kick the can down the road"? Won't a QSO that is upgraded to `NUMOBS_MORE=3` potentially be multiply assigned in `PASS=2`?

I believe that any QSO that is not categorically confirmed to be at z > 2.1 will retain `NUMOBS_MORE=3` status. So, any z < 2.1 QSO target with `ZWARN != 0` could then be multiply assigne

[2020-05-07 18:14] forero commented on #265
Another option would be only feeding to fiberassign the tiles within a single pass.

[2020-05-07 18:33] tskisner commented on #265
Currently I have been assigning one pass at a time, and as @geordie666 mentions, once NUMOBS_MORE > 1, there is a chance that in any future pass a QSO that falls in the tile overlap within that pass will get 2 observations within that single pass.

So, even assigning one pass at a time, if we only want to get "2 observations in pass 4", then we would at least need to have a switch in fiberassign t

[2020-05-07 18:41] sbailey commented on #265
Yes, but I think that is what we want: once we have confirmed that something is a LyA QSO we want to observe it every chance we can until we reach 4 observations.  That would include observing it twice in PASS=2 if we can.

i.e. the optimization I'm chasing here is preventing it from being observed twice in PASS=1 so that we get a single observation before deciding what to do with it.

I think tha

[2020-05-07 18:47] geordie666 commented on #265
@sbailey : I'm working with the LyA group at the moment to try to work out more precise strategies. But, are you confident enough that we want `NUMOBS_INIT=1` for all quasars and `NUMOBS_MORE=4-NUMOBS` for confirmed LyA quasars that I should open this change as an issue on `desitarget`?

[2020-05-07 18:57] sbailey commented on #265
@geordie666 please open a desitarget issue about QSO NUMOBS_INIT=1 vs. 4 but hold off on implementation until we have more discussion on whether we'd want to purposefully observe a QSO twice in PASS=1 if we could (pro: getting ahead on LyA for the subset that are LyA; con: "wasting" the second fiber on a confirmed z<2.1 QSO; maybe-good-maybe-bad: getting an early second obs of ambiguous classifica

[2020-05-07 19:11] forero commented on #265
OK. Then the issue is not about tracking the PASS information, but about tracking tile overlap (i.e. onto how many tiles a target falls in).

[2020-05-08 17:16] #266 closed

[2020-08-07 23:41] geordie666 opened #270 "Implement ledgers for MTL"
If we decide to fully implement ledgers for MTL, we will need to update fiberassign to interface with the [new functionality in desitarget](https://github.com/desihub/desitarget/pull/635). The broad instructions for the overall workflow are outlined in [a comment in desitarget PR #365](https://github.com/desihub/desitarget/pull/635#issuecomment-670201875), although I'm happy to discuss further det

[2020-09-21 22:57] sbailey opened #271 "review, simplify, and finalize fiberassign output format"
Related to dangling PR #254: review the fiberassign output formats, simplify/trim them, and finalize it on something we are happy to use for years to come.  A non-exhaustive list of items to check:
* The lightweight `fba-*.fits` format was designed to minimize I/O and simplify debugging and studies with mocks, but it lacks the full information needed for actual observations, which are post-facto m

[2020-10-01 04:57] sbailey opened #272 "problem compiling fiberassign at KPNO"
I'm having difficulty compiling fiberassign at KPNO (full compile error below).

I suspect this is related to a rather old default gcc:
[code]
vs. gcc 8.3.0 at NERSC.

Is there as simple workaround, or is the best solution to request a gcc upgrade?  gcc upgrades could have lots of other effects for the online systems, so I wouldn't make that request lightly.

@tskisner help?  thanks...

Compile me

[2020-10-01 14:51] tskisner commented on #272
Redhat ships an ancient compiler so that binaries built with that can run across multiple redhat versions.  However, most people I know install a newer compiler from redhat packages.

Having said that, this is actually an error on my end.  Apparently `std::make_unique` was not formally added to the standard until C++14.  Since the intention was to only require C++11, I should fix that.  Will try t

[2020-10-02 06:54] tskisner commented on #272
Ok, I tested the fix in #273 inside a docker container running CentOS-7 (which I guessed is the same as KPNO, from the gcc version 4.8.5).  I reproduce your error without that fix and then fiberassign builds fine with the fix.

[2020-10-03 03:58] #272 closed

[2020-11-01 16:55] araichoor opened #275 "Designing Commissionning fibre-assign files"
Principle:
Having one checked-in script (cmx-assign.py) which generates the fiberassign-{tileid}.fits files for the re-start of the commissioning, to ensure reproducibility/archiving.

Approach:
I have currently designed five commissioning flavors; it should be easy to add few other ones.

[2020-11-02 20:57] forero commented on #275
Currently the script lives in https://github.com/desihub/fiberassign/blob/cmx_assign/bin/cmx-assign.py

[2020-11-05 16:38] tskisner opened #276 "Fiberassign "survey log""
In order to "replay" fiber assignment on simulated data, we need a kind of "survey log" that has for each time the assignment was run:
- The run date, which will be used to get the focalplane state from desimodel and the target state from the MTL ledger.
- The list of tile IDs that were assigned (regardless of which ones are actually observed later)
I believe that all this info can be obtained fro

[2020-11-05 20:39] ashleyjross commented on #276
This is something I can probably take on, but the question (and some related ones) probably needs some discussion. The problem is exactly what we decide to do with operations affects what we need to do here. (For example, if we go with "no pass" or not.)

A related issue is what the plan is for exactly where the fiberassign files get stored/organized. These will be on svn repo, with a different di

[2020-11-05 20:56] tskisner commented on #276
Currently the tiles repo:

https://desi.lbl.gov/trac/browser/data/tiles/trunk

Is a bucket of tiles sorted into sub directories based on the first 3 digits of tile ID.  I think we just need to load these keys:

https://github.com/desihub/fiberassign/blob/master/py/fiberassign/assign.py#L257-L263

from each output file, and then group those tile properties by the value of `FA_RUN` key.  This way, w

[2020-11-05 21:05] ashleyjross commented on #276
I guess this is my point: That current organization clearly will not be convenient for what we want to do? The same tile will be fiberassigned on different days and we have to find the correct one. (Maybe no pass fixes this, since the last time something got fiberassigned would be what was observed in that case and also what was in trunk, but I would rather have a more explicit connection.)

From:

[2020-11-05 21:14] tskisner commented on #276
I agree that if we are going to assign the same tile ID multiple times, either the files with the same ID must be in different directories or have some other string in the name.  Another option would be to "retire" tile IDs once they are assigned (not just after they are observed) and every assignment run would use new tile IDs for a given pointing location on the sky.

[2020-11-05 22:10] michaelJwilson commented on #276
I'd have thought we'd associate this log to the mtl itself.  E.g. as a dedicated hdu in the initial ledger file.  I would have thought updating this with run date, tile list and output filepaths would be done on each call by fiberassign itself.

There's the usual problem of how the sims should work round this, e.g. they won't be committing to svn.  My two cents.

[2020-11-06 17:47] tskisner commented on #271
Just had an adhoc conversation with @forero and @geordie666 on a cancelled zoom call...  Testing at KPNO on a couple hundred tiles showed:

1.  Out of a 1.5 hour run time, one hour was spent on the merging step
2.  Merging all the input columns ran out of memory.

Here is a proposition:  can fiberassign just write out the minimal file needed for ICS and then we can do the merging later at NERSC as

[2020-11-12 15:00] forero commented on #275
A first version of this script has been added in PR #277

[2020-11-12 15:25] #275 closed

[2020-11-12 15:36] forero commented on #239
I checked that the current fiberassign version works well with the example document here https://github.com/desihub/fiberassign/blob/master/doc/examples.rst

As @tskisner pointed out the error appeared because mtl-dark and mtl-bright were passed at the same time to fiberassign.

Closing this issue now. Feel free to open a new one if there is a problem with the fiberassign examples.

[2020-11-12 15:36] #239 closed

[2020-11-12 16:22] forero opened #278 "Different issues/questions on fba_cmx script"
From @araichoor

1) https://github.com/desihub/fiberassign/blob/150d65747cfd6fbbdb5bbb0d1fbbd0ef140b180b/bin/fba_cmx#L600-L603 => as said, I don t see when the *targ.fits file cannot be here; would you have an example?

2) having a log file: I didn t find a quick solution to that; currently, all outputs are printed to the prompt, so it is not stored; I guess we should at least launch the code with

[2020-11-17 18:49] forero commented on #271
From [desi-data 5128]:

Suggested fiberassign file columns (minimally needed for ops, plus a few more for future developments, keeping more columns for the assigned targets than the potential targets):

In the FIBERASSIGN HDU (5000 targets that were actually assigned):

FIBER TARGETID LOCATION FIBERSTATUS LAMBDA_REF PETAL_LOC TARGET_RA TARGET_DEC FA_TARGET FA_TYPE FIBERASSIGN_X FIBERASSIGN_Y DEVIC

[2020-12-07 03:47] sbailey opened #284 "check guide star isolation cuts"
From @crockosi:

Check if the GFA_TARGETS isolation cuts are still being applied to the GUIDE_FLAG, PSF_FLAG, ETC_FLAG in fiberassign and whether we may need to be more stringent in isolation criteria.

[2020-12-07 23:21] sbailey commented on #284
FYI was GUIDE2_1 in guide-rois-00066266.fits.fz:

![image](https://user-images.githubusercontent.com/218471/101416859-85c27000-389f-11eb-9592-15deca453312.png)

I haven't figured out how to track that back to a specific target in the GFA_TARGETS HDU, however, but that would certainly be a useful recipe to know.  Observers report ~0.9" seeing, so those two blobs are plausibly more than 5" separated

[2020-12-08 22:18] araichoor commented on #284
I confirm that the current isolation criterion is 5": https://github.com/desihub/fiberassign/blob/cd79a4b4e32736baa1f848e4a1861c9f09d8bf0d/py/fiberassign/gfa.py#L19-L31
I ve been exploring files in /global/cfs/cdirs/desi/spectro/data/20201206/00066266/, but I am not familiar with those.
Where can I find the scripts generating those files?

[2020-12-08 22:29] sbailey commented on #284
Thanks for confirming.  I'll followup with the online time to see if this is actually a problem or if they need the isolation cut to be increased.

Those files are the raw data coming off the telescope as minimally processed/formatted by ICS, plus files from Platemaker, but I don't know details about underlying code.

As for the format, the "guide-rois-*.fits.fz" contain the cutout images ("region

[2020-12-11 15:39] forero opened #285 "problem with FLAVOR keyword in fba_cmx outputs"
Eddie writes in [desi-survey 994] (the night of 20201210):

Klaus replies in [desi-survey 994]:

PROGRAM is also use in the exposure requests (outside of the fiberassign file)
The ICS code is set up to copy only keywords from the fiberassign header that are not already in the exposure request.
PROGRAM is typically used so if you have a PROGRAM keyword that would be ignored.
FLAVOR is different sin

[2020-12-11 15:41] forero commented on #285
Solved in PR #286

[2020-12-11 15:41] #285 closed

[2020-12-11 15:41] djschlegel commented on #285
That full list (I hope!) of header keywords that could conflict are in the "Primary Header" tab of this google spreadsheet: https://docs.google.com/spreadsheets/d/1Rtukds1AhloeNzRNeL6zn8IrneUVeqHf85LyJiumWe8/edit#gid=1037468760

[2020-12-18 04:45] sbailey opened #296 "always propagate *_TARGET columns"
Always propagate all *_TARGET columns from the input target/mtl files to the output fiberassign files, even if that column is all zeros (e.g. DESI_TARGET during SV).  Future-proof this with something like `if colname.endswith('_TARGET')` or a regex match so that it will automatically include future *_TARGET columns that we haven't even invented yet (SV2_DESI_TARGET, LIGO_TARGET, DESI2_TARGET, ...)

[2020-12-18 19:54] araichoor commented on #296
PR #297 addresses that issue.

[2020-12-18 19:54] #296 closed

[2020-12-22 15:42] moustakas opened #300 "add WISE inverse variances to fiberassign files?"
Spinning off from #297.

Is it too late to add `FLUX_IVAR_W1` and `FLUX_IVAR_W2` to the fiberassign files? Without fluxes and inverse variances for all 5 bandpasses I have to go back to the targeting / MTL files to model the broadband photometry at the derived redrock redshift. Maybe that's not a compelling enough reason to add these two columns but I wanted to discuss it.

[2020-12-29 18:32] moustakas opened #302 "mix of KPNO and NERSC provenance in SV1 fiberassign files/headers"
Mildly related to https://github.com/desihub/desispec/issues/1076.

At least one (and probably several) SV1 fiberassign files/headers have KPNO provenance for the input catalogs, which breaks when these headers are used at NERSC for analysis, e.g.,
[code]
The `TARG` header card, e.g., at NERSC would be `/global/cfs/cdirs/desi/target/catalogs/dr9/0.47.0/targets/sv1/resolve/bright/`.

[2020-12-29 18:59] araichoor commented on #302
that is correct, that happens for the tiles I designed on Dec, 18th at KPNO when NERSC was down, i.e. for tiles 080611-080623.
I kept the KPNO path so that there is no ambiguity on where the origin of the target files: is it a problem? i.e. if I'll have to design tiles at KPNO in the future, is it ok if I continue to do that?
because a simple work-around is to use fahdr["TARG"].replace("/data/","/

[2020-12-29 19:06] araichoor commented on #302
in case it s useful for your analysis: for each tile, for SV at least, I currently keep the input files used when running the fiber assignment: TILEID-tiles.fits, TILEID-targ.fits, TILEID-std.fits, TILEID-gfa.fits, TILEID-sky.fits.
for now, those files leave in the current folders:
https://data.desi.lbl.gov/desi/users/raichoor/fiberassign-sv1/20201212/
https://data.desi.lbl.gov/desi/users/raichoor

[2020-12-29 19:07] moustakas commented on #302
Thanks @araichoor. Yes, I can capture this error easily but I'm thinking about non power-users wanting to get supplemental targeting info and running into this somewhat obscure error.

Maybe this issue doesn't matter and can be closed but I wouldn't mind @sbailey and/or @djschlegel opining.

[2020-12-29 19:42] schlafly commented on #302
Two cents: we have now gone through the effort of having a common $DESI_ROOT/... hierarchy.  We should probably change the leading directories in each case to be something like $DESI_ROOT or drop them.

I don't think we want to give a NERSC file name to something that was actually designed at KPNO.  So the alternative to dropping the leading directories or replacing them with $DESI_ROOT would be t

[2021-01-04 02:11] sbailey commented on #302
Building on Eddie's suggestion, see [desispec.io.meta.shorten_filename](https://github.com/desihub/desispec/blob/7cb294c0a2175e19a9553f30c76f03a03c0d6b2d/py/desispec/io/meta.py#L420), which substitutes filename prefixes:
  * $DESI_SPECTRO_CALIB/path/to/file -> SPCALIB/path/to/file
  * $DESI_SPECTRO_REDUX/$SPECPROD/path/to/file -> SPECPROD/path/to/file

That could be expanded to also substitute $DE

[2021-01-04 20:04] araichoor commented on #302
ok perfect, very nice suggestions, thanks!

two minor remarks:
- I notice now that, at KPNO, DESI_ROOT=/data/datasystems, whereas I was reading /data; this is because $DESI_ROOT/target is a link to /data/target... I ll update the code for clarity
- because of the 8-characters limit in the header keywords, I plan to use a "DESIROOT" instead of "DESI_ROOT"
that would give in the fiberassign header s

[2021-01-05 06:54] araichoor commented on #302
I ve pushed the change to the master branch: https://github.com/desihub/fiberassign/commit/93e1875fb565edc00d549021d7073d47020f0aff

[2021-01-05 18:31] sbailey commented on #302
Adding the DESIROOT keyword + prefix substitution looks good.  Please also add links as necessary at KPNO so that you can avoid this special case:
[code]
i.e. any time the code is having to do something different for KPNO vs. NERSC, it is probably a sign that we need to be adjusting the directory structure and environment variable setup to make them more similar, instead of special-casing the diff

[2021-01-05 18:34] weaverba137 commented on #302
Also, hard-coding 'cori' is not a good idea.

[2021-01-10 05:48] araichoor commented on #302
sorry for the late reply; thank you for catching that desi/cori case:
- I 100% agree with you that this should be fixed
- I m not very familiar with link creation, would the executing the following commands at KPNO work:
`mkdir $DESI_TARGET/fiberassign`
`mkdir $DESI_TARGET/fiberassign/tiles/`
`ln -s /data/tiles/SVN_tiles $DESI_TARGET/fiberassign/tiles/trunk`
also, is it ok to do that, knowing that

[2021-01-12 04:50] sbailey opened #304 "support GAIA standard stars"
Apologies if I'm behind on a conversation about this, but I don't see an issue on it.

In desihub/desitarget#669 @geordie666 added three new standard star classes:

[code]

He notes:

We should have support for these in fiberassign too, but I think they should be treated as lower-priority standards that only get used if we can't fulfill our budget with regular standards (analogous to SUPP_SKY vs.

[2021-01-12 16:38] geordie666 commented on #304
I think the strong preference would be to only use the ``GAIA_STD*`` standards if there aren't enough of the normal standards. So, a two-tier system.

The Gaia standards don't incorporate information from the Legacy Surveys. The Legacy Surveys imaging is useful for setting more precise color constraints on the standard stars.

[2021-01-13 00:37] geordie666 commented on #302
I think I set this up as requested/needed. At NERSC:
[code]
at KPNO:
[code]

[2021-01-14 02:18] araichoor commented on #302
thanks a lot @geordie666.
I ve pushed the modified code : https://github.com/desihub/fiberassign/commit/6ed1a606fa685211af445cd0e50f0c161b1d55e9
I ve also replaced a safety check on $HOSTNAME containing cori or desi by a check on the existence of the used environment variables DESI_ROOT, DESI_TARGET, and DESIMODEL.
(and made a commit just after to correct a $DESI_MODEL to $DESIMODEL...)

[2021-01-16 03:54] #302 closed

[2021-01-16 03:55] araichoor commented on #300
It has been added in https://github.com/desihub/fiberassign/commit/0928a85ac78ed82e97eef2a08cc8123bbf31368b.

[2021-01-16 03:55] #300 closed

[2021-01-18 05:25] araichoor commented on #304
as @sbailey says, I *think* the fiberassign code cannot assign fibers to standard with different priorities, i.e. it treats standards as a separate class, with no notion of priority; I could try to locate the relevant lines in the code; though, I currently don't feel like touching the "core" c++ code...

[2021-03-05 15:21] tskisner commented on #194
@sbailey, a question since I am implementing support for the case of broken fibers and stuck positioners.  In these cases, the new desimodel code will provide the current estimated fixed positioner location (`POS_P` and `POS_T`).  These can be used internally to fiberassign to avoid collisions.  However, when writing the outputs, there is no column currently for writing the positioner angles that

[2021-03-05 18:38] sbailey commented on #194
Thanks for working on this.  I don't think that we need to write POS_P and POS_T quantities into the FIBERASSIGN HDU.  i.e. we need them internally to avoid collisions, but I don't think we need them in the output.

[2021-03-05 18:39] tskisner commented on #194
Ok, sounds good.  Thanks for confirming.

[2021-03-11 18:28] tskisner opened #312 "Development clean-ups"
The PR #297 broke unit tests for target QA, but was merged anyway.  Since then, unit tests have not been running at all, since travis support was deprecated but never replaced with the appropriate github actions.  There are also multiple stale branches left from closed PRs.  This issue is to track clean up of these things.

[2021-03-11 18:54] sbailey commented on #312
Several levels of unit test protection have failed us here.
1. developers should run "python setup.py test" as part of evaluating their code before submitting pull requests (mentioning @araichoor and @forero as most active recent developers)
2. github should run tests upon PRs (the Travis -> github actions conversion hasn't happened yet)
3. the nightly updates + tests at NERSC apparently weren't r

[2021-03-11 18:57] tskisner commented on #312
Just FYI, the unit test breakage is a small fix, but I will fold it into the PR that converts travis to github actions.  That way the fix can be tested.  Will get to this later today.

[2021-03-11 20:09] weaverba137 commented on #312
Did fiberassign ever have coverage checks via coveralls.io set up?

[2021-03-12 01:47] tskisner commented on #312
Re: the list in a previous comment by @sbailey , I think travis just stopped working at some point and I am switching things to github actions now in #313.  As part of that work, I noted that the test runner code was actually not exiting with a non-zero exit code if the tests failed.  This explains the behavior you saw at NERSC.  This is being fixed in that PR as well.

As for coveralls, there was

[2021-03-12 16:51] weaverba137 commented on #312
@tskisner, I think we might have a slight misunderstanding here:  I don't see any evidence that fiberassign was ever sending reports to coveralls *at all*.  Did you have an independent configuration for coveralls?

I'm pretty sure I do not have that configured, even though I have coveralls configurations for many other desihub packages.

[2021-03-12 16:56] tskisner commented on #312
No, I have never used coveralls for fiberassign.  If you are going to do that, please wait until I get #313 merged.

[2021-03-12 17:00] weaverba137 commented on #312
That's fine, I can help with the set-up on #313.

[2021-04-05 21:01] tskisner commented on #312
This clean up is finished.

[2021-04-05 21:01] #312 closed

[2021-04-05 21:03] tskisner opened #322 "Use UTC times everywhere"
Currently there are several time strings used in fiberassign for the run date, etc.  These are ambiguous with respect to the timezone.  We should explicitly use UTC everywhere.

[2021-04-06 22:10] djschlegel opened #323 "NaNs in fiberassign file coordinates"
All fiberassign files since starting to use the real focal plane models on 2021-03-17 have 14-15 rows with NaN values or FIBERASSIGN_X,FIBERASSIGN_Y,TARGET_RA,TARGET_DEC.  This is unexpected behavior, and turns out to cause problems with the ICS split-exposure code as implemented.

The 14 fibers that always have NaN values are: 367 1577 1763 1787 1868 2132 3094 3520 3587 3634 3668        3788 4420

[2021-04-06 22:22] tskisner commented on #323
Thanks @djschlegel.  I'll look at those positioners and see if there is anything they have in common.  The "unassigned" bit (bit 1) of FIBERSTATUS is set by fiberassign and is not part of the focal plane model.  If these were unassigned due to being non-functional then that would point towards a problem in the code here:

https://github.com/desihub/fiberassign/blob/907ce0d7f62b6cda31f0856f4b220794

[2021-04-07 16:17] tskisner opened #324 "Treating non-functional positioners as sky"
Positioners that are not moveable are often pointing at empty sky, and it would be useful to treat them as such for our sky budget.

One possibility is to internally count each stuck positioner as 0.5 sky fiber in the per-petal counts.  Another possibility would be to pre-check the stuck RA/DEC location of stuck positioners on every tile and create a lookup of whether each of these is sky or not.

[2021-04-09 02:07] djschlegel opened #325 "73 fibers never assigned to targets"
There are 73 fibers (the same 73) never assigned to fibers where I can't figure out why.  These have FIBERSTATUS=1 ("unassigned"), but no other status bits.  I don't see how these are flagged as unusable in the desimodel files, though these do appear to be around other disabled positioners.  The first in my list is FIBER=165 PETAL_LOC=0 DEVICE_LOC=431.  I'll attach a file with all 73.

If there's

[2021-04-09 04:57] djschlegel commented on #325
This next figure shows those positioners with "broken" flag set in FIBERSTATUS in fiberassign files in red.  Sometimes, but not always, the surrounding fibers are never assigned a target.  This seems to imply there may be some big keep-out regions on the focal plane, like around some of those positions?
<img width="546" alt="Screen Shot 2021-04-08 at 9 52 54 PM" src="https://user-images.githubuser

[2021-04-09 05:29] tskisner commented on #325
Thanks for the detective work @djschlegel .  The exclusion polygons are created in desimodel when syncing from the DB dump file.  The keepout polygons are specified for every positioner in the dump file, with the exception for the case where the positioner is marked as retracted.  In this case a special exclusion polygon is used that consists of a ~5.3mm radius circle at the positioner center.  Fr

[2021-04-13 00:16] tskisner commented on #324
Note that the resolution of this is coupled to #214, since without that, a disabled canbus could result in a local excess of sky fibers.

[2021-04-14 03:19] tskisner commented on #325
Following up on this, @djschlegel , can you please point me to the fiberassign file in your plots above?  We can just use `fba_plot_results` to draw the exclusion zones for every positioner and see what is going on.

[2021-04-14 03:41] djschlegel commented on #325
The above was all tiles designed from April 1-10, so for example tile 1 here: https://desi.lbl.gov/trac/browser/data/tiles/trunk/000

[2021-04-14 03:53] tskisner commented on #325
Ok, and presumably this is the same issue you mentioned for `/global/cfs/cdirs/desi/survey/fiberassign/SV3/20210413/fiberassign-000413.fits.gz`?  I'll go make some plots shortly.

[2021-04-14 05:08] tskisner commented on #325
Looking at the plot of this tile (zoomable PDF):
[fiberassign-000413.pdf](https://github.com/desihub/fiberassign/files/6308277/fiberassign-000413.pdf)
It seems there is a lot to digest.  I'll go and verify that the circular exclusions correspond to the positioners they should.
I also discovered a bug in the recorded FA_RUN key in the FITS file, I'll spin that off to another issue.

[2021-04-14 05:18] tskisner opened #326 "FA_RUN keyword is wrong"
The FA_RUN header keyword is being set to a string containing the focalplane model creation date rather than the requested run date.  This slipped through the cracks of earlier testing because we did not exercise the focalplane state log in desimodel.  This is a simple fix, PR coming soon.

[2021-04-14 16:15] tskisner commented on #323
Just another note on this, when plotting positioners recently for #325, I noticed that `fba_plot_results` printed some warnings about assigned RA / DEC values that were not reachable.  This may be related or not.  Adding a note here as a clue.

[2021-04-14 16:18] tskisner commented on #271
I think this has been resolved now that the target columns were pruned in the output?  If so we should close this.

[2021-04-14 16:20] tskisner commented on #270
I think this is now being done at a high level in the python / bash scripts which are calling `fiberassign.assign.run()` under the hood.  @araichoor and @geordie666 , do you think that is correct?  If so, let's close this issue.

[2021-04-14 16:22] tskisner commented on #265
Cleaning out old issues- is this still relevant?

[2021-04-14 16:25] tskisner commented on #214
Since this change is needed for #324, I wanted to clarify whether we want to enforce a certain number of sky per cassette or per slitblock? @djschlegel do you have any thoughts / preference?

[2021-04-14 16:32] tskisner commented on #261
Currently desimodel syncs the focalplane dumps from the DB and has access to the following info:
[code]
How should desimodel determine which positioners are "functional" but should not be used?  Once this is decided, we could add a new bit to the state definitions in desimodel and fiberassign, and then do something with them.

[2021-04-14 16:36] tskisner commented on #192
Just a note that the bit definitions are now consistent between desimodel and fiberassign.  Fiberassign defines the bits in C++ code where it cannot use desimodel.  Ok to close this @sbailey ?

[2021-04-14 18:12] araichoor commented on #270
from my understanding, yes.
the fba_launch python script:
- uses desitarget tools (read_targets_in_tiles(mtl=True) and inflate_ledger()) to collect the targets with their updated mtl status (hence priority, numobs, etc)
- then calls run_assign_full to run fiber assignment.

[2021-04-14 18:45] tskisner commented on #270
Ok, great!  Closing this now and we can reopen if needed.

[2021-04-14 18:45] #270 closed

[2021-04-14 18:55] tskisner commented on #151
At least some of the problems listed in this issue were fixed in #267. It's not clear to me if there are remaining issues here.  I guess we should see if anything changes with current versions of desimodel and fiberassign.

[2021-04-14 18:59] tskisner commented on #196
@sbailey , just checking whether you still want this feature?  As mentioned, it would be few-line change to alter the target total priority based on a bit of DESI_TARGET.  See for example:
https://github.com/desihub/fiberassign/blob/5d00eccd04477b003e841a6902f934108d5459b2/src/targets.cpp#L108

[2021-04-20 02:46] #322 closed

[2021-04-20 02:47] sbailey commented on #326
fixed by PR #327 .

[2021-04-20 02:47] #326 closed

[2021-04-20 20:12] dstndstn commented on #324
Hi Ted, I'm interested in trying to tackle this.  I have only just started looking at the fiberassign code, but I'm wondering if an approach could be:
- for each tile, find the stuck positioners and do the lookup for whether they will be in good sky locations for that tile center.  Add SKY targets for those locations -- so that they just *happen* to be reachable by the stuck positioners
- assign t

[2021-04-20 20:26] tskisner commented on #324
It is true that this work is mostly orthogonal with #214, it is just that we would not deploy the work discussed in this issue until that change is made.

There are several aspects to implementing this:

- We do not need to manipulate the input target information.  Instead, we are just tracking for each tile and each stuck positioner, is the corresponding RA/DEC a sky or not?  This involves callin

[2021-04-20 20:40] dstndstn commented on #324
Hi Ted,
Yes, the code for looking up an RA,Dec in the sky images exists (and is pretty trivial).
This implementation makes sense.  I'll see what I can figure out.  I'm just getting my bearings in the code.
thanks!

[2021-04-20 21:19] dstndstn commented on #324
Poking in the code a bit, you're suggesting pre-loading Assignment's `nassign_petal[TARGET_TYPE_SKY]` (which I guess will become `nassign_casette` or something...) with the number of stuck positioners that happen to land on a good sky location for each tile?

[2021-04-20 22:35] tskisner commented on #324
That is the basic idea.  The challenge is that the logical place for that to happen would be in the `Assignment` constructor which is C++, but we need to call an external python function.  So instead, I would modify the constructor:

https://github.com/desihub/fiberassign/blob/dced43beebe4c513bde055900ff06a696f4c73dc/src/assign.cpp#L17

To take a `std::map < std::map <int32_t, bool> > stuck_sky` a

[2021-04-21 14:18] tskisner commented on #194
There has been some email discussion about parking unassigned positioners near a "fully folded" position.  Not only does this place the location near the center where small discrepancies with the online system may reject the location, it is also not ideal to have a potentially large move.

For working positioners, we do not track the current location (so can't create a minimal move that is non-col

[2021-04-21 14:52] deisenstein commented on #194
Choosing a value around 120 seems reasonable to me.  Thanks!

On Wed, Apr 21, 2021 at 10:19 AM Theodore Kisner ***@***.***>
wrote:

[2021-04-21 15:39] dstndstn commented on #324
Fantastic, I love it when people do my homework for me ;)

[2021-04-21 15:41] dstndstn commented on #324
PS, would you ever consider typedef'ing tileid, locid, targetid types?  Currently there are lots of `map<int32_t, ...>`s floating around where it's not entirely obvious at first glance what the indices are.  I guess they're actually all of the form `[tileid][locid]`, so it's not as ambiguous as it might seem on the surface.  And the concreteness of int32 simplifies understanding the code.

[2021-04-21 17:40] tskisner opened #329 "Add inner buffer around positioner center"
We should add an inner buffer zone to not consider targets near the positioner center.

[2021-04-21 17:41] #3 closed

[2021-04-21 20:27] tskisner commented on #329
Quoting an email from Joe on 4/21/21:

We already use a 200um buffer when considering targets near the maximum patrol radius, and so it sounds like we should enforce an inner 200um buffer as well.

[2021-04-21 20:28] tskisner commented on #194
Quoting an email from Joe on 4/21/21:

[2021-04-21 20:54] julienguy commented on #214
If this question is still open, there is a preference of 1 per slit block because
 1) we do see correlated sky residuals in the frames with a correlation length close to 25 fibers (size of a block).
 2) there are genuine discontinuity of wavelength solution and PSF shape between slit blocks because the glass blocks are not perfectly aligned along the slit.

[2021-04-21 21:08] djschlegel commented on #214
The simplest implementation would be to demand 2 skies per slit block, giving the number number of 40 skies per spectrograph.  I'd suggest we start with that implementation, and then see how well it works when running fiberassign on the real full-sky catalogs.

[2021-04-21 21:30] tskisner commented on #214
In terms of implementation there is no difference.  We are switching our counters from being indexed by "petal" to being indexed by "something else".  Currently when assigning a location, we lookup the petal for that location and increment the counter for the petal.  Instead we will look up the slitblock or cassette for that location and increment the counter indexed on that.

We have the slitbloc

[2021-04-21 21:43] djschlegel commented on #214
I suspect a cassette can be non-adjacent slitblocks; I don't recall.  Regardless, let's go with Julien's suggestion of using the slitblock.

[2021-04-21 21:51] deisenstein commented on #214
Since we are hopefully going to have some skies from non-moving
positioners, how many such positioners do we need in a slitblock before we
would decide to have 1 positioned sky instead of 2?  To have 0?

A concrete proposal would be 2 non-moving fibers to offset one moving
fiber.  And then require 2 moving per block (so 2 non+1 move, or 4 non,
would suffice).

On Wed, Apr 21, 2021 at 5:44 PM David

[2021-04-21 22:06] djschlegel commented on #214
Daniel-- We'll be pre-determining which nonfunctional positioners are good skies.  So it's better than that, and more like 75% will be good skies.

[2021-04-21 22:14] djschlegel commented on #214
If we require 2 skies per slitblock (and only count 2 per slitblock), and if 75% are on good sky locations, that will typically count for 181 skies.  Different schemes don't actually give us many more -- if we counted up to 4 per slitblock, that's only 208 skies typically.
<img width="573" alt="Screen Shot 2021-04-21 at 3 11 35 PM" src="https://user-images.githubusercontent.com/7918018/115627696-4

[2021-04-21 22:27] deisenstein commented on #214
Great.  That seems reasonable to me.  So we can expect about 220 working
fibers (5%) to go to sky.

On Wed, Apr 21, 2021 at 6:15 PM David Schlegel ***@***.***>
wrote:

[2021-04-22 04:32] sbailey opened #330 "large fiberassign vs. platemaker XY mismatches"
In some cases there are large mismatches between the fiberassign predicted X,Y and the platemaker requested X,Y.  e.g. from @deisenstein looking at night 20210418 expid 00085353.
![image](https://user-images.githubusercontent.com/218471/115653559-375cbd80-a2e4-11eb-90c6-a22b613ba3b0.png)
From raw data headers this had ADC1PHI = 220.079999 and ADC2PHI = 224.719997 and HEXPOS  = '1154.8,-434.1,318.7

[2021-04-22 04:56] sbailey opened #331 "radec2xy not considering airmass squashing term"
IIUC, the RA,dec -> x,y conversion happens in [fiberassign::Hardware::radec2xy](https://github.com/desihub/fiberassign/blob/dced43beebe4c513bde055900ff06a696f4c73dc/src/hardware.cpp#L343), which does not seem to have any knowledge of the potential airmass of the observation (although it can't know the hour-angle, given the latitude of the observatory and the dec of the tile it could know the minim

[2021-04-22 06:02] tskisner commented on #331
Just to summarize in the current code, radec <--> xy conversion:

https://github.com/desihub/fiberassign/blob/dced43beebe4c513bde055900ff06a696f4c73dc/src/hardware.cpp#L439
https://github.com/desihub/fiberassign/blob/dced43beebe4c513bde055900ff06a696f4c73dc/src/hardware.cpp#L343

Is indeed in the C++ code, but when converting between radial angle and arc length it uses the platescale from desimode

[2021-04-22 06:16] tskisner commented on #330
Just to review a few things.  The FIELDROT value is computed using a function from desimodel:
https://github.com/desihub/fiberassign/blob/dced43beebe4c513bde055900ff06a696f4c73dc/py/fiberassign/tiles.py#L85

The "observation time" is either overriden at run time for all tiles, or a OBSDATE column in the footprint file is used if it exists, or else a date is chose in the middle of the survey:
https

[2021-04-22 21:09] dstndstn commented on #324
I think I've got this working!  On SV3 tile 190 test,
415 of 567 stuck positioners land on good sky

Before: 477 sky 3794 science
After: 157 sky 4116 science

One question: it seems like it would be useful to track in the output table the stuck fibers we thought would land on good sky.  Is there a bit I can latch on to for that?

[2021-04-22 21:20] djschlegel commented on #324
AWESOME!   The question of how to make these identifiable in the fiberassign files is a good one.  It may be enough to assign these a negative TARGETID (as we do for all non-working positioners) but set OBJTYPE='SKY'.

[2021-04-22 22:57] tskisner commented on #324
Yes, please let's use the existing columns if possible and not change the format again...  I like @djschlegel 's suggestion.  Also there was some commentary on #214 that was more relevant to this issue.  Essentially about whether we should treat these "accidental skies" as "real" skies or something else (e.g. "half a sky").

Originally I was against this, but there are two factors that would make

[2021-04-22 23:01] tskisner commented on #214
Ok, it seems like we have converged to using a slitblock rather than a cassette as the unit to balance over.  The actual number per unit (slitblock) is a high-level parameter which is user-specified by the calling code or commandline.

[2021-04-24 00:30] sbailey opened #332 "update/simplify support for fba_plot_results"
fba_plot_results currently requires a few extra steps to work on gzipped fiberassign files, plus combining with information from tiles files in other locations.  Instructions from an email from Ted:

[code]

For consideration:
  * Personally I would find it more convenient if there was an option for fba_plot_results to work on a single input file given as an explicit input rather than the combinat

[2021-04-26 05:52] sbailey commented on #330
I updated the original post — I had mixed up field rotation (rotation between CS5 +y and +dec on the sky) with hexapod rotation.  i.e. they are related but they are different things and shouldn't numerically match.  None-the-less, we still have x,y prediction mis-matches due to
* airmass "field squashing" (#331)
* ADC settings assumptions (AFAIK fiberassign doesn't try to guess what the ADC settin

[2021-04-26 19:14] araichoor commented on #323
I think this is on Ted s plate; from my understanding (ie reading Ted s comment on this ticket), this has not been fixed.
Ted, please let me know if I can help on this one.

[2021-04-28 18:25] dstndstn commented on #325
I dug into these and have the following device_ids of the central devices in these hexes:

Device 7520 is M02582
Device 7035 is M03554
Device 7344 is M03802
Device 7377 is M03979
Device 7182 is M04217
Device 3510 is M03294
Device 432 is M06783
Device 4070 is M05152
Device 9281 is M07416

[2021-04-28 20:50] dstndstn commented on #323
I was digging into another issue (#325) and stumbled upon this.

The proximal cause seems to be that hw.thetaphi_to_xy is returning None,None for the X,Y positions, which turn into NaNs, which then get converted into RA,Dec NaNs as well.  This can happen for UNASSIGNED as well as STUCK/BROKEN positioners, and occurs because theta or phi are outside the min/max ranges.

[2021-04-28 21:03] tskisner commented on #323
Thanks for digging on that- strange since the theta / phi angles passed to that function for such positioners are either the fixed angles from the DB (for the case of stuck / broken) or should be the "parking" angles for unassigned positioners, which (I thought) were chosen to always be in the allowable range...

[2021-04-28 21:04] dstndstn commented on #323
Here's one example (in fact, one of the ones in the center of a hex that is bad in #325...):

thetaphi_to_xy failed: out of range:
phi bad: phi 3.1765, phi_0 -0.126728, min 2.1164, max 3.1765
diff_hi 3.30323, diff_lo 2.97996
Loc 432 : STUCK or BROKEN fiber; X,Y None None
  pos args: (43.38153393173591, -350.8650990786089) -3.380494714968659 3.1764992386296798 3.227534055709839 3.2244186401367188 -

[2021-04-28 21:07] dstndstn commented on #323
So maybe the fixed PHI values for these BROKEN positioners are set to MAX rather than MAX-PHI_0 ?

[2021-04-28 21:26] tskisner commented on #323
Looking at comments in the DB dump files...
[code]
So it seems that `POS_T` / `POS_P` are relative to the same starting angle as the `MIN_*` / `MAX_*` values.  When testing for valid theta / phi values:

https://github.com/desihub/fiberassign/blob/41e0aa67593e511acec6a18060186acbd92d954a/src/hardware.cpp#L567

I look at the difference of the angle compared to `OFFSET_T` / `OFFSET_P` (i.e. theta /

[2021-04-28 21:33] tskisner commented on #323
Also, note that for restricted positioners, the `eo_phi` angle in the dump is relative to the coordinate frame along the theta arm.  So to get the restricted positioner `MIN_P` angle, the offset is subtracted when syncing:

https://github.com/desihub/desimodel/blob/8a36c7d83c2421a50d24cc51823bd474578cd768/py/desimodel/inputs/focalplane_sync.py#L317

[2021-04-29 13:45] dstndstn commented on #323
Wait a minute.

Your reading is that MIN_T <= POS_T <= MAX_T, but that POS_T should be offset by OFFSET_T when doing geometry on the focal plane, yes?

Then shouldn't outside_theta_phi_range be just that *trivial* comparison?

And by the way, in the 2021-03-17 database dump, 24 positioners have POS_T and POS_P values that fail that criterion!  (23 of them are either NONFUNCTIONAL or not(FIBER_INTA

[2021-04-29 17:48] tskisner commented on #323
From a slack chat with Kevin:

Ongoing discussion about whether DB dump should include both the max and targetable ranges, or whether we should just treat POS T/P values as always valid.

[2021-04-30 18:25] sbailey opened #335 "auto-lookup sky locations instead of using sky catalog even for good positioners"
Now that @dstndstn has implemented the on-the-fly lookup for whether stuck positioners are pointing at a blank sky location, this opens up the possibility of deprecating the DR9-based sky catalog and always looking up on the fly.  Several cases:
  1. stuck positioner at fixed (x,y) projected to fixed (ra,dec) -> sky or not?
  2. bad phi motor, but can reliably rotate in theta: search a circle in (

[2021-04-30 23:19] sbailey commented on #335
Good point about watching out for performance.  My initial pseudo-algorithm idea was:
1. start with only fibers that we might want to assign to sky locations
2. make a grid of (ra,dec) points that the fiber covers
3. trim to those points that cover sky locations
4. project those sky locations to x,y
5. loop through those x,y locations until finding one that doesn't collide with neighbors, breaking

[2021-04-30 23:32] tskisner commented on #335
Some comments:

for (1), you don't know that subset of fibers ahead of time, since you don't know which fibers are assigned to targets that might get bumped for sky.

The rest of the steps are basically what is already done in the code (including randomly trying the sky locations based on subpriority), except using RA/DEC points loaded from a giant FITS file.  In the C++ memory, each target takes

[2021-05-01 08:50] tskisner commented on #332
Work in progress in #336.  Basically the new syntax there is:
[code]
With generated PDFs named after the root name of each file.

[2021-05-04 04:58] sbailey commented on #335
Generating on-the-fly a bunch of skies covering the whole tile (and including the special cases for disabled theta and/or phi per positioner) is an interesting possibility; the limiting factor might be doing that while replaying on N>>1 mocks on M>>1 tiles (one tile currently requires reading O(100) skybrick files for full coverage).  Note that 1M targets is O(1GB) of skies, not O(1MB), but even 1

[2021-05-04 15:41] tskisner commented on #335
Thanks for thinking about this more @sbailey .  Currently the target properties (`Targets` class) and available targets for each tile (`TargetsAvailable` class) are computed before using the `Assignment` class.  A shared pointer to these is passed to the `Assignment` constructor.  The constructor then computes the X/Y target positions on each tile (this information is computed once and used repeat

[2021-05-04 19:33] sbailey commented on #335
Updates:
1. Dustin's skybricks are ~1deg2, so with edge effects a tile requires reading ~16 files instead of the O(100) I had originally estimated
2. Using https://github.com/desihub/desitarget/pull/722 I did some timing tests with SKYBRICKS_DIR=/global/cscratch1/sd/dstn/skybricks/ .  Looking up skies for a tile takes ~1.1 sec and scales with the number of files to read, not the number of targets

[2021-05-05 16:20] dstndstn commented on #325
This was resolved in #340; the issue was that some STUCK | BROKEN fibers had THETA,PHI values that were outside their MIN/MAX range, and therefore were determined to always collide with their neighbors.  Fixed it by removing that check on MIN/MAX for STUCK positioners (because hey, desimodel told us where they really are)

[2021-05-05 16:20] #325 closed

[2021-05-05 16:22] dstndstn commented on #324
Done in #337

[2021-05-05 16:22] #324 closed

[2021-05-05 16:23] dstndstn commented on #323
This was fixed as part of #340 -- if a STUCK/BROKEN positioner had a THETA/PHI outside its MIN/MAX range (which can happen), then its coordinate transformations bailed out, and we ended up with NaNs in the output file.

[2021-05-05 16:23] #323 closed

[2021-05-05 16:26] dstndstn commented on #238
I believe this was fixed as part of #340.

Another possibility (that I've run into!) is that if the focal-plane model changes between fiberassign and plotting and you don't set --rundate consistently, then the fiber states can change underneath you.

[2021-05-05 16:27] dstndstn commented on #214
Done in #338

[2021-05-05 16:27] #214 closed

[2021-05-05 16:28] dstndstn commented on #194
150 deg was implemented in #340

[2021-05-05 16:29] dstndstn commented on #151
FIxed (#338 and other previous improvements)

[2021-05-05 16:32] tskisner commented on #151
So much has changed that I think we should close this now and open a new issue if there are additional problems.

[2021-05-05 16:32] #151 closed

[2021-05-05 19:22] araichoor commented on #323
I confirm that with the large runs I did with the stuck+sky branch, there are no more NaN in TARGET_RA, TARGET_DEC in the fiberassign-TILEID.fits.gz.
I checked the ASSIGN extension for all tiles from a SGC run.
perfect.

[2021-05-06 20:44] araichoor commented on #304
@sbailey @geordie666:
As a follow-up of this morning call, I confirm that those GAIA_STD targets live only in the backup catalogs (/global/cfs/cdirs/desi/target/catalogs/gaiadr2/0.57.0/targets/sv3/resolve/backup), i.e. there are none in the targets folders of the bright/dark programs (/global/cfs/cdirs/desi/target/catalogs/dr9/0.57.0/targets/sv3/resolve/{bright,dark}).

Currently fba_launch only r

[2021-05-06 20:53] geordie666 commented on #304
Sorry, I totally missed this issue!

I think the "regular" standards are significantly superior to the Gaia-only standards, because they use Legacy Surveys colors to help with the selection box.

I would have no problem "topping-up" standard stars by using the Gaia-only standards at lower priority, but I think we should always try to reach full coverage with the regular standards and only add the

[2021-05-06 20:56] araichoor commented on #304
yes, the idea was to use gaia standards in case of a lack of dr9 standards, ie have a two-priority approach; but that requires surgery in the c++ code.

[2021-05-06 21:27] tskisner commented on #304
Referencing your "surgery in the C++ code", do we really need to define a new fiberassign target type?  Why not just add the Gaia-only targets at lower priority than any normal standards?  That way they will only be used to meet the standards budget if there are no regular standards available.

[2021-05-06 21:32] araichoor commented on #304
If I m correct, standards have no priority (priority=-1), they are dealt with in a special way:
https://github.com/desihub/desitarget/blob/073e430c0c148756c0d2e79fcb28cf0b2c4ab589/py/desitarget/sv3/data/sv3_targetmask.yaml#L231-L236
https://github.com/desihub/desitarget/blob/073e430c0c148756c0d2e79fcb28cf0b2c4ab589/py/desitarget/sv3/data/sv3_targetmask.yaml#L285-L288

[2021-05-06 22:06] tskisner commented on #304
In fiberassign, the target table is loaded and any priority values are simply used.  So if the standards catalog has a priority column then it already works with fiberassign

[2021-05-06 22:08] geordie666 commented on #304
So if I change the Gaia-only standards to have a priority of -2, fiberassign would understand that the Gaia-only standard should be assigned after the regular standards (which have a priority of -1)?

[2021-05-06 22:52] tskisner commented on #304
Ok, I see the problem now.

When loading target tables, fiberassign uses the PRIORITY column if it exists, else it uses PRIORITY_INIT, or if neither column exists it sets priority to zero:

https://github.com/desihub/fiberassign/blob/a0cc61b227e954ea554ab65bb374733e762703e8/py/fiberassign/targets.py#L642

Later, all target (including standards) are assigned according to their "total_priority":

ht

[2021-05-13 14:54] dstndstn commented on #330
I think we have resolved this as of the fiberassign test tiles of 2021-05-12 (tiles 81100-81107) demonstrating good performance when observing at the designed HA.

[2021-05-13 15:49] dstndstn commented on #329
Done in 01206c1

[2021-05-13 16:59] sbailey commented on #332
implemented in PR #336; closing.

[2021-05-13 16:59] #332 closed

[2021-05-13 18:05] sbailey commented on #329
Reopening this ticket, since commit 01206c1 implemented this as effectively

    exclude r < max(|R1-R2|, buffer)   #- default buffer=200 um

which is different from Joe's recommendation of

    exclude r < |R1-R2| + buffer

i.e. the buffer is intended to be *in addition to* what we can't reach due to |R1-R2|, not a floor on that.

He also notes that "We can negotiate on the value for buffer, but

[2021-05-13 18:19] dstndstn commented on #329
changed to this 6e78851

[2021-05-13 18:45] #329 closed

[2021-05-15 01:04] araichoor opened #357 "fba_launch arguments: hyphens converted to underscores"
in fba_launch, we store the calling sequence in the FAARGS header of fiberassign-TILEID.fits.gz, so that we can re-produce the fiber assignment, which is important for LSS.

though, currently, in the FAARGS value, the hyphens in the argument names are converted to underscores (e.g., --margin-pos to --margin_pos), which prevents a simple use of that FAARGS.

this is done here: https://github.com/de

[2021-05-17 23:31] araichoor opened #358 "fba_launch_io.py: move away from write_targets() and write_skies()"
After having read the desitarget catalogs / MTL ledgers, we currently write the TILEID-{gfa,targ,scnd,too,sky}.fits files with the desitarget routines write_targets() and write_skies().

We realized that doing this involves an overwriting of the desitarget original SUBPRIORITY column (with picking a reproducible random number).

We need to not use anymore those desitarget routines when writing tho

[2021-05-17 23:33] araichoor opened #359 "desi_fa_smallrun: update to current MTL update behaviour."
In desi_fa_smallrun, we update the observation status after having run each pass, with some custom lines mimicking the MTL updating behaviour.

Though the MTL updating has been evolving in the meantime, hence the current coding in desi_fa_smallrun is not correct anymore (e.g. currently, an observed qso-tracer will have NUMOBS_MORE dropped to 0 after one observation).

We need to update desi_fa_sma

[2021-05-18 06:13] araichoor opened #360 "fba_launch_io.get_viewer_cutout(): possibly hanging wget"
In the QA routines, there is a call to wget to extract a cutout from the legacysurvey viewer.
There currently is no handling of the case where the command hangs (noticed e.g. for backup tiles outside the ls footprint).

That causes issue when massive parallel runs are done (and would also be problematic in case of fiberassign-on-the-fly).

A fix is done in https://github.com/desihub/fiberassign/tr

[2021-05-18 15:02] dstndstn commented on #331
Done in #348

[2021-05-18 15:02] #331 closed

[2021-05-18 15:04] dstndstn commented on #330
Bravo to Julien for the fine-scale desimeter-to-platemaker adjustments in recent desimeter https://github.com/desihub/desimeter/commit/90020456d2419f86f007159bf8e6cb64c701ec46

[2021-05-18 15:04] #330 closed

[2021-05-18 23:51] sbailey opened #362 "LAMBDA_REF=5400 values are wrong"
In fiberassign 4.0.0 used for the start of the main survey, the LAMBDA_REF=5400.0 values are both unused and incorrect.  The actual assignments are based on x,y <-> ra,dec transformations tuned for the the GFA r-band filters around ~6400 A.

At minimum we should set this value correctly if/when we start applying chromatic offsets to PLATE_RA, PLATE_DEC (which currently exist as placeholders but ar

[2021-05-20 20:51] araichoor opened #363 "Record desimeter version in fiberassign-TILEID.fits.gz header"
While trying to make fba_launch work on my laptop, I noticed that (of course) desimeter is required.
Though, it looks like the desimeter version is not recorded in the fiberassign-TILEID.fits.gz header.

It probably should be added here, right? https://github.com/desihub/fiberassign/blob/1e74f15e039a24ce4747a85363157de190ae2897/py/fiberassign/assign.py#L272-L283

[2021-05-21 18:58] sbailey commented on #363
Good catch!  Indeed it is critical that we record the desimeter version.  I had added that to the default dependency checking list in `desiutil.depend.add_dependencies` without realizing that fiberassign was overriding that to a smaller list of packages to check and thus missing desimeter.

Fixed in PR #364.  @araichoor please take a look.

[2021-05-21 22:50] #363 closed

[2021-05-23 20:13] araichoor commented on #360
The fix has been merged (https://github.com/desihub/fiberassign/commit/9e9f1dd9f838621b7757e0f10f84101c90dc6fe4).
Closing the issue.

[2021-05-23 20:13] #360 closed

[2021-05-23 21:11] araichoor commented on #358
@sbailey @ashleyjross @geordie666  : the currently used desitarget routines nicely adds various information in the header of those TILEID-{gfa,targ,scnd,too,sky}.fits files (see example below).
do we want the new way of writing those files to reproduce the same header keywords?

the current fix is to use a simple call to fitsio.write(), so not adding those extra header infos.
if we want to have al

[2021-05-24 15:27] geordie666 commented on #358
@araichoor: [desitarget 734](https://github.com/desihub/desitarget/pull/734) already contains the option you're discussing. You can pass a [subpriority=False keyword](https://github.com/desihub/desitarget/pull/734/commits/9a63bf3da20509541b1943e13439e003c630d691) to turn off any `SUBPRIORITY` over-writing behavior.

[2021-05-24 15:31] araichoor commented on #358
awesome! I think I ll just add this subpriority=False in the calls to write_skies() and write_targets().

[2021-05-24 15:38] geordie666 commented on #358
I was hoping to get feedback from Aaron on that branch before merging it. But, I can merge it fairly soon anyway and fix anything later for the GFAs.

Note that there is a minor complication here, in that @sbailey has also implemented a similar idea in [desitarget 736](https://github.com/desihub/desitarget/pull/736). But, in any case, the functionality you need should exist soon in desitarget.

[2021-05-24 15:44] araichoor commented on #358
I think there is no rush, as long as we do this before the start of next lunation, right?

[2021-05-24 15:47] geordie666 commented on #358
Right, although the next lunation is already creeping up on us!

[2021-05-27 21:45] araichoor commented on #358
This is addressed in https://github.com/desihub/fiberassign/pull/366.
Closing.

[2021-05-27 21:45] #358 closed

[2021-06-15 10:18] zhengyun0215 opened #379 "meaning of different columns in the output fits file of fiberassign"
Hi all ！ We are trying to run mocks for SV3 . By using fba_run for our mock catalogue, we get outputs like “fba-000012.fits” . We want to figure out the meaning of each column to understand these output files in detail so that we can use some methods to test the fiber-collision effects . We found https://desidatamodel.readthedocs.io/en/latest/DESI_TARGET/fiberassign/tile-TILEID-FIELDNUM.html#hdu5

[2021-07-26 18:04] ashleyjross opened #384 "April 10th 2021 rundate issue"
In order to reproduce 20210410 SV3 fiberassign results, a rundate that is earlier than what is in the header of the fiberassign results is required. There was a hardware update just prior to the run and it is likely that the desimodel focalplane state was changed in svn but not updated at NERSC prior to running fiberassign.

In code, the fix is very easy (e.g., in python):
    rundate= fiberassign

[2021-08-19 22:06] sbailey opened #385 "duplicate negative TARGETID for stuck positioners"
## Duplicate negative TARGETIDs = bug

@AlexGKim discovered that we have duplicate negative TARGETIDs at different locations on different tiles, when TARGETIDs are supposed to be unique (even the negative ones).  This is due to a bug in [fiberassign.assign.write_assignment_fits_tile lines 308 - 313]( https://github.com/desihub/fiberassign/blob/802de4c853c29d104a676d925b74bda177989ab6/py/fiberassig

[2021-09-01 18:36] araichoor opened #387 "Handle potential override targets in default MTLTIME"
In current code (e.g. tag 5.1.1), the default MTLTIME used to query the ledgers is defined based on the latest TIMESTAMP in the per-tile summary file `mtl-done-tiles.ecsv`: https://github.com/desihub/fiberassign/blob/802de4c853c29d104a676d925b74bda177989ab6/bin/fba_launch#L661-L663

Though, with the soon-to-come introduction of override targets in the ledgers, that per-tile summary file TIMESTAMP

[2021-09-01 22:30] araichoor opened #389 "Non-reproducibility if focal plane model files not svn-updated (RUNDATE)"
In current (e.g. tag 5.1.1) fiberassign code, the default RUNDATE is set to datetime.now():
https://github.com/desihub/fiberassign/blob/802de4c853c29d104a676d925b74bda177989ab6/bin/fba_launch#L651-L652

However, this leads to non-reproducibility issue if the on-disk focal plane model files are not svn-updated when the fiberassign is run to design the tile.

That did happen for some SV3 tiles (http

[2021-09-01 22:48] araichoor opened #391 "Record when fiberassign was run for tile design"
With the pending PR#390 changing RUNDATE, the only keyword in the fiberassign-TILEID.fits.gz header tracking when the code was run to design the tile is PMTIME.

However, PMTIME is the time used to apply proper-motion correction (disabled for now).

To avoid a "double-meaning" of PMTIME, and offer flexibility to change PMTIME later, the addition of a new keyword (e.g. NOWTIME) tracking when the co

[2021-09-01 23:23] araichoor opened #393 "Reproducibility in reading the ToO.ecsv ledger"
The original pre-shutdown 2020 Main ToO.ecsv file (and SV3) do not have a TIMESTAMP column.

That is potentially problematic to rerun fiber assignment, as the ToO.ecsv file will evolve.
See https://github.com/desihub/desitarget/pull/761.

[2021-09-01 23:58] araichoor commented on #393
ah right, sorry I forgot about that TILE/FIBER type (even though you reminded it to me recently...)
thanks a lot for bringing that up!

I should then apply this TIMESTAMP cut only if `too_tile=False` in this create_too() function, ie when designing Main-survey tiles:
https://github.com/desihub/fiberassign/blob/802de4c853c29d104a676d925b74bda177989ab6/py/fiberassign/fba_launch_io.py#L1184-L1186
rig

[2021-09-02 00:02] geordie666 commented on #393
Correct, I think that if you only apply the `TIMESTAMP` for `TOO_TYPE==FIBER` targets, then everything will be OK.
[code]
Everything you say in the above is correct (there is also a ToO ledger in `$DESI_SURVEYOPS/mtl/sv3/ToO/`, but that's irrelevant to this discussion.

[2021-09-02 18:31] araichoor opened #395 "ToO: reproducibility of the MJD window"
Pinging @sbailey and @schlafly for advice.

For assignment, ToOs are selected based on a cut on `MJD_BEGIN`, `MJD_END`, with defining a desired MJD window.
In the current fba_launch code, we first define `mjd_now` based on `Time.now()`:
https://github.com/desihub/fiberassign/blob/feab4ed8b8ce8f0568c91b91213e698198c4a0ec/bin/fba_launch#L650
Then we define the MJD window (`mjd_min`, `mjd_max`) based

[2021-09-02 18:37] schlafly commented on #395
Can we foresee a future when the ToO requests will be different from Time.now() - 1 and Time.now() + 30?  If so, let's do approach 2.  I hate adding more arguments, but the ToO stuff does sound rather different from just "now."

[2021-09-02 18:45] araichoor commented on #395
thanks for the prompt feedback.
I don t really know for the -1, +30 values; I don t recall right now how the decision was made for those values, but it sounds not impossible to me that those could change in the future.
probably @geordie666 or @djschlegel have a better insight.

[2021-09-02 18:47] schlafly commented on #395
And, just trying to understand what we're doing... the ToO file
https://desi.lbl.gov/svn/data/surveyops/trunk/mtl/main/ToO/ToO.ecsv
specifies an MJD_BEGIN and an MJD_END.  I'd have guessed these were the MJDs where a spectrum of the ToO would be of interest.  Moving forward to fa-on-the-fly, we hope that we're observing the tile ~immediately after we design it.  So I might have guessed that create

[2021-09-02 19:04] djschlegel commented on #395
If still open for discussion, I would also prefer option (2).  Let's preserve TIMENOW as informational-only.

[2021-09-02 19:05] geordie666 commented on #395
I think @schlafly is correct about the philosophy of `MJD_BEGIN` and `MJD_END`. We really want those to define a window of time during which the ToO can be observed. If the time that we expect to observe the tile is within the range `MJD_BEGIN` to `MJD_END` then the ToO is a viable observation.

I think we hacked in the `Time_now()+30` for SV as we weren't necessarily sure when the tile would be o

[2021-09-02 19:16] schlafly commented on #395
Thanks.  Okay, @anand, I'd propose making PMTIME either the one argument to create_too or both the mjd_min and mjd_max arguments.  That assumes that we only ever want to set the PMTIME to be the expected time of observation, which sounds reasonable to me.  If we can foresee a world where we wouldn't want PMTIME to be the expected time of observation, let's add an additional argument TOOTIME.

Let'

[2021-09-02 20:07] araichoor commented on #395
[remark: my github identifier is @araichoor :)]

ok perfect, I ll keep tying `mjd_now` to `PMTIME` (i.e. as currently done in fba_rerun3).

and what about the MJD window?
currently it is define based on the `mjd_min=mjd_now-1`, `mjd_max=mjd_now+30`:
https://github.com/desihub/fiberassign/blob/feab4ed8b8ce8f0568c91b91213e698198c4a0ec/py/fiberassign/fba_launch_io.py#L1250

following @schlafly s comm

[2021-09-02 20:14] geordie666 commented on #395
Yes, that `keep` update looks correct to me. This seems the most efficient approach for ToOs if we're assigning tiles on a frequent basis.

[2021-09-02 20:22] araichoor commented on #395
ok great.
I think I ll make a dedicated PR to:
- tie `mjd_now` to `PMTIME`
- update the MJD selection with: `keep &= (d["MJD_BEGIN"] <= mjd_now) & (d["MJD_END"] >= mjd_now)`

that sounds cleaner/more trackable.

then the fba_rerun3 branch would just contain changes for re-run, so should not be a blocking factor to make some tests at KPNO.

[2021-09-02 21:11] araichoor commented on #395
For info, I ve submitted the following PR: https://github.com/desihub/fiberassign/pull/396.

[2021-09-03 03:36] araichoor commented on #387
This is addressed in the merged PR https://github.com/desihub/fiberassign/pull/388.

[2021-09-03 03:36] #387 closed

[2021-09-03 03:37] araichoor commented on #389
This is addressed in the merged https://github.com/desihub/fiberassign/pull/390.

[2021-09-03 03:37] #389 closed

[2021-09-03 03:38] araichoor commented on #391
This is addressed in the merged https://github.com/desihub/fiberassign/pull/392.

[2021-09-03 03:38] #391 closed

[2021-09-03 03:39] araichoor commented on #393
This is addressed in the merged https://github.com/desihub/fiberassign/pull/394.

[2021-09-03 03:39] #393 closed

[2021-09-03 03:40] araichoor commented on #395
This is addressed in the merged https://github.com/desihub/fiberassign/pull/396.

[2021-09-03 03:40] #395 closed

[2021-09-04 03:56] schlafly commented on #385
If we can get this into fiberassign for a new tag on Monday that would be great.  If I should take this, I can figure it out as well.

[2021-09-04 04:11] sbailey commented on #385
Yes, please go ahead and implement this and include it for the next tag.  I think the only thing needed is to change line 310:
[code]
to
[code]

I'm mostly offline for the weekend, so please don't wait around for a formal review from me.  Mentioning @dstndstn who I think was going to take care of patching the existing files with the same update.

[2021-09-04 04:13] araichoor commented on #385
for info, there already is a draft version of the patched files ([desi-survey 2962]).

[2021-09-04 04:15] schlafly commented on #385
Okay, I'll take this.  I said Monday, but I meant Tuesday; I'll also be mostly gone for the weekend.

[2021-09-07 03:31] schlafly commented on #385
I'll merge this
https://github.com/desihub/fiberassign/pull/397
early tomorrow.  It's just Stephen's one liner from above.  Stating the obvious, this will break backward compatibility in that new and old fiberassign files will be different.  But we're patching the old fiberassign files and this doesn't affect any movement of positioners on the mountain, so we're okay with that.

[2021-09-07 19:46] sbailey commented on #385
Fixed by PR #397.  Closing.

[2021-09-07 19:46] #385 closed

[2021-09-08 23:16] araichoor opened #399 "GFA duplicates error in fba_cmx"
In [desi-survey 2992], @forero reports the following error:

`fba_cmx --dr=dr9 --dtver=0.49.0 --seed=77 --faflavor=dithlost --outdir=./ --tilera=343.0 --tiledec=30.0 --tileid=89000`

[code]

This seems to be due to the sanity check added in https://github.com/desihub/fiberassign/pull/375/files.
A simple looks like doing something similar, i.e. not include gfafn in the run_merge() arguments.

[2021-09-09 16:05] araichoor commented on #399
Fixed in https://github.com/desihub/fiberassign/pull/400.

[2021-09-09 16:05] #399 closed

[2021-09-12 16:11] araichoor opened #401 "PR378 Change not propagated for fba_run --bytile"
https://github.com/desihub/fiberassign/pull/378 modified the returned quantities of `fiberassign.targets.targets_in_tiles()`, which now returns one additional quantity, `tile_xy_cs5`.

This change has not been propagated to `fiberassign.scripts.assign.run_assign_bytile()`:
https://github.com/desihub/fiberassign/blob/234403a6b5321af2490180e1fe8bcace78d1f3f1/py/fiberassign/scripts/assign.py#L452
whi

[2021-09-12 16:12] araichoor commented on #401
@dstndstn : I ll have a closer look today, and I can submit a PR.

[2021-09-15 03:13] araichoor commented on #401
fixed in https://github.com/desihub/fiberassign/pull/402.

[2021-09-15 03:13] #401 closed

[2021-09-15 03:14] araichoor commented on #384
fixed in fba_rerun_io.py in https://github.com/desihub/fiberassign/pull/398.

[2021-09-15 03:14] #384 closed

[2021-09-15 03:38] araichoor opened #403 "secondary: flux values not propagated"
Since the beginning of operations, the fluxes for secondary targets are not propagated in the fiberassign-TILEID.fits.gz.
The initial reason is the following:
- fiberassign first reads the ledgers (which have a minimal set of columns);
- then it reads the desitarget *fits catalogs to add other columns;
- however, the desitarget inflate_ledger() (now match_to_ledger()) routine for adding those colu

[2021-09-16 21:47] araichoor commented on #403
Fixed in PR https://github.com/desihub/fiberassign/pull/404.

[2021-09-16 21:47] #403 closed

[2021-09-18 19:08] araichoor opened #409 "fba_launch ArgumentParser fails on --tiledec -1."
The following call fails:
`fba_launch --dtver 1.1.1 --outdir ./ --survey main --program DARK --tileid 999999 --tilera 0 --tiledec -1.`
with:
`fba_launch: error: argument --tiledec: expected one argument`
whereas replacing `--tiledec -1.` by `--tiledec -1.0` works.

This looks like a argparse.ArgumentParser() issue; I do not know if there is a workaround.
I *think* it should not be a problem for th

[2021-09-20 16:24] schlafly commented on #409
I haven't tested this.  But my impression is that if we used the fba_launch --tilera=-1. --tiledec=-2. syntax, this would probably not be an issue.  So my tendency would be to call this working-as-expected in fiberassign, and perhaps open an issue on desisurvey to update fba-main-onthefly.sh to use that invocation syntax.  However, since you've tested that this never actually occurs in practice, I

[2021-09-20 20:02] araichoor commented on #409
I ve just tested: I confirm that using `--tiledec=-1.` works; so, perfect, no changes to be done on the fiberassign side.
so I ll close this issue.
for the desisurvey side, as https://github.com/desihub/desisurvey/blob/master/bin/fba-main-onthefly.sh is the only script calling fba_launch (right?), no changes are required either.

[2021-09-20 20:02] #409 closed

[2021-09-20 20:08] schlafly commented on #409
Yes, that is the only calling script.  But I could add --tilera=$RA there to be consistent here.

[2021-09-24 23:19] araichoor opened #410 "STD_WD included in the per-petal STD counting"
Apparently, for the main survey, fiberassign considers as "STD", to fulfill the --standards_per_petal requirement: STD_WD, STD_BRIGHT, STD_FAINT.
However, the reduction pipeline is not using STD_WD; so one wants to discard STD_WD from this counting.

My understanding:
- fiberassign.targets.default_main_stdmask() has this list of masks: https://github.com/desihub/fiberassign/blob/33c15ad9904091d185

[2021-09-25 03:32] araichoor opened #411 "Discard 18<G<19 STD_FAINT as std for Main BRIGHT tiles"
The current behavior is to consider at the same level STD_BRIGHT (16<G<18) and STD_FAINT (16<G<19) targets for Main BRIGHT and DARK tiles:
https://github.com/desihub/fiberassign/blob/33c15ad9904091d185e6329a7f6f6e2575e81ed1/py/fiberassign/targets.py#L230-L237

Quoting from @djschlegel :
The STD_BRIGHT,STD_FAINT behavior on the dark tiles in correct.  Most standards are labeled as both.  On the bri

[2021-09-25 04:19] araichoor opened #412 "code version check in python"
In several places, the (fiberassign, desitarget, etc) code version is tested with a plain alphabetical string comparison test, e.g.:
https://github.com/desihub/fiberassign/blob/33c15ad9904091d185e6329a7f6f6e2575e81ed1/py/fiberassign/fba_launch_io.py#L38
That will not work for e.g. "1" < "10".

A possible fix would be to use the `packaging.version()` function; besides, "master" version would need a

[2021-09-28 04:43] sbailey opened #413 "Set EBV for all fibers"
Fiberassign is currently using EBV=0.0 for some targets, apparently including all OBJTYPE='SKY', 'BAD', and '' targets, but also some science targets (OBJTYPE='TGT').  I'm guessing that this is just propagated from input targeting that may be missing EBV columns or have defaults of 0.0, but it would be helpful to catch these cases and use `desiutil.dust.SFDMap` to lookup E(B-V) values.

This impac

[2021-09-28 05:14] djschlegel commented on #413
This happens for all flavors of sky targets (SKY,BAD_SKY,SUPP_SKY) as well as targets that are secondary targets with "OVERRIDE" set to not take the DR9 targeting information.  This should not occur for anything else.

[2021-09-28 07:08] araichoor commented on #413
**Foreword:**
The EBV column is not in the columns affected by the patched listed by @dstndstn in [desi-survey 2962].

**TGTs with EBV=0 in fiberassign-TILEID.fits.gz files:**
A complementary way to say this: those are either stand-alone secondaries or ToOs.
Because EBV, which is not in the ledgers, neither is in the static desitarget catalogs for secondaries (and there is no static catalogs for T

[2021-09-28 15:21] geordie666 commented on #413
If needed, I could also add E(B-V) to the ToO ledger. Just let me know.

[2021-09-28 21:39] sbailey commented on #413
Let's not do option (b) because (if I understand correctly) it involves writing a file, and then reading it back in, updating it, and writing it back out under the same name, raising the possibility that you don't know which version of the file is really there.  We could use a different intermediate file name, but that still seems awkward just to update a column.

I was hoping for something like a

[2021-09-28 21:50] araichoor commented on #413
First: note that in fba_launch, I already re-open fiberassign-TILEID.fits.gz after it has been written, to add some informations in the header:
https://github.com/desihub/fiberassign/blob/33c15ad9904091d185e6329a7f6f6e2575e81ed1/bin/fba_launch#L372-L386

But it looks like I could actually populate the EBV=0 rows with correct values in the outdata array, just before it is written in the FIBERASSIGN

[2021-09-28 23:02] araichoor commented on #413
I ve made a PR for that: https://github.com/desihub/fiberassign/pull/414.
We can continue there the discussion on how to implement that.

[2021-09-28 23:51] araichoor commented on #410
[discussion potentially also relevant for https://github.com/desihub/fiberassign/issues/411]

The non-trivial point here is to ensure backward-compatibility.
I m not sure to see how we can avoid to add a switch on a date (nowtime? rundate? mtltime? ...).

_Note that we would then need to make sure that the cut off date in the PR is before we actually design the tiles with the new tagged version; o

[2021-09-28 23:51] araichoor commented on #410
Shall I try that?

[2021-09-29 00:36] araichoor commented on #413
Addressed in merged PR https://github.com/desihub/fiberassign/pull/414.
Closing.

[2021-09-29 00:36] #413 closed

[2021-09-30 20:25] araichoor commented on #410
@schlafly @schlegel: given that no suggestion came up, I ll go ahead and implement what I suggest, i.e. add a `if rundate < rundate_cutoff: ... else: ...` switch in `default_main_stdmask()`, with propagating the rundate argument down to that function.
I can do that ~now.
Note that I ll also do something similar to solve the issue https://github.com/desihub/fiberassign/issues/411, i.e. propagate do

[2021-09-30 22:26] schlafly commented on #410
For the STD_BRIGHT vs STD_FAINT thing, I haven't fully understood if we're doing what we want.  My sense is that we'd rather have brighter standards than fainter standards always.  If such a change were made I don't think we'd want to get rid of STD_FAINT for BRIGHT; they're just a fall back if not enough standards are available.

In practice we're taking both with no priorities, but it's not obvi

[2021-09-30 22:32] schlafly commented on #410
The alternative to passing rundate through the long call stack would be to specify stdmask at the top of that call stack.  That would have the negative consequence that the default is wrong, but would save passing a new argument through a long call stack.  Your call.

[2021-09-30 23:15] araichoor commented on #410
thanks for the suggestion; I think I ll keep the rundate propagation, as we ll also need that for the STD_BRIGHT/STD_FAINT change.
btw, I "transfer" that discussion about standards to https://github.com/desihub/fiberassign/issues/411.

[2021-09-30 23:16] araichoor commented on #411
Copying here comment made on https://github.com/desihub/fiberassign/issues/410 by @schlafly:

"For the STD_BRIGHT vs STD_FAINT thing, I haven't fully understood if we're doing what we want. My sense is that we'd rather have brighter standards than fainter standards always. If such a change were made I don't think we'd want to get rid of STD_FAINT for BRIGHT; they're just a fall back if not enough

[2021-09-30 23:50] araichoor commented on #411
Thanks for that input.
As you say, I think fiberassign does not know about priorities for the standards, those are just dealt with as a single set for the assignment.
So the options would be to either keep things as they are or remove the 18<G<19 STD_FAINT for the bright tiles (and backup also?).

What I could do:
- first implement discarding STD_WD in the std counting;
- then run for a set of bri

[2021-10-01 00:20] araichoor commented on #410
I m thinking to add a small function to control this cutoff date.
It would have the advantage that it can be queried throughout the code.
For this specific case, I d also need to use that cutoff date in `fba_launch_io.py,` when producing the qa plot.

But I can imagine it can be useful in the future, as we may face other cases where we would implement changes with a check on some date (rundate, mt

[2021-10-01 00:44] djschlegel commented on #411
That would be great.  If keeping only STD_BRIGHT delivers enough standards on all tile+petals, then we have a simple solution of just dropping STD_FAINT on the bright-time tiles.  Otherwise, we're in a situation where the logic would need to be somewhat more complex since there are already priority considerations on the targets that get bumped.  I suppose we would have to run through the loop of a

[2021-10-01 08:15] araichoor commented on #411
Ok, so here is a report of that small exercise; happy to discuss that tomorrow.

**Foreword:**
- STD_FAINT are 16 < G < 19;
- STD_BRIGHT are a subsample of STD_FAINT, with 16 < G < 18;
- In the main/bright catalogs, STD_FAINT-only all also are MWS_MAIN_BLUE; MWS_MAIN_BLUE has PRIORITY=1500, NUMOBS=2.

**Method:**
I did run for the 1427 bright pass=0, in_desi, tiles the fiber assignment, with runda

[2022-03-04 21:52] sbailey opened #423 "TARGETID inconsistent with BRICKID, BRICK_OBJID"
Fiberassign files in the range 4-596 and 80615-81115 have some targets with BRICKID, BRICK_OBJID that is inconsistent with those encoded in TARGETID, as decoded with `desitarget.targets.decode_targetid(targetid)`.  Most but not all of these are secondary targets and I suspect are a leftover of issue #403 or #375.  Curiously some have (SV3_)DESI_TARGET=0 which also seems problematic (a target with

[2022-03-04 22:55] geordie666 commented on #423
For context:

Anything which has `SV3_DESI_TARGET==4611686018427387904` (_just_ the `SCND_ANY` bit of `2**62` set) is a "secondary only" target, or what I like to call a "standalone secondary". The other TARGETIDs (`43977491483722165`, etc.) look like they all have `RELEASE=9999`, meaning they are Targets of Opportunity.

For all of these targets, any `BRICKID` and `BRICK_OBJID` columns that peopl

[2022-03-04 23:50] sbailey opened #424 "patch svn fiberassign with FLUX_IVAR_W1/W2"
Fiberassign files generated before 20210316 (I think those prior to tag 2.1.1) do not have FLUX_IVAR_W1 and FLUX_IVAR_W2 even for targets where they are available in the input target files.  It would be really convenient downstream if we could patch the fiberassign files in svn to include these columns, at least for sv1 tiles.  Currently desispec patches these at the very end when stacking redshif

[2022-03-04 23:59] araichoor commented on #423
Just trying to understand / clarify the situation, I ve digged a bit more in the example SV3 fiberassign-000010.fits.gz file.
There are 335 identifed `bad` rows in that example: 309 standalone secondary and 26 ToOs.

Standalone secondary targets:
[code]
If I understand @geordie666 message, the `decode_targetid` should not be used on those, so it s not a problem to have `fa["BRICKID"] != brickid`.

[2022-03-05 00:23] geordie666 commented on #423
One clarification: Although I agree in both cases that it's not a problem to have `fa["BRICKID"] != brickid` I would certainly prefer if that was because `fa["BRICKID"] == 0` (or some other null value).

`decode_targetid()` _can_ and _should_ be used in those cases. The resulting values of:
[code]
Are _completely meaningful_. The `o` and `b` just shouldn't be construed to correspond to `BRICKID` o

[2022-04-19 23:39] araichoor opened #427 "nosteps in fba_rerun"
Apparently the handling of the steps/nosteps arguments in `fba_rerun` is not properly done.
In `fba_rerun`, steps/nosteps are arguments of the script, ie can overrule what is stored in the fiberassign FAARGS header.
I guess the initial thought was for instance to disable the `qa` step when running reproducibility tests.

I tried to reproduce tileid=82637: this tile is a tertiary (prognum=1) file,

[2022-04-28 17:30] forero opened #429 "incomplete docstring for load_targets_table"
While trying to update this notebook

https://github.com/desihub/tutorials/blob/39ab3f17a648322e44c7ab932eead2edaeb335f8/FiberAssignAlgorithms_Part1.ipynb

to work under the 22.2 kernel, I found that the function `load_targets_table` now has three required inputs, instead of the two provided in the notebook. The new input seems to be `tagalong`, but the docstring in `load_targets_table` does not d

[2022-04-28 17:51] araichoor commented on #429
I think you re correct, the new entry is `tagalong`.
I believe that s been introduced by @dstndstn in this PR https://github.com/desihub/fiberassign/pull/353.
From a quick look at `target.py`, it looks that this newly introduced argument `tagalong` does not appear in the docstr of other functions (e.g. `load_target_file()`).

@dstndstn : do you confirm? if so, one should update the docstr.
If you

[2022-04-29 13:33] forero opened #431 "Computing available targets"
I am updating the fiberassign tutorial here
https://github.com/desihub/tutorials/blob/39ab3f17a648322e44c7ab932eead2edaeb335f8/FiberAssignAlgorithms_Part1.ipynb

In that notebook the available targets are computed using a tree that comes from a C++ method (`TargetTree`) that used to be in fiberassign
[code]

That C++ internal method was replaced by scipy KDTree in PR #353.
What would be then the b

[2022-04-29 13:48] dstndstn commented on #431
Hi @forero , here's how tgsavail gets computed in the fa code:

https://github.com/desihub/fiberassign/blob/master/py/fiberassign/scripts/assign.py#L382-L394

so it looks like you need to call `targets_in_tiles`.

[2022-05-10 17:47] araichoor opened #432 "Left-over from row-mixing in patched fiberassign files"
Issue raised by @geordie666 @segasai, et al.
They initially discovered a discrepancy in guadalupe: targets that have `REF_CAT=="G3"`  have incorrect `REF_ID`, in the sense that the "source_id" in Gaia EDR3 does not correspond to the `REF_ID` in guadalupe.

It s a left-over from the initial fiberassign row-mixing, which was patched by @dstndstn (i.e. all affected `fiberassign-TILEID.fits.gz` files

[2022-05-17 17:12] araichoor opened #433 "Patch fluxes with zeros if not present in original catalog"
This is a follow-up for a particular case of this message: https://github.com/desihub/desispec/pull/1716#issuecomment-1123079670.

If my understanding is correct: when doing the patching, if the original catalog has no flux columns, no patching is done.
However, I think that one should actually "do some patching" with setting the flux values to zero; because otherwise, the "wrong" flux values will

[2022-05-17 17:18] araichoor commented on #432
@sbailey, following-up what s been discussed at the telecon:

The example case mentioned in https://github.com/desihub/fiberassign/issues/433#issue-1238935759 also gives a sense of what columns could be patched, in addition to `REF_ID` (you can see `REF_ID` is there, but also some other columns).
I ll have a closer look at that.

[2022-06-13 22:46] schlafly commented on #432
@dstndstn, any appetite to take another swing at patching these files?

[2022-06-16 14:22] dstndstn commented on #432
working on this now

[2022-06-16 15:05] dstndstn commented on #432
In short, I'm not really sure what we want to do here.  I don't want to plug in the Gaia-EDR3 REF_ID unless I also change TARGET_RA, TARGET_DEC, PMRA, PMDEC, PARALLAX, GAIA_PHOT_*_MEAN_MAG...
BUT we definitely don't want to be changing TARGET_RA,TARGET_DEC...

I suspect the correct thing is to update REF_CAT and REF_ID to the Gaia-DR2 entry, and ensure that all the other columns match the data in

[2022-06-16 16:00] geordie666 commented on #432
In my traditional role as resident disliker-of-patching, I'd say that the information that should appear for this target is the (incomplete) information from the original secondary targeting file:

"/global/cfs/cdirs/desi/target/catalogs/dr9/1.1.1/targets/main/secondary/dark/targets-dark-secondary.fits"

that will not include `REF_ID` or `REF_CAT`, which is correct as secondary proposers did not h

[2022-06-16 18:45] araichoor commented on #432
very nice catch, Dustin!
I think a way to "resolve" this is to look at the DESI_TARGET column (if a main tile; otherwise pick the relevant one from `desitarget.targets.main_cmx_or_sv(()`): because that column should be in the original set of columns that fiberassign carries on from the start, ie it should be right.
If DESI_TARGET != 0, then the original catalog cannot be a GFA one, as the GFA cata

[2022-06-16 19:06] geordie666 commented on #432
Yes, that makes sense for determining whether an entry is for a GFA or not. As Anand states, GFAs will not have a `DESI_TARGET`-like column.

As Anand also correctly stated, `DESI_TARGET` is set to `SCND_ANY` for ToOs, so has a non-zero value.

[2022-06-16 19:54] dstndstn commented on #432
Just to reiterate the weirdness we've got going on here.

The GFA files are just weird.  They appear to have Gaia-DR2 RA,DEC coordinates, but EDR3 PMRA, PMDEC, PARALLAX values.

Although many sources in Gaia DR2 and EDR3 have the same source id, this is not *necessarily* the case.  In this particular example, the IDs are the same, so I can't say which catalog values came from.

The fiberassign fil

[2022-06-16 20:35] geordie666 commented on #432
Quote: `The GFA files are just weird. They appear to have Gaia-DR2 RA,DEC coordinates, but EDR3 PMRA, PMDEC, PARALLAX values`

This is intended. Throughout DESI targeting, those interested in Milky Way science wanted to include the latest astrometric information from Gaia EDR3. But, those interested in extragalactic science wanted to maintain the information from Gaia DR2 so as not to have to rein

[2022-06-16 20:51] araichoor commented on #432
Rephrasing maybe more clearly my previous remark:

Rows in the FIBERASSIGN extension could only come from primary/secondary/too targets or sky targets, not gfa.
So, when patching things for FIBERASSIGN extension, we don't want to look at the gfa catalogs.

Does that make sense?

I m working today on making a as exhaustive as possible diagnosis of discrepancies.
Dustin s messages have been super-us

[2022-06-16 20:52] araichoor commented on #432
For this example (targetid = 39627830887190917), I second Adam s approach, i.e. patch with what a bug-free code would have done -- even though for this case, it would be less informative (blank fields) that we could in theory provide, but I think the situation is already complex enough...

[2022-06-16 20:57] geordie666 commented on #432
Quote: `I can't really argue with that, since currently both those fields are wrong ;) So blank would be better. But the correct Gaia-DR2 REF_CAT and REF_ID would be more useful to have, in my opinion!`

Re-seconding Anand:

We end up in these sorts of quandaries because we try to add extra information that was not intended to be included in certain files in the first place! I don't know that a se

[2022-06-16 21:23] dstndstn commented on #432
If you change "could" to "should", then I agree :)

(That's true now, but wasn't before #375; we used to fill in the FIBERASSIGN table with GFA data, which I assume must be where this bad REF_CAT and REF_ID originate in the first place.)

So I think we are converged on a philosophy :)

@araichoor, are you working on implementing this patching step?  ie should I be writing code or not?

[2022-06-16 21:28] araichoor commented on #432
"_we used to fill in the FIBERASSIGN table with GFA data_" => yes, that was the bug.
I meant, without the bug, the FIBERASSIGN shouldn t know about the GFA catalogs.
so I think we agree :)

I m working on making a diagnosis (basically, one large catalog with all identified discrepancies).
I d like to double-triple check that, as there are quite some cases handling.
once we re happy with that diagn

[2022-06-16 21:42] araichoor commented on #432
For instance, for this example case (`TARGETID=39627830887190917` on `TILEID=1099`):
This TARGETID comes from in `/global/cfs/cdirs/desi/survey/fiberassign/main/001/001099-scnd.fits`.
If I didn t mess up, I identify the following columns which should be corrected (to `0` or `""`), as none of those are in the `001099-scnd.fits` catalog:
(`ORIGVAL` is the value in `001099-scnd.fits`; I set it to `"n

[2022-06-17 00:13] araichoor commented on #432
still digging/fighting with that...

I came up on a strange case, where it looks like that the TARGET_RA, TARGET_DEC, REF_POCH in the FIBERASSIGN extension have been modified.
it s `TILEID=80609`, `TARGETID=39627805360653076`.

Here is the original and svn-stored files:
[code]

In the original file:
[code]

In the svn-stored file:
[code]

I ll investigate more, but sounds kind of weird...
it was f

[2022-06-17 04:53] schlafly commented on #432
This is probably more noise than signal, but the versions that we actually observed are in the raw data stream.  In this case, $DESI_ROOT/spectro/data/20201217/00068490/fiberassign-080609.fits.  I spot checked that the tiles observed on the first and last nights were the same; they are.  The files in
survey/fiberassign/SV1/20201212
don't seem to match the files in the raw data stream, though.

[2022-06-17 05:07] araichoor commented on #432
awesome, thanks for thinking of that check!
it could very be I re-ran this tile (or this set of tiles), and messed up in my folder book-keeping.

[2022-06-17 17:29] araichoor commented on #432
Digging/thinking a bit more on the discrepancies in `PRIORITY_INIT` and `NUMOBS_INIT`, as those are more critical for the fiber assignment:
- those are only for ToO targets;
- `PRIORITY_INIT`: the `fiberassign-TILEID.fits.gz` all have `0`, whereas the intermediate files have `9999`; however, the `fiberassign-TILEID.fits.gz` -- correctly -- have `PRIORITY=9999`; fiberassign uses `PRIORITY`, if pres

[2022-06-17 17:52] dstndstn commented on #432
Hi @araichoor , did you find that all the SKY_MONITOR and GFA_TARGETS hdus were okay, or did you not check them?  I won't touch them if you don't think there are problems :)

[2022-06-17 18:02] araichoor commented on #432
I do check them, and I don t find any discrepancy.

I restrict to `TARGETID>0` for my checks; but I think that s ok, as negative TARGETID could either be:
- -1 (for some gaia duplicates? or something like that; anyway, it s not unique, so there is no way to identify the source)
- broken/stuck sky fibers (for those, there is no information to propagate from the intermediate files).

Could it be tha

[2022-06-17 18:14] araichoor commented on #432
ok great; if I ve time, I ll try to dive in the code to confirm that.

about `REF_EPOCH`:
all the discrepancies have `ORIGVAL=0` and `FAVAL=2015.5`.
here, the `FAVAL` are "correct", in the sense that we intentionally force a non-zero `REF_EPOCH` in fiberassign.
here for the latest code version: https://github.com/desihub/fiberassign/blob/bf17ccb3ea8fb735579b1d0c9b37997fb8518c8f/py/fiberassign/fba_

[2022-06-17 18:47] araichoor commented on #432
about `PMRA` and `PMDEC`:

this affect 484+484=968 rows.
it s only for `TILEIDS=80972, 80974, 80975, 82634, 82635`, which come from `FAFLAVOR='specialm31', 'sv1dc3r2'`.
the difference in `ORIGVAL` and `FAVAL` is always smaller than 3e-7: I think it s because just some rounding issue, because`PMRA,PMDEC` have `dtype= ">f8"` in the intermediate files, and `dtype = ">f4" in the fiberassign files.

sp

[2022-06-17 18:49] araichoor commented on #432
unless further suggestions, I ll stop here for now; I ll check with @dstndstn how to proceed next week.

summarizing my findings:

I think we should fix those for the `FIBERASSIGN` extensions:
[code]
And maybe/optionally `496 PRIORITY_INIT`.

And we should fix all the found discrepancies in `TARGETS`:
[code]

[2022-06-18 06:43] araichoor commented on #432
my suggestion to use in some way the intermediate files for the patching relies on the assumption that those files in `$DESI_ROOT/survey/fiberassign` correspond to what has actually been observed...

so, following Eddie s nice approach for 80609, I ve checked that the `fiberassign-TILEID.fits.gz` files in `$DESI_ROOT/survey/fiberassign` actually match those in `$DESI_ROOT/spectro/data`.

they do,

[2022-06-21 16:17] dstndstn commented on #432
Hi Anand,

I have an initial result available.  I just ran that tile 1099 example.

New FA file:
/global/cscratch1/sd/dstn/patch-fa-2/001/fiberassign-001099.fits.gz

Summary file listing all changes (intentionally pretty similar to the table you showed above...):
/global/cscratch1/sd/dstn/patch-fa-2/all-patched-rows.fits

Any comments would be very welcome!

[2022-06-22 11:49] dstndstn commented on #432
Hi Anand @araichoor , I ran my code on all the fiberassign files and here are the total number of rows updated for each column.  These numbers are all a little different than what you have, but in the same ballpark.  I have the per-file counts as well, in `~dstn/fiberassign/patch-fa-stats.fits`, so we could drill down to individual files if you like.  I didn't do any special-case handling, so mayb

[2022-06-22 11:50] dstndstn commented on #432
(oh, or maybe I need to special-case the paths for SV[12] the way I had to for SV3.  I'll check.

[2022-06-22 13:26] dstndstn commented on #432
Hi Anand @araichoor , I ran my code on all the fiberassign files and here are the total number of rows updated for each column. These numbers are all a little different than what you have, but in the same ballpark. I have the per-file counts as well, in ~dstn/fiberassign/patch-fa-stats.fits, so we could drill down to individual files if you like.

FIBERASSIGN hdu:
[code]

TARGETS hdu:
[code]

[2022-06-22 13:37] dstndstn commented on #432
I'm starting to compare my "diffs" table to yours.  I'm sure you listed these above (I need to re-read this thread!) but I'm finding that I have these tiles that you don't:
[code]
while you have these ones that I don't!
[code]

[2022-06-22 16:09] moustakas commented on #433
For the record, this ticket also affects https://github.com/desihub/desispec/pull/1716 (see also #432).

Specifically, there are 20 targets (all from `/global/cfs/cdirs/desi/spectro/redux/fuji/zcatalog/ztile-sv1-other-cumulative.fits`) which have non-zero *grz* fluxes in the fibermap tables (and possibly other quantities) which should in fact be zero.

Here is a summary table of these 20 objects (

[2022-06-22 18:59] araichoor commented on #432
one comment:
https://github.com/desihub/fiberassign/blob/7883219f7a3328a54683e60aadfd1fc03a79a2c0/bin/patch-fa-2.py#L51

for sv1, I had this approach to also create a `TILEID-std.fits` file for the standards, so you want to check for those also.
[code]

[2022-06-22 19:17] araichoor commented on #432
and here, I m not sure that the path will work for something different than sv3 or main:
https://github.com/desihub/fiberassign/blob/7883219f7a3328a54683e60aadfd1fc03a79a2c0/bin/patch-fa-2.py#L83-L88

if useful, that s how I identify where intermediate files are:
[code]
I get 6448 tiles; but note that not all designed tiles were observed.

I then select the list of observed tiles to consider as fo

[2022-06-22 19:20] dstndstn commented on #432
oh, yeah, sorry, I changed those lines, but hadn't checked in the code!

[2022-06-22 20:00] araichoor commented on #432
80615 intermediate files are here: `/global/cfs/cdirs/desi/survey/fiberassign/SV1/20201216`
80634 and 80635 intermediate files are here: `/global/cfs/cdirs/desi/survey/fiberassign/SV1/20210101`.
how come you miss those?

[2022-06-22 20:07] araichoor commented on #432
ok.
and, I don t remember if I ve already written that: 80615 has `FA_SURV="cmx"`, so your cmx cut will discard it:
[code]

[2022-06-22 20:25] dstndstn commented on #432
Okay, special-cased the location of 80615's files, and added the "std" file, and now I match your results!

[2022-06-22 22:52] dstndstn commented on #432
Okay, so on my re-run, I find that *all tiles match* in number of rows changed per column, for all tiles and HDUs, *except* for the `REF_EPOCH` and `NUMOBS_INIT`, `PMRA` and `PMDEC` columns.  AND, checking the values in Anand's diffs file against mine, I find the same final values.

[2022-06-23 21:05] dstndstn commented on #433
Hi @moustakas , if you want to kick the tires on my patched fiberassign files, please do so!
/global/cscratch1/sd/dstn/patch-fa-2/080/fiberassign-080974.fits.gz  etc

[2022-06-23 22:23] araichoor commented on #432
@dstndstn
sorry slow progress here…

summary (you may not like that): I m wondering if we d actually want to use the original desitarget catalog for patching, rather than the intermediate files.

I ve some preliminary comparison of svn fiberassign files vs. the desitarget catalogs:
[code]
it may still deserve a bit of cleaning (for stuff like `REF_EPOCH,PMRA,PMDEC,PARALLAX`).
but here is what I ge

[2022-06-24 00:01] dstndstn commented on #432
Is there an easy way to get the code to regenerate the intermediate files
(into a different target directory) for a tile?

On Thu, Jun 23, 2022 at 6:23 PM araichoor ***@***.***> wrote:

[2022-06-24 00:31] araichoor commented on #432
if it s a main tile, yes, that s easy, with `fba_rerun`, e.g. https://github.com/desihub/desisurveyops/blob/c782e30beadc18a42eac0274b35d98459b568269/bin/validate_lastnight_fba#L96

for a sv3 tile, hopefully this may work:
https://github.com/desihub/fiberassign/blob/master/bin/fba_rerun_example
but I cannot guarantee it works all the times...

for other tiles, it s a per-case thing.

[2022-09-14 16:37] araichoor commented on #423
doing my homework, I m re-reading all the fiberassign threads related to those bug issue.

for the record, about the sentence from @sbailey in the original message: "_Curiously some have (SV3)DESI_TARGET=0 which also seems problematic (a target with no targeting bits?)_"
=>
this is indeed another identified issue.
in the early days when we added ToOs, no ToO columns were propagated to the `fiberas

[2022-10-21 02:59] araichoor commented on #423
This is fixed in https://github.com/desihub/fiberassign/pull/436, used to do the second patching the fiberassign files.
Those patched fiberassign files will shortly be committed to svn, and will be used by future desispec productions (himalayas? iron, etc).

[2022-10-21 02:59] #423 closed

[2022-10-21 03:01] araichoor commented on #432
The PR https://github.com/desihub/fiberassign/pull/436, used to do the second patching the fiberassign files, fixes the above.
Note related to the discussion in this thread: we decided to do the patching using the desitarget files (not the intermediate files).
Those patched fiberassign files will shortly be committed to svn, and will be used by future desispec productions (himalayas? iron, etc).

[2022-10-21 03:01] araichoor commented on #433
This is fixed in https://github.com/desihub/fiberassign/pull/436, used to do the second patching the fiberassign files.
Those patched fiberassign files will shortly be committed to svn, and will be used by future desispec productions (himalayas? iron, etc).

[2022-10-21 03:01] #433 closed

[2022-10-21 03:04] araichoor commented on #429
The PR https://github.com/desihub/fiberassign/pull/430 addresses this ticket.

[2022-10-21 03:04] #429 closed

[2022-10-21 03:06] araichoor commented on #424
The PR https://github.com/desihub/fiberassign/pull/436, used to do the second patching the fiberassign files, fixes the above, with adding the FLUX_IVAR_W1, FLUX_IVAR_W2 columns.
Those patched fiberassign files will shortly be committed to svn, and will be used by future desispec productions (himalayas? iron, etc).

[2022-10-21 03:06] #424 closed

[2022-10-22 18:45] araichoor opened #441 "inverted arguments in gaia_psflike()"
The gaia gmag and aen arguments here are inverted:
https://github.com/desihub/fiberassign/blob/53199d2a8cd01240c1308c78a70bce0ddddaedf1/py/fiberassign/fba_launch_io.py#L493-L497

See here the desitarget function:
https://github.com/desihub/desitarget/blob/34e5f0322a96803896392d32131a685d007b12cc/py/desitarget/gaiamatch.py#L216

This bug is in fba_launch_io.py since the beginning (PR https://github

[2022-10-23 01:26] araichoor opened #443 "fba_sv1 not fixed for row-mixing issue"
While doing the fiberassign patching exercise, I noticed that the `fba_sv1` script has not been fixed for this row-mixing issue.
https://github.com/desihub/fiberassign/blob/53199d2a8cd01240c1308c78a70bce0ddddaedf1/bin/fba_sv1#L1646
That line should be removed.

For reference, the PR fixing the row mixing issue in 'fba_launch_io.py`: https://github.com/desihub/fiberassign/pull/375.
`fba_cmx` has be

[2022-10-23 01:49] araichoor commented on #410
This issue has been addressed with PR https://github.com/desihub/fiberassign/pull/415.
Closing it.

[2022-10-23 01:49] #410 closed

[2022-10-23 01:50] araichoor commented on #359
This has been addressed in PR https://github.com/desihub/fiberassign/pull/426.
Closing with this comment.

[2022-10-23 01:50] #359 closed

[2022-10-23 01:52] araichoor commented on #357
As said above, that has been addressed in PR https://github.com/desihub/fiberassign/pull/353 (specifically, this commit: https://github.com/desihub/fiberassign/pull/353/commits/830549d97df0d72e770ed07dc12a588f44b1d4be).
Closing with this comment.

[2022-10-23 01:52] #357 closed

[2022-10-23 03:43] araichoor opened #445 "Harmless bug in get_desitarget_paths() call in fba_launch"
This is a harmless bug introduced in https://github.com/desihub/fiberassign/pull/428:
in `fba_launch`, `get_desitarget_paths()` is called as follows:
https://github.com/desihub/fiberassign/blob/53199d2a8cd01240c1308c78a70bce0ddddaedf1/bin/fba_launch#L191-L202

However, the `too_tile` argument should be an optional one, ie used with `too_tile=args.too_tile`:
https://github.com/desihub/fiberassign/b

[2022-10-31 20:43] araichoor commented on #441
fixed in PR https://github.com/desihub/fiberassign/pull/442. closing

[2022-10-31 20:43] #441 closed

[2022-10-31 20:45] araichoor commented on #443
fixed in PR https://github.com/desihub/fiberassign/pull/444; closing.

[2022-10-31 20:45] #443 closed

[2022-10-31 20:47] araichoor commented on #445
fixed in PR https://github.com/desihub/fiberassign/pull/446; closing.

[2022-10-31 20:47] #445 closed

[2022-10-31 20:57] araichoor opened #447 "Keep record of patching process log files"
We did so far two rounds of patching of the fiberassign files:
- one in Oct. 2021:
   -  script here: PR https://github.com/desihub/fiberassign/pull/434
   - log files (~0 GB): I see some here `/global/cscratch1/sd/dstn/patched-fa-v2/patch-??.log`, but those date from Sept. 8; @dstndstn could you confirm / or point to the correct log files?
- one in Oct. 2022:
   - scripts here: PRs https://github

[2022-10-31 21:13] moustakas commented on #447
If I may interject: let's try to write this "record" in the form of documentation that we can use as-is in the EDR and DR1. It's not quite a "known issue" but something like the list that @geordie666 has been curating for the imaging data releases?
https://www.legacysurvey.org/dr9/issues/

[2022-10-31 21:25] araichoor commented on #447
thanks for the suggestion.
I m happy to take the lead on this (with help on technical details on the first round of patching from @dstndstn).
I just need to know where that should be done.

one question, though: what should be mentioned?
would something like the following be in the good direction:
- edr: the `fuji` redux has been launched on Jan. 24, 2022 ([desi-data 5825]), so after the 1st patch

[2022-11-02 22:06] weaverba137 opened #448 "Do we need to keep merged branches in fiberassign?"
Fiberassign currently has *many* branches, which makes it difficult to find any particular inactive branch.  Normal procedure in other DESI packages is to delete a branch immediately after merging an associated pull request.  Is there a specific reason *not* to do this with fiberassign?  If so, that should be documented.  If not, then there would be no objection to deleting merged branches.

[2022-11-02 22:41] araichoor commented on #448
my bad, I ve not followed that habit.
I suspect most of those could be deleted.
I ll take care of that.

I actually planned to make a cleaning of the repo with things like that, triage the issues, etc; that is what I started with the PR on doc/changes.rst.

[2022-11-03 00:50] araichoor commented on #448
I ve deleted all merged branches.
23 branches are left: I ll take a closer look at those.

[2022-11-18 00:34] araichoor opened #449 "fiberassign tertiary: which recorded path in header for TOO?"
I m trying to make a decision for the design of the tertiary tiles.
posting that here, to have feedback/suggestions (e.g. @schlafly , @moustakas )
and also so that things are documented.

**context:**
- for those tertiary tiles, I "hack" the ToO channel, i.e. the provided "ToO" file to `fba_launch` is a special target file with the tertiary program targets
- in this PR https://github.com/desihub/f

[2022-11-18 01:52] schlafly commented on #449
Thanks Anand.  Klaus says we may be able to observe with 4 spectrographs tomorrow night, so we need to design something quickly.  Can we, e.g., run from a pre-PR #437 version of fiberassign?  Sorry, that's also somewhat horrible, but...

[2022-11-18 02:13] araichoor commented on #449
that s a good suggestion in the meantime, thanks!
fiberassign/5.6.0 should be fine (https://github.com/desihub/fiberassign/blob/main/doc/changes.rst#560-2022-04-22), as we don t add true ToOs to the tertiary targets.

I ll run that from `DESI_ROOT/survey/fiberassign` (as usual), and the ToO file paths will point there.

[2022-11-18 03:08] sbailey commented on #449
Regarding tomorrow night, let me remind us of my repeated admonition to not do target selection + fiberassign in a rush because we have typically regretted that in the past.  I'd especially encourage signoff from @geordie666 that we are using the targeting infrastructure in the intended way, and @moustakas as the person who has most deeply gone down the rabbit hole of past difficulties in algorith

[2022-11-18 04:06] araichoor commented on #449
"_would that be viable to do if instead of "wait for it to be picked up", you would run "svn update" as the desi user in $DESI_SURVEYOPS as often as you needed so that you can proceed?_"
=>
that should work -- though a bit annoying to monitor when there are 25 tiles :)
I can try that for the m31 design tonight, and see how it goes.
note to myself: avoid the cron job at the top of each hour.

about

[2022-11-18 05:22] araichoor commented on #449
"_would that be viable to do if instead of "wait for it to be picked up", you would run "svn update" as the desi user in $DESI_SURVEYOPS as often as you needed so that you can proceed?_"
=>
I ve been thinking more on this one: for tonight, I think I ll keep things simple, using @schlafly s suggestion to use `fiberassign/5.6.0`.
original files will live in `$DESI_ROOT/survey/fiberassign` (as for ~a