[2015-11-03 21:28] sbailey opened #3 "track targets that got added by later optimization passes"
Fiber assignment makes several passes to optimize the assignments.  Track which targets got added at which pass and include that in the output.  This is particularly important to track which targets were assigned on the very first pass vs. later passes.

[2015-11-03 21:33] sbailey opened #4 "randomize targets at input catalog level instead of in fiber assignment"
Idea from Daniel: randomize the input catalogs at the very beginning and write those out, prior to every going through MTL or fiber assignment.  Then when fiber assignment has to make a "random" choice, just use the highest available one in the list.  This could make FA more traceable.

Effectively this is a sub-priority, which also is desired by the Milky Way Survey for their targets.

[2015-11-05 13:49] rncahn opened #5 "Include sub-priorities"
Sub-priorities may be randomized among members of a priority class.  Alternatively, they may be set explicitly.  This will enable MKS to order their targets.

[2015-11-05 13:51] rncahn opened #6 "Track number of observations in each priority class"
This will enable us to obtain, say, 1000 observations from a class with 100,000 targets, as might occur with the MWS.

[2015-11-05 13:54] rncahn opened #7 "Improve ELG efficiency in Fiber Assignment"
The code in which the MTL is separated from the FA does not yet achieve the same ELG efficiency as the code where these are integrated.  Determine the cause and fix it.

[2015-11-10 00:55] rncahn commented on #7
Loss of efficiency was due to dropping the designation of targets for gray time.  Only ELGs, standard stars, and sky fibers are allowed then.  Once this was fixed by adding a new member to the class "target" the efficiency for ELGs returned to what had been achieved previously, before we dropped the kinds and types from the MTL.

This should be ok in versions of the branch separated after November

[2015-11-10 00:55] #7 closed

[2015-11-10 00:55] rncahn opened #8 "add constructor for class target"
This may be causing some errors detected by valgrind.

[2015-11-10 01:01] rncahn opened #9 "create separate files of standard stars and sky fibers"
Other users shouldn't have to create their own collections of standard stars and sky fibers.  These lists will actually be just a collection of randoms.  The density of the standard stars will be kept at 140/sq deg, but the sky fiber density will be increased beyond the current 1400/sq deg.  This gives an average of 2.1/fiber and a likelihood of there being no sky fiber within reach of exp(-2.1)=0

[2015-11-10 05:16] sbailey commented on #9
To be clear: for current development on mocks, the lists of standard stars and sky fibers can be lists of randoms of appropriate density.  Longer term, both standard stars and sky locations will be an output of target selection.

[2016-01-12 00:01] sbailey opened #17 "features files should support comments"
I tried commenting a line in a features file in order to replace it with a different one, which resulted in a segfault after ~20 minutes of calculations.  e.g. this doesn't work:
[code]

1. Features files should support comments
2. If the code can't parse a features file, it should stop immediately rather than leave uninitialized variables or whatever caused the much later crash.  Fail early, fail

[2016-01-12 13:49] weaverba137 commented on #17
Have we just surreptitiously introduced a new type of data file into DESI?  I have never heard of "feature" files.  Where are these documented?

[2016-01-12 17:00] sbailey commented on #17
fiberassign is behind the curve on following standards.  It's not so much that a new format was surreptitiously introduced, as just that several custom formats from the old original code have not yet been removed.  We've been actively working on updating the *data* formats to use fits instead of custom binary and text formats.  The "features" file is a parameter config file.  Anyone is welcome to

[2016-01-12 17:04] weaverba137 commented on #17
OK, thanx for the explanation.  I think cfg/ini files would be reasonable, since they allow comments, and we already make use of them in Python code.

[2016-02-11 23:37] sbailey commented on #9
Implemented sometime prior to newio merge, and updated with MTL format fits files in newio PR #20 .

[2016-02-11 23:37] #9 closed

[2016-02-11 23:39] sbailey opened #21 "Make numerically higher priorities = more important"
Change the sense of priority: higher numbers should be higher priority.

(lower numbers = higher priority made sense when the priorities are 1, 2, 3, but gets confusing when they are 2000, 3000, 4000).

[2016-02-13 00:05] sbailey opened #22 "RA,dec output should be double not float"
The fiber assignment RA,dec output should use double precision instead of single precision floats.

Note: As of the newio merge, the inputs are double (even though the preliminary input mocks kept them as single precision floats).  This doesn't really matter for mocks, but floats are borderline in terms of accuracy needed for real data calculations.

Verify that internal calculations are done in t

[2016-02-13 00:06] sbailey commented on #22
Make xfocal_design and yfocal_design double precision too.  That isn't used by downstream code, but let's remove any numerical precision uncertainty here.

[2016-02-16 22:51] sbailey opened #23 "cleanup features files"
We currently have multiple features files in the top level, in test/, and in script/ .  Clean that up to a small set of canonical examples that one should copy, modify as needed, and run.  Get rid of the others.

[2016-02-26 22:01] #17 closed

[2016-02-26 22:01] #21 closed

[2016-02-26 22:01] #22 closed

[2016-02-26 22:02] sbailey commented on #5
duplicate of #4 .  Closing this one.

[2016-02-26 22:02] #5 closed

[2016-03-14 21:40] sbailey opened #27 "survey_tiles.txt should be optional for fiberassign"
survey_tiles.txt is used by fiberassign_surveysim to know what order the tiles were observed in.  It should  not be needed by regular fiberassign.  Currently read_plate_centers() requires survey_tile.txt to exist and only returns tiles in that list.  And it has a hardcoded number for the number of total_tiles.

Normal fiberassign should be able to work with just the standard tile definition file w

[2016-03-14 21:45] sbailey commented on #27
Actually, nevermind.  We can usefully use this survey_tile.txt file as a way of saying which subset of desi-tiles.par should be assigned for a given pass of quicksurvey.

[2016-03-14 21:45] #27 closed

[2016-03-15 22:04] sbailey opened #29 "include DESI_TARGET in output"
fiberassign writes a DESI_TARGET column that is all zeros, instead of propagating the DESI_TARGET bitmask from the MTL inputs into the output.  Fix that.

[2016-03-15 22:38] #29 closed

[2016-03-25 18:05] sbailey opened #31 "fiberassign doesn't produce reproducible results"
Multiple runs of fiberassign on the same machine using the same compilation produce different results, even when not using random numbers (Bob inspected code by grep+eye and says that none of the random number calls are used by the main fiberassign code).  Possible causes are uninitialized variables being used or array overruns clobbering some other piece of memory that is later used.

After fixin

[2016-03-26 03:30] rainwoodman commented on #31
This looks fun. Where do I find the secret files to reproduce this?

[2016-03-28 16:55] rncahn commented on #31
Yu

can you get the fiberassign code from desihub?  Checkout master.  Then
make.  Let me know
if you have any trouble.

Bob

On Fri, Mar 25, 2016 at 8:30 PM, Yu Feng <notifications@github.com> wrote:

[2016-03-28 17:28] sbailey commented on #31
Doesn't he also need to do something with configuring an hpcports
environment and/or setting some environment variable to tell fiberassign
how to compile?

I think he will also need pointers to what features files / input files to
use to actually run the code.

fiberassign should have documentation that makes this trivially clear, but
there have been enough pieces moving around recently that I'm n

[2016-03-28 17:45] rainwoodman commented on #31
I am combing through building. The line

[code]
is causing some slight issues. It could have been `<fitsio.h>` or better `<cfitsio/fitsio.h>` (for Fedora at least..)

I really would prefer to reproduce the irrepreducibility of fiberassign on my own computer. Is it possible?

[2016-03-28 17:50] tskisner commented on #31
The <> bracket convention is preferred over quotes, but this does not
matter in this case.  Putting a header in quotes simply allows the
compiler to search in the current working directory.  Since fitsio is
not in the fiberassign source tree, the two forms are identical.

When searching for headers, the compiler looks in default system
locations (e.g. /usr/include), and (for gcc anyway) it looks i

[2016-03-28 17:58] rainwoodman commented on #31
@rncahn

The code compiles. Two questions:

- Which features.txt is failing the deterministic test?
- Which features.txt is sufficiently small that I can run in 8GBs of memory?

[2016-03-28 18:06] rncahn commented on #31
test/template_fiberassign.txt  uses the small target lists:

Targfile /project/projectdirs/desi/mocks/preliminary/mtl/v2/mtl-lite.fits
SStarsfile
/project/projectdirs/desi/mocks/preliminary/mtl/v2/stdstars-lite.fits
SkyFfile  /project/projectdirs/desi/mocks/preliminary/mtl/v2/sky-lite.fits
Secretfile
/project/projectdirs/desi/mocks/preliminary/mtl/v2/truth-lite.fits

But right now

script/do_short

[2016-03-28 18:32] sbailey commented on #31
That doesn't quite work — template_fiberassign.txt as-is is a *template*,
intended to by copied and updated with the specific output directory, etc.
needed by a particular user.  Within the test directory, "python
test_fiberassign.py" will make the copy+updates, compile from scratch, and
run both vanilla fiberassign and fiberassign_surveysim.

This thread highlights the need to have simple, correc

[2016-03-28 22:08] rainwoodman commented on #31
I am afraid `test_fiberassign.py` has some chdir magics such that even after I grab all of the necessary files to my local machine, relative paths in the template files doesn't work.

[2016-03-28 22:42] rncahn commented on #31
I always run on nersc.  Kisner will know how to do this on your laptop

On Mon, Mar 28, 2016 at 3:08 PM, Yu Feng <notifications@github.com> wrote:

[2016-03-28 22:53] tskisner commented on #31
I have not touched fiberassign code since testing it many months ago.  The code has changed dramatically since then, so I don't think my previous experience applies.

[2016-03-28 23:02] rncahn commented on #31
I don't think it is a question of code, but rather setting it to run on the
laptop rather than nersc.

On Mon, Mar 28, 2016 at 3:53 PM, Theodore Kisner <notifications@github.com>
wrote:

[2016-03-28 23:14] tskisner commented on #31
All I did last time was take an input parameter file that was given to me, and set the moduloGal parameter to some large number so that only a few galaxies where used.  I copied over the input files to my local machine.  And then I ran it in valgrind.  That's it.  If it is compiled on a laptop, a supercomputer, or a phone, it should not matter right?  I thought it was just an OpenMP executable tha

[2016-03-29 02:15] rainwoodman commented on #31
Yes. That's pretty much what I did. Follow the instructions and it ran. The
docentatuon is mostly still uptodate.

The current version of test is crashing valgrind in fedora. A fix could be
non trivial but I will file a bug report at least.

I will also file a PR to die when input survey list file is missing. It
initally didn't yield output because I gave it a wrong file name. It shall
at warn or

[2016-03-29 02:34] rncahn commented on #31
I do think the reproducibility issue is resolved, though I still need to
show that we get the same result on edison and cori.  At least successive
runs on edison give identical results. It seems only to have been due to a
drand48 in src/modules/kdTree.h

On Mon, Mar 28, 2016 at 7:15 PM, Yu Feng <notifications@github.com> wrote:

[2016-03-29 19:59] rainwoodman opened #35 "fiberassign crashes valgrind."
The main error message is

[code]

The full log is here:

[code]

[2016-03-29 20:15] rainwoodman commented on #35
Yes. I think this (valgrind crashing) is a separate issue from #31 .

It may take a huge rewrite to get through valgrind cleanly, and the effort is likely not worth it: after all, most (if not all) memory access is protected by std:vector and looked pretty safe.

But I do think we shall leave a record about this incompatibility with valgrind on the bug tracker.

[2016-04-06 14:21] apcooper opened #37 "Addition of lower priority targets to input catalog alters assignments at higher priority"
I've been testing fiberassign with a variety of realistic mock input catalogs containing different target samples combined in different ways  and with different choices of priority.

I've found that the assignment of fibers to a set of targets of a given priority class changes (those targets being assigned to later plates/passes and in a small number of cases not assigned at all) depending on whet

[2016-04-06 17:26] sbailey commented on #37
Thanks for opening this ticket.  I think the behavior we want is as you expected: the reproducibility of higher priority targets should be unaffected by the addition or subtraction of lower priority targets.

A plausible alternative is that we'd be willing to bump a higher priority target to a later epoch if that would enable a lower-priority target to be observed.  i.e. it wouldn't affect the rep

[2016-04-06 18:53] rncahn commented on #37
The purpose of "redistribute" is to even out the distribution of unassigned
fibers.  If this isn't done, we start with a distribution where all the
unassigned fibers are near the end of the survey.  This is a problem
because we want to use unassigned fibers for the standard stars and sky
fibers.

I believe that the current redistribution code does not result in the loss
of any assigned targets. A

[2016-04-06 20:23] apcooper commented on #37
OK, I thought that would probably be the case, I just couldn't figure out how exactly the code in `redistribute_tf` made sure of it.

The light-weight test case I've been using to look into this indeed only shows cases of high priority targets being moved to later in the survey, but I'm fairly sure I saw a handful of cases where targets were lost altogether in an earlier test with a much larger MT

[2016-04-06 20:45] sbailey commented on #37
Thanks for redoing your tests with the latest code; please let us know the results.  This should definitely be something that the code actively ensures (i.e. not losing high priority targets should be by design not luck) and we should explicitly test that (trust, but verify).

[2016-05-04 12:02] apcooper opened #38 "Invalid SS and SF input files silently ignored, giving zero SS and SF in output?"
I'm confused about how the sky and standard inputs are specified for fiberassign.

I thought it was via the SStarsfile and SkyFfile paths in the features file -- I've been using some ascii files for this (don't know where these came from, I must have inherited them from an earlier version). Everything seemed to be working OK. However, I've just noticed that these files were not actually being read

[2016-05-04 16:29] rncahn commented on #38
Can you send me the features file you are using?

Bob Cahn

On Wed, May 4, 2016 at 5:02 AM, apcooper <notifications@github.com> wrote:

[2016-05-04 16:41] apcooper commented on #38
Attached.

[bt_features_apc.txt](https://github.com/desihub/fiberassign/files/249185/bt_features_apc.txt)

[2016-05-04 16:49] rncahn commented on #38
Well, I think the SS and SF files should be in fits.  Here is a features
file from master on github:

Targfile /project/projectdirs/desi/mocks/preliminary/mtl/v2/mtl-lite.fits
SStarsfile
/project/projectdirs/desi/mocks/preliminary/mtl/v2/stdstars-lite.fits
SkyFfile  /project/projectdirs/desi/mocks/preliminary/mtl/v2/sky-lite.fits
Secretfile
/project/projectdirs/desi/mocks/preliminary/mtl/v2/truth-

[2016-05-05 14:42] apcooper commented on #38
Hi Bob,

Thanks for the pointers to the latest FITS-format SS and SF files, everything works OK with those. I've submitted a PR with some checks to avoid invalid/missing MTL files being accepted without complaint -- maybe that behavior was an intentional feature, in which case perhaps it should be an explicit switch somewhere rather than the default?

[2016-06-20 12:09] sbailey opened #42 "add light trap assignments"
The fiber positioners will have light traps along their arms, to be used for capturing the light of especially bright objects instead of letting their light randomly scatter about the instrument.

* define target bit(s) for targets that should be placed on a light trap (this actually goes into desitarget, but fiberassign needs to know about these bits as a special case)
  * some will be so bright

[2016-06-27 21:34] sbailey commented on #42
FYI, DESI-0899 is the doc with the definition of where the light traps are on the ends of the positioners.

[2016-07-14 00:23] forero opened #43 "propagate brickname into fiberassignment output"
This enhancement facilitates the bookkeeping of spectra for the end2end data Challenge.

[2016-07-15 20:59] #43 closed

[2016-07-19 10:38] apcooper commented on #38
Closed after merge of https://github.com/desihub/fiberassign/pull/39

[2016-07-19 10:38] #38 closed

[2016-07-25 21:11] forero opened #45 "Use observational conditions to differentiate targets on a tile by tile basis"
Every tile has tag associated to it indicating the `dark`, `bright` or `gray` conditions for observations. This information is not used in fiberassign. We need to match the input tiles with the MTL file to enable that distinction based on observing conditions.

[2016-07-28 19:53] #45 closed

[2016-07-29 18:08] forero opened #47 "read subpriority from MTL file"
Right now subpriorities are generated as a random number. They should be read from the intput MTL file.

[2016-09-08 21:51] #47 closed

[2016-09-22 14:42] forero opened #49 "add python scripts to prepare a fiberassign run and process its results"

[2016-09-22 14:44] forero commented on #49
This is being worked out in branch `apc_mocks` following the work done in `desitarget:apc_mocks`.

[2016-10-19 14:13] apcooper opened #51 "Output row index in input target list"
It would be useful to store, in the tilemap output, the row number of the assigned and potential targets in the input MTL file. That would make it very quick to make a table listing the assigned tile and actual/potential fibre for each target in the input row order, without matching (see `reduce_fiber_maps_to_mtl` [here](https://github.com/desihub/desitarget/blob/master/py/desitarget/mock/fiberass

[2016-10-20 15:19] forero opened #52 "Reading input files from sweeps/bricks"
We would like to have the option to read many sweeps/bricks as input and not only a big monolithic input file. The discussion is also open to decide whether this enhancement would be inconvenient and should be dropped.

[2016-10-20 15:31] apcooper commented on #52
I thought about this a bit after it came up in the desitarget thread and I couldn't really convince myself why it would be worth doing... you'd still have to read the same amount of data and construct this table inside fiberassign. And then it would be harder to figure out what order the input files got stacked into that internal table etc. etc. Am I missing something?

[2016-10-20 15:39] forero commented on #52
I agree that 20GB is still OK and that it can be a pain to track what input files got into what sweep/brick.

But this might have another upside: reading only the files for the patch of sky where you need to make the fiberassignment without having to create a new target file.

We can come back to this issue in November/December and make a decision.

[2016-10-20 15:54] apcooper commented on #52
An alternative solution would be to have a spatial index in the monolithic target file so that FA could read a subset of rows corresponding to the required patch of sky.

[2016-11-10 00:31] weaverba137 opened #54 "Top level Makfile is not desiInstall compatible"
The top-level Makefile defines `TOPDIR` and `INSTALL` in a way that is fine for development but incompatible with desiInstall.  The fix may be as simple as:

[code]

See also the top-level specex Makefile for a fully desiInstall-compatible example.

[2016-11-10 00:33] sbailey commented on #54
Please go ahead and fix this yourself and iterate with desiInstall until you have a working combination.  Thanks.

[2016-11-10 16:09] weaverba137 opened #55 "Strange Python error while linking fiberassign executables"
I got this strange warning while compiling fiberassign on Edison.
[code]
Note how this is Python 2.6, even though I have the DESI Python 3 environment installed.

[2016-11-10 21:46] #54 closed

[2016-11-10 21:49] sbailey commented on #54
PR #56 fixed this; I tagged 0.3.1 and tested it with a successful "desiInstall -v fiberassign 0.3.1".  Thanks.

[2016-11-10 23:21] sbailey commented on #55
Is this reproducible?

In the past I've had an intermittent but not strictly reproducible case where our anaconda python executable was picking up the system python libraries under the hood.  After banging on it with NERSC consultants for awhile, the problem went away without a specific fix from either side.

[2016-11-10 23:36] rncahn commented on #55
I tried compiling fiberassign on edison at 15:33 Nov. 10.

It didn't indicate any problem but the file size wasn't exactly the same as
when I compiled on Oct.10:

rncahn@edison08:~/garrigue/fiberassign> make install
make[1]: Entering directory `/global/u1/r/rncahn/garrigue/fiberassign/src'
g++ -O3 -m64 -fPIC -DNDEBUG -std=c++11 -fopenmp -I.
-I/global/common/edison/contrib/hpcosmo/hpcports_gnu-9.0/

[2017-01-03 18:35] sbailey opened #58 "sky/stds should steal from lowest not highest priority targets"
Reported by Bob:

If there are not enough spare fibers to fill in standard stars and sky locations, fiberassign will steal back fibers from science targets to achieve a minimum density.  It should start with the lowest priority science targets.  It used to do this, but then we switched whether numerically higher priorities are more important or less important and this piece of code didn't get upda

[2017-01-03 18:38] sbailey opened #59 "use subpriority when selecting sky and stds"
As reported by Bob:

For stability of reproducibility, sky and std star assignments should also use the subpriority column to select the order in which they are assigned to fibers.  They currently use whatever order they come out of the KDTree, which is reproducible, but perhaps fragile.

[2017-03-07 23:59] sbailey commented on #4
fixed via #61

[2017-03-07 23:59] #4 closed

[2017-03-08 21:55] #58 closed

[2017-03-13 23:31] sbailey opened #64 "standard star DESI_TARGET mask in features file"
Add an option to the features (parameters) file for what DESI_TARGET mask bits should be considered standard stars.  Two use cases:
* Dark and bright time have different but heavily overlapping sets of standard stars.  This mask would
allow us to use the same input catalog for both while selecting which subset should be used for a given fiber assignment run
* We'd like to simulate WD standards alo

[2017-03-14 12:34] apcooper commented on #37
This is just to let you (@sbailey @rncahn @forero @moustakas and anyone else concerned) know that we're now looking into this again in earnest, in response to some ongoing tests by Jianhua He (Durham) of the fiber assignment efficiency for BGS targets in the 2016 data challenge.

It looks as if the fraction of (high priority) BGS galaxies that are assigned fibres varies across the sky in rough pro

[2017-03-16 15:37] forero commented on #37
@apcooper how does that fraction (high/low priority) changes in time? If that fraction is roughly constant, then the problem might be due to this bug #60 (fixed in January, but present in the fiberassign version we used in December).

[2017-03-16 16:05] apcooper commented on #37
Thanks for pointing to #60, @forero. But what do you mean exactly by 'changes in time'? From one epoch to the next?

I can't figure out what the effect of #60 was, either from the issue or the code. Do you have a layman's explanation?

We're stalled looking into this temporarily because Jianhua is traveling. Your help figuring out how to get going again with [my own runs of the survey simulation](

[2017-03-16 16:09] forero commented on #37
Right, "changes in time" means "from one epoch to the next."
The effect of #60 was to mistake low priority target as high priority targets and vice versa.
I can help you to prepare simplified runs over ~100 sqdeg, would that be helpful? the whole footprint would be too painful to run.

[2017-03-16 16:20] apcooper commented on #37
Thanks -- I was hoping to use the mechanism for selecting a small area following the example in the quicksurvey yaml. It looks straightforward but any pointers are welcome (maybe [on the quicksurvey thread](https://github.com/desihub/quicksurvey_example/issues/12)).

Regarding the variation with epochs question: we don't know if it varies in time or not, but we can check. #60 certainly looks like

[2017-03-16 16:37] forero commented on #37
#60 should affect every epoch.

[2017-03-16 16:47] apcooper commented on #37
OK, thanks. I'll work on new survey sims on small patches using version in which #60 is fixed. Will report back when we have results.

[2017-03-31 11:56] apcooper commented on #37
Jianhua has compared the 2016 datachallenge output to a simulation I ran recently at durham using desitarget 0.9.0 and this recent commit of fiberassign: d6a5c2598c47bf438f7d8e25d4d6164cbd205f76.

I refer to our local run as MWSv3test; the mocks, target cuts, ordering etc. were the same as those in the data challenge. The most significant difference was the tile ordering -- I used simple lists of

[2017-03-31 18:08] rncahn opened #68 "Need for python-based check of fiber assignment code"
Fiber assignment is designed to enforce some rules:
1. No fiber is assigned twice on a single plate.
2. No galaxy is targeted twice on a single plate.
3. Each petal should have 10 Standard Stars and 40 Sky Fibers.
4. No positioners should collide.

Items 1-3 should be verified by examining the output tile-files (tile-xxxxx.fits) written by fiberassign run on a full set of mocks covering the whole

[2017-03-31 23:49] sbailey opened #69 "fiberassign 0.4.0 dies if a target is both a stdstar and a science target"
Using example files in on edison in `/scratch2/scratchdirs/sjbailey/desi/debug/fiberassign`, fiberassign/0.3.2 works fine but fiberassign/0.4.0 dies with
[code]
The target appears in both standards-dark.fits and mtl.fits (once per file) since it is both a standard star and a requested MWS science target.  This is a perfectly legal case and should be allowed by fiberassign.

[2017-03-31 23:54] sbailey commented on #69
Note: this problem also applies to master and the remake_fiber_positioner branch in PR #67

[2017-04-01 00:27] sbailey opened #70 "positioner output not correct"
In the fiber assignment output files the columns FIBER and POSITIONER are the same; they should follow the mapping in `$DESIMODEL/data/focalplane/fiberpos.txt` instead.  It looks like the FIBER column is correct, while the POSITIONER column isn't propagating the right info.

Tested with 0.3.2

[2017-04-03 18:02] sbailey commented on #69
For the record: in this sub-patch of sky, 100% of the dark time standard stars also appear as MWS targets, i.e. this is not a rare occurrence.

[2017-04-03 18:17] sbailey commented on #37
Thanks for these comparisons.  We're discussing rerunning the equivalent of the December 2016 data challenge with the fixed version of fiber assign so that there is a reference copy that is useful for MWS and we don't diverge too much.  We just need to find the time to babysit it; due to the memory and runtimes needed it wasn't a completely fire-and-forget automated process.

[2017-04-13 22:49] sbailey commented on #69
fixed in PR #72

[2017-04-13 22:49] #69 closed

[2017-04-13 23:04] #70 closed

[2017-07-26 13:50] apcooper opened #77 "Missing positioner data or tile definitions should be logged"
If neither of these data files is found at the paths in the fiberassign config file, the code fails without leaving any relevant information in the log.

[2017-07-26 15:54] apcooper opened #78 "Priorities for standard stars"
Linked to https://github.com/desihub/desitarget/issues/205

STD_WD should have priority over STD_FSTAR (and other types of standard if we add more), but there is no concept of priority for standards in the current code. This probably needs to be implemented in desitarget *and* fiberassign.

[2017-07-26 18:02] sbailey commented on #78
The WD density is low enough that for the purposes of fiberassignment they could be treated as normal targets with priority higher than QSOs regardless of their observing state, thus guaranteeing their placement.  That would require updating their entries in desitarget/data/targetmask.yaml but not any code changes in either desitarget or fiberassign.

That might be slightly controversial since it

[2017-09-22 05:15] sbailey opened #79 "repeated TILEID, TILERA, TILEDEC header keywords"
Fiber assignment output files repeat the TILEID, TILERA, and TILEDEC header keywords 4 times, e.g.
[code]
Fix this so it only outputs each keyword once in the FIBER_ASSIGNMENTS HDU.

[2017-09-22 21:39] sbailey commented on #79
Fixed in a commit directly to master (sorry...)

[2017-09-22 21:39] #79 closed

[2017-09-22 21:43] sbailey commented on #49
bin/config-fiberassign can generate a template fiberassign parameter file, e.g.
[code]
Does that do the functionality you were thinking of for this ticket?  If so, please close ticket.  If not, please update ticket with other features that you want.

[2017-09-22 21:46] sbailey commented on #68
For the record, `bin/qa-fiberassign` does items (1) and (2) and could be easily expanded to do (3), but it doesn't do (4) yet.  It also includes a number of other checks like the correct FIBER:LOCATION mapping and checking for unassigned fibers.

[2017-09-22 22:27] sbailey commented on #68
I commented on this over in apcooper/bright_analysis#2 and submitted before realizing that was in a different repo than fiberassign.  Reposting here to keep the wish list associated with the repo with the code:

`bin/qa-fiberassign` is a start towards this.  It first checks for outright errors (e.g. same target assigned to multiple fibers on the same tile) and then proceeds to generate some stats.

[2017-09-25 17:56] sbailey opened #80 "don't assign same target to two different fibers"
We have a case where fiberassign is assigning the same target to multiple fibers on the same tile, which should never happen.  In this case, the target is both a standard star and a MWS science target and thus appear in both the Merged Target List and the standard stars list.  This is legal, and we previously thought that the fiber collision algorithm would prevent such double assignment.

Given t

[2017-09-26 22:40] #80 closed

[2017-09-27 06:07] sbailey opened #82 "fill unused fibers with stdstars and sky"
If there are any unused fibers after assigning all available science targets and meeting the standard star and sky fiber minimum requirements, fill any remaining unused fibers with standard stars and sky locations.  "BADSKY" (DESI_TARGET = 2**36) should be used as fillers of last resort (though we don't have these in the current mocks).

The input catalogs should be dense enough that every fiber s

[2017-10-10 05:14] forero opened #83 "Random fiber ordering for each tile"
Quote from an email from Will Percival

Currently the assignment is done using the same fiberID ordering for every tile.

The proposal for this issue is that we should have the option to scramble the fiber ordering for each tile.

[2017-10-10 17:02] sbailey commented on #83
un-assigning @rncahn because he is retired and formally isn't supposed to be working on this anymore :).

In a previous refactor, we removed all random choices from the code so that it is completely reproducible based upon the input target catalog.  If we do want to randomize fiber placement order, we need to ensure that it is done in a completely reproducible way, e.g. perhaps a config file with

[2017-10-13 06:00] forero commented on #37
This was solved in #60.

[2017-10-13 06:00] #37 closed

[2017-10-26 21:23] weaverba137 opened #85 "Why does fiberassign have a BSD-2-clause license?"
The majority of other DESI packages use a BSD-3-clause license.

[2017-11-07 04:39] sbailey opened #87 "don't downcast RA,dec to single precision"
Somewhere in fiberassign, RA and dec are being downcast to single precision instead of double precision.  They are upcast again to double precision before writing the output files, but the resulting RA,dec in the tile files differs from the input MTL file due to the float64 -> float32 -> float64 rounding.  The differences are big enough to matter, both for the precision of placing a fiber and for

[2017-11-07 21:45] #87 closed

[2017-11-07 22:02] #85 closed

[2017-11-07 22:45] rncahn commented on #87
Good
Bob

On Tue, Nov 7, 2017 at 4:45 PM Stephen Bailey <notifications@github.com>
wrote:

[2017-11-29 22:03] forero commented on #3
`fiberassign` does not necessarily make several passes in the same run. Instead, different passes are handled by `quicksurvey`.

[2017-11-29 22:05] forero commented on #6
The required total number of observations for a particular target class is now set by the `desitarget.mtl` routine that prepares the input to be fed into fiberassign.

[2017-11-29 22:05] #6 closed

[2017-11-29 22:06] forero commented on #8
@rncahn has this been fixed?

[2017-11-29 22:10] forero opened #89 "cleaner user interface"
Related to #23 we need to cleanup the items included in the feature files. There are many items that are outdated and not supported anymore.

We can also explore having a completely new user interface on the command line
For instance:
[code]

[2017-11-29 22:13] forero commented on #49
The new functionality is good enough.

`Fiberassign` should itself run with the same command line options! I am closing this issue and opening a new one.

[2017-11-29 22:13] #49 closed

[2017-11-29 22:30] forero commented on #55
Did anyone managed to reproduce this error @sbailey @rncahn ?

[2017-11-29 22:31] forero commented on #59
@rncahn is this fixed? are we using the subpriority column in the MTL input file?

[2017-11-29 22:50] forero commented on #68
I am going to close this issue to open two new ones that have different complexity in implementation.

* Check that each petal have 10 Standard Stars and 40 Sky Fibers.
* Check that no positioners collide.

[2017-11-29 22:50] #68 closed

[2017-11-29 22:51] forero opened #90 "Checking numbers of stars and sky assigned on tiles"
(Comes from #68). We need to extend `qa-fiberassign` to check that each petal have 10 Standard Stars and 40 Sky Fibers.

[2017-11-29 22:52] forero opened #91 "Python code to check for collisions"
(Comes from #68) We need independent python code that reads the outputs of the C++ code and checks that no positioners are colliding.

[2017-11-29 22:54] forero opened #92 "Accounting for broken fibers and stuck positioners."
We need to develop data structures to account for broken fibers and stuck positioners.

[2017-11-29 22:58] forero opened #93 "Swapping logic flexibility"
In the current implementation fibers can swap targets across different layers to increase the numbers of high priority targets.

We need a way to implement `swapping logic` to instruct the code to:
* swap only within a layer
* swap only within a single tile
* never swap

[2017-11-29 23:07] forero opened #94 "Guide/Focus/Alignment targets"
`fiberassign` should also be able to dump the list of targets that are within reach of the GFA sensors for each tile.

[2017-11-29 23:10] forero opened #95 "Sky Camera positions"
There will be 20 positioners on the periphery of the 5000 fibers. Their purpose is measuring sky background and must be then assigned to blank sky positions. `fiberassign` must also find and report these sky location for every tile.

[2017-11-29 23:13] forero opened #96 "propagating input target information"
There is additional target information that must be propagated through `fiberassign`. Where is the best place to make this propagation? Inside `fiberassign`? In `mtl`?
@sbailey can you give us some examples of the kind of information/columns that we should be propagating? Is it every column that can be found in the `targets`/`mtl` file?

[2017-11-29 23:39] rncahn commented on #55
I think this is not an issue.

On Wed, Nov 29, 2017 at 2:30 PM, Jaime Forero-Romero <
notifications@github.com> wrote:

[2017-11-29 23:39] rncahn commented on #59
yes

On Wed, Nov 29, 2017 at 2:31 PM, Jaime Forero-Romero <
notifications@github.com> wrote:

[2017-11-29 23:55] #55 closed

[2017-11-29 23:55] #59 closed

[2017-11-30 19:44] sbailey commented on #3
Reopening and clarifying:  This ticket was referring to the swapping optimizations inside fiberassign that swap targets between tiles (see #93 for making this parameterized instead of hardcoded).  If we do allow swaps, we also want to track which targets were added due to the swaps vs. those in the original set of assignments.

[2017-11-30 19:49] sbailey commented on #93
Another variation: allow swapping of targets of the same priority, but not swapping across priorities.

Example: Currently the code could bump an LRG from layer 0 to an unused fiber in layer 2 in order to observe an ELG in layer 0 that otherwise would have been lost.  This increases the total number of targets observed, but has the "bird in the hand vs. two in the bush" risk that a higher priority

[2017-11-30 20:43] forero commented on #3
If I understand correctly `fiberassign` follows a logic of incremental optimization by swapping targets iteratively. This swapping can happen many times. Should we then track what happens at every swapping iteration?

[2017-11-30 21:37] sbailey commented on #90
qa-fiberassign already does this; e.g. from the minitest:
[code]
(this tile had all sky fibers needed, but the check is in the code).

[2017-11-30 21:37] #90 closed

[2017-11-30 21:39] sbailey commented on #3
I think we only need to track the final state of whether the target was
* in the original assignments on this fiber
* in the original assignments but on a different fiber
* added due to the swapping

But we should first do the studies to determine if we really need to do swapping or not, or whether the analysis simplification of no swapping is worth the loss of fiber assignment completeness.

[2017-11-30 21:43] sbailey commented on #94
This could also be a separate script, different from the fiberassign executable.  The underlying logic for identifying what objects are on what GFAs is available in `desimodel.focalplane`.  The inputs for this need to be original sweep/tractor files, not target catalogs, because we need to identify every object above a flux limit, not just the objects that passed our targeting cuts.

[2017-11-30 21:56] sbailey commented on #95
The locations of these positioners are in `$DESIMODEL/data/focalplane/fiberpos-all.fits` where `DEVICE_TYPE=='ETC'` (ETC=Exposure Time Calculator since that is what these positioners are used for).  Currently `desimodel.io.load_fiberpos()` only returns the 5000 normal positioner locations, but it could be extended with an option to read this file instead and return the locations of the requested p

[2017-12-02 00:26] sbailey commented on #94
More details:

`get_gfa_targets(targets, rfluxlim = 1000, tiles = None, buffer_arcsec = 100)` is probably the function you want.  It returns the subset of the targets that are on a GFA and above the flux limit, with two addtional columns for which TILEID and GFA_LOC.  Loop over sweeps, build up the lists, and then filter by TILEID to write the final output files as one file per tile.

[2018-01-09 21:53] sbailey opened #97 "don't assign stdstar and sky next to each other on CCD"
We shouldn't assign standard stars and sky locations to fibers that are neighboring *on the CCD* due to the possibility of the bright standard star contaminating the neighboring sky due to unmodeled spectrograph PSF wings.  Currently fiber assignment only knows about the locations of positioners *on the focal plane*, but doesn't know where those fibers go in the spectrograph CCDs.  It is quite pos

[2018-01-09 21:55] rncahn commented on #97
Hmm.  Not nice.

On Tue, Jan 9, 2018 at 1:53 PM, Stephen Bailey <notifications@github.com>
wrote:

[2018-01-11 23:28] forero commented on #52
Doesn't seem to be needed anymore.

[2018-01-11 23:28] #52 closed

[2018-01-18 00:42] sbailey opened #98 "add inner exclusion radius for fiber patrol area"
Context: Due to the fiber positioner arms having slightly different lengths, there is a region in the center of each positioner that it cannot reach.  Even where it can physically reach, the positioning accuracy may be degraded at the inner-most radii.

Add a parameter for excluding a circle at the center of each positioner (i.e. don't assign targets that land within that circle).  Default initial

[2018-01-18 00:46] rncahn commented on #98
Stephen,

300 microns is pretty bad.  That is 1/20 of the 6 mm radius, so we would
miss 1/400 of the area, 12 galaxies per exposure.  But I guess not too bad
when you consider we miss 20% of ELGs.  It would perhaps be more important
for QSOs, but would simply reduce the mean number of exposures for each
Lyman-alpha QSO

On Wed, Jan 17, 2018 at 4:42 PM, Stephen Bailey <notifications@github.com>
wro

[2018-01-25 17:40] sbailey commented on #98
An updated analysis from Kai Zhang and Michael Schubnell indicates that the typical inner exclusion radius is more like 100 microns.  That's much better, but we should still have a parameter in fiberassign for this.
![r1minusr2abs](https://user-images.githubusercontent.com/218471/35403150-b19b90d8-01b3-11e8-99a4-8675d7d315c1.png)

[2018-02-07 19:23] forero commented on #94
An additional requirement for this script is that it must write down the outputs for individual tiles and the merge them into a multi-HDU fits file including the fiberassign results.

[2018-02-07 19:24] forero opened #99 "fiberassign on arbitrary pointings"
We need a wrapper that works like "single_pointing_fiberassign --targets targets.fits --telra 15.2 --teldec 13.3 -o blat.fits" that would

* run MTL to convert targets.fits -> mtl.fits
* generate custom tile.fits, features file, etc. and run fiberassign
* run GFA targets
* merge those together into a multi-HDU FITS file

[2018-02-13 16:54] forero commented on #94
Here is a version of the script doing the work
https://github.com/forero/SandboxDESI/blob/master/gfa/select_gfa.py

it can be tested using
[code]
where `gfa_tiles_mini.txt` can be the following https://github.com/forero/SandboxDESI/blob/master/gfa/gfa_tiles_mini.txt

[2018-02-13 17:13] forero commented on #94
Following a discussion with @sbailey and @geordie666  I am filing this issue into `desitarget` and starting a PR there to include the script.

[2018-02-13 17:13] #94 closed

[2018-02-13 17:33] forero commented on #82
We should be using `newsky` files (i.e. `/project/projectdirs/desi/users/sjbailey/mocks/sky/0.1/newsky.fits`) that were implemented (https://github.com/desihub/desitarget/pull/219) to have more uniform sky locations.

[2018-02-13 18:06] sbailey commented on #82
Those are for mocks; I moved them into /project/projectdirs//desi/mocks/uniformsky/0.1/uniformsky-2048-0.1.fits as a better long-term location.  With that file there should always be a sky target available.

Ultimately we need to test on sky locations derived from real data and fix cases where there aren't sky targets available.  Currently we only have real-data skies for a small patch of sky /pro

[2018-02-13 18:12] rncahn commented on #82
Stephen,
Let me know if you need help on any of the fiberassignment tasks.

Bob

On Tue, Feb 13, 2018 at 10:06 AM, Stephen Bailey <notifications@github.com>
wrote:

[2018-02-13 22:14] forero commented on #82
@sbailey This case looks similar to the `GFA` script, i.e. something that should be addressed primarily at the `desitarget` level (`select_targets` and `mtl`) by preparing the right files.
My question is then what should we do if there aren't any targets available for a fiber? Simply prepare a new sky file and try again?

[2018-02-13 22:30] rncahn commented on #82
What do we mean by "every fiber should have something it can point at"?  I
suppose we mean here only sky fibers and standard stars.  With 5000 fibers
on roughly 7.5 sq deg, we have 1.5 x 10^{-3} sq deg per fiber.
Thus a density of about 700/sq deg gives us an average of one per fiber.
Now the likelihood that a fiber has no target when the mean number is n, is
simply exp(-n).  Suppose we say that w

[2018-02-14 17:41] sbailey commented on #82
To be clear: the issue with the current code is that if there aren't enough science targets, fiber assign will stop assigning skies and standards when it has reached the 40/10 budget per petal, even if there are still unassigned fibers that could be assigned to additional skies and standards.  But yes, @forero you are right that this could be handled in MTL instead of fiberassign itself by includi

[2018-02-14 17:53] forero commented on #82
@sbailey OK. I will start now to work on this.

[2018-02-14 18:03] rncahn commented on #82
OK.  No problem with Poisson fluctuations if the distribution of sky fiber
targets isn't random.

I'm not sure that assigning SF and SS low priorities is a good approach.
It is easy to fix things so will fill all fibers by simply by removing the
lines of code that enforce the maximum on SF and SS.

On Wed, Feb 14, 2018 at 9:41 AM, Stephen Bailey <notifications@github.com>
wrote:

[2018-02-14 18:09] sbailey commented on #82
It is a little more complicated than just removing the upper limit because below that limit we should bump science targets if needed to achieve that limit, but after that limit it should just continue to fill any unused fibers but not bump anything else.

[2018-02-14 18:11] rncahn commented on #82
It doesn't sound hard to me.

On Wed, Feb 14, 2018 at 10:09 AM, Stephen Bailey <notifications@github.com>
wrote:

[2018-02-16 17:05] forero commented on #82
I am finding that the minimal 400 sky fibers tend to be clustered on the focal plane. Is this a feature? a bug? or completely irrelevant?
![sky](https://user-images.githubusercontent.com/1848618/36319673-a7a0cf20-1311-11e8-9742-750897d28c79.png)

[2018-02-16 17:14] rncahn commented on #82
Not a feature!  Why are there so many unassigned fibers in the plot at the
lower right?  I suspect that no effort was made to randomize locations for
assigning SF and SS because it was imagined that there wouldn't be many
open fibers when we got around to making these assignments. They would
simply go in whatever holes there were and after that we replace
target-assigned fibers to SS and SF.  This

[2018-02-16 17:18] forero commented on #82
There are many unassigned fibers because I tried a very low number density for the targets. For a realistic number density the sky positions look random
![sky_two](https://user-images.githubusercontent.com/1848618/36320217-702456c8-1313-11e8-8f25-355601efeea7.png)

[2018-02-16 17:22] rncahn commented on #82
Nonetheless, we should follow up your question.  Is the order of the fiber
numbers randomized with respect to location in the petal?

On Fri, Feb 16, 2018 at 9:18 AM, Jaime Forero-Romero <
notifications@github.com> wrote:

[2018-02-16 17:38] sbailey commented on #82
Good catch, @forero.  The fibers numbers are semi-randomized on the focal plane, but clumped in groups of 50 (see DESI-2721 and desimodel fiberpos.fits for details).  If the "assign sky fibers" algorithm is going in order of fiber number, then indeed you could end up with clumps of sky fibers on the focal plane if the science targets aren't very dense.

I don't want to introduce a random number ge

[2018-02-16 17:44] forero commented on #82
@rncahn In the meantime I've just pushed a change where all the unused fibers are filled with sky locations. This seems to work in the tests I've run. Can you please double check I am not doing something crazy?

[2018-02-21 17:03] #82 closed

[2018-02-21 17:15] forero commented on #92
@sbailey I am now working on this issue. Should I simply suggest/create a `fiberstatus.fits` of my own and start working or do you have an example available?

[2018-02-21 17:44] sbailey commented on #92
Please use a dummy file for testing, and we'll try to get a "real" one in place to coordinate with merging this.  Let's use ECSV which is ascii and human readable/editable, allows comments and units, and is still reasonably easy to parse (for fiberassign C++ code, just ignore the # header lines).  Example:
[code]
Since you are the first user of this, comment if there is something missing or if thi

[2018-02-25 20:11] forero commented on #92
I can read the file. How should the information be used? Simply not assign anything to a BROKEN/STUCK fiber?

[2018-03-15 01:25] weaverba137 opened #103 "fiberassign's installation procedure assumes that install directory already exists."
It used to be the case that desiInstall would copy the entire contents of a downloaded package to a directory called `INSTALL_DIR`.  This has the side-effect of creating the directories that the fiberassign executables need to be copied to.  And the fiberassign `make install` process blindly assumes that these directories already exist.

The `make install` process should create the directories it

[2018-03-15 16:14] forero commented on #92
Done in #101. Further updates/fixes to the current implementation can be requested in a separate issue.

[2018-03-15 16:14] #92 closed

[2018-03-15 19:11] weaverba137 commented on #103
Huh, the desiInstall procedure also does not set the `PLATFORM` variable (because that is a peculiarity of fiberassign), so presumably the generic platform is selected.

[2018-03-15 22:52] tskisner commented on #103
Just as a point of reference, when I install fiberassign for dev installs (with some custom scripts I have), I use harpconfig to get the compile flags for the system (these are the same flags used to build specex).  I then copy the fiberassign python tools into the correct site-packages directory and run compileall.compile_dir() to ensure that all the pyc files are created on the filesystem.  This

[2018-03-15 23:00] weaverba137 commented on #103
Hmm, it would be nice to actually use harpconfig at least.  That did remind me to update the individual platform files for cori and edison at least.

[2018-03-20 16:51] #103 closed

[2018-03-21 20:23] sbailey opened #106 "fiberassign Makefile broken?"
PR #104 appears to have broken "make install" for the fiberassign master module on cori.  What I used to do (I think) as the desi user:
[code]
That now complains
[code]
Switching to `make PLATFORM=harpconfig install` gets further but still fails to install the fiberassign executable:
[code]
What should be done to compile and install this?

[2018-03-21 20:30] weaverba137 commented on #106
I'll take a look, but first of all, did you read the README file?

[2018-03-22 00:04] sbailey commented on #106
Yes.  The REAME suggests `make PLATFORM=nesrc_cori_haswell install`, which fails with the same error as `make install` does.

[2018-03-22 00:44] weaverba137 commented on #106
Also, is there a reason you're using a pre-18.2 environment for this?  In other words, does `make install` need to support all possible releases, or only 18.2++ ?

[2018-03-22 00:53] sbailey commented on #106
I was trying to update the master copy under desiconda/20170613-1.1.4-spectro which is where we have been running our integration tests so far.  Although we will soon switch to a newer desiconda for those tests, I'd rather not have fiberassign make install be fragilely dependent upon the desiconda environment, since that probably also implies difficulties installing it on a random collaborator's c

[2018-03-22 17:28] sbailey commented on #106
I also tried this on edison using the 18.2 environment, with the same failure:
[code]

[2018-03-22 17:29] weaverba137 commented on #106
I'm working on this now.  The platform error was just a typo.  The install failure is a bit stranger.

[2018-03-22 18:33] sbailey opened #108 "Optional config file"
PR #105 replaced the config ("features") file with command line options.  Although this is convenient for many cases, it could also be useful to have an optional config file to override the now-hardcoded numbers in `Feat::Feat()` or to specify the mtl, sky, outdir, etc. in a single location that could be archived along with the output tile files.

To do:
* Add an *optional* `--config` config file

[2018-03-22 18:35] #106 closed

[2018-03-22 18:37] forero commented on #23
Closed in #105.

[2018-03-22 18:37] #23 closed

[2018-03-22 18:38] forero commented on #89
closed in #105.

[2018-03-22 18:38] #89 closed

[2018-03-23 23:05] sbailey opened #109 "unassigned fibers RA, dec, x, y"
Unassigned, stuck, and broken fibers should still set meaningful RA, DEC, X, and Y quantities rather than NaN.  This will require implementing the conversion from (x,y + telra,teldec) -> (RA,DEC)

desitarget will soon define a NO_TARGET bit which should be set for DESI_TARGET for these fibers.

A new FIBERMASK column should be included in the output, setting bits for broken and stuck fibers (inste

[2018-04-25 20:16] forero commented on #96
@sbailey  Do we know what information should be propagated?

Related to this we have this comment from Kyle in the last internal review

What is the minimal set of columns that Klaus needs?

[2018-04-25 20:37] djschlegel commented on #96
If there are to be any changes, they should be reflected in the data model for the tile files:
  http://desidatamodel.readthedocs.io/en/latest/DESI_TARGET/fiberassign/tile.html
It looks like the current outputs do correspond to the current data model.

[2018-05-08 21:08] sbailey commented on #96
Some details are still being worked out, but here is at least a starting set of changes to make to fiberassign output (and thus to MTL in some cases):

Columns to add:
  * [ ] SUBPRIORITY (float64), from targets -> MTL -> fiberassign
  * [ ] PETAL_LOC (int8, 0-9 = LOCATION // 1000)
  * [ ] DEVICE_LOC (int16, 0-526 = LOCATION % 1000)

Placeholder columns to add; these will come from targets -> MTL

[2018-05-09 19:17] forero commented on #109
solved in #112

[2018-05-09 19:17] #109 closed

[2018-05-11 20:45] sbailey opened #113 "robustness to user error on input file formats"
fiberassign requires several input files, some of which need to be text and others are fits.  e.g. --footprint is the $DESIMODEL/data/footprint/desi-tiles.fits file (not the desi-tiles.txt file) but --positioners is the $DESIMODEL/data/focalplane/fiberpos.txt (not the fiberpos.fits file).

If you get the combination correct, it all works fine.  If you accidentally substitute a fits file for a text

[2018-05-25 18:01] sbailey commented on #8
Assigning to @tskisner.  More broadly than original title and related to #35, run valgrind on fiberassign, assess warnings and errors, and fix them.  i.e. do general cleanup of C++ robustness, but avoid doing major cosmetic refactors.

[2018-05-25 18:03] tskisner commented on #35
Is the script in test/test_fiberassign.py still the main "functional test"?  Or is there some better test case to use?

[2018-05-25 18:04] rncahn commented on #8
thanks.

On Fri, May 25, 2018 at 6:01 PM, Stephen Bailey <notifications@github.com>
wrote:

[2018-05-25 18:07] tskisner commented on #8
@sbailey and @rncahn, see comment on #35, which test case is best / most useful for this work?

[2018-05-25 18:07] rncahn commented on #35
My recollection is that a long time ago, though fibereassign ran fine,
there were problems found with valgrind, of the sort "missing
constructor."  I thought this had been fixed, but what is needed is to run
valgrind on in again.

On Fri, May 25, 2018 at 6:03 PM, Theodore Kisner <notifications@github.com>
wrote:

[2018-05-25 18:09] sbailey commented on #78
Let's use the SUBPRIORITY column for ranking the order in which standard stars are assigned, just like it is used for science targets.  Upstream we'll work on making the SUBPRIORITY for standard stars a meaningful ranking.

Note: fiberassign should not crash (or have undefined order results) if some (or all) subpriorities are the same.

[2018-05-25 18:09] rncahn commented on #8
As my last note suggested, simply running fiberassign may not be
sufficient. I'm happy to help Kisner with this, but no doubt is a much
better valgrinder.

On Fri, May 25, 2018 at 6:07 PM, Theodore Kisner <notifications@github.com>
wrote:

[2018-05-25 18:13] tskisner commented on #8
I am looking for a test case, so that I can verify that code changes do not break existing functionality.  I assume there are no formal "unit tests", but it would be great to have a stand-alone script that can be run with some input files and verify that outputs are the expected result.  Or at least a script that runs fiberassign and I can write a separate script that compares outputs of current m

[2018-05-25 18:19] rncahn commented on #8
I will try to provide something that runs.

On Fri, May 25, 2018 at 6:13 PM, Theodore Kisner <notifications@github.com>
wrote:

[2018-05-25 18:22] forero commented on #98
This seems to be hardcoded here:

https://github.com/desihub/fiberassign/blob/master/src/collision.cpp#L223-L228

[2018-05-25 18:26] sbailey commented on #97
This one is tricky, and would be the first case where fiberassign needs to know about where the fibers go on the CCD.  For starters, let's evaluate how often this happens by random chance.  If it is rare anyway, we could just exclude those sky fibers in the downstream analysis and not worry about it at the level of fiber assignment.

[2018-05-25 18:30] rncahn commented on #8
fiberassign  --mtl
/global/cscratch1/sd/sjbailey/desi/dev/end2end/targets/mtl.fits  --stdstar
/global/cscratch1/sd/sjbailey/desi/dev/end2end/targets/standards-dark.fits
--sky      /global/cscratch1/sd/sjbailey/desi/dev/end2end/targets/sky.fits
--surveytiles  /global/cscratch1/sd/rncahn/keep_tiles_0_15_150_170
--footprint $DESIMODEL/data/footprint/desi-tiles.fits  --positioners
$DESIMODEL/data/foca

[2018-05-25 18:33] rncahn commented on #97
8% of the fibers go to sky fibers.  The odds that a standard star fiber is
adjacent to a sky fiber is about 16%.

On Fri, May 25, 2018 at 6:26 PM, Stephen Bailey <notifications@github.com>
wrote:

[2018-05-25 18:34] sbailey opened #115 "python wrapper for fiberassign"
Make a python wrapper for fiberassign to simplify the FITS I/O logic and coordinating science fiber assignments, sky monitor fiber assignments, adding GFA targets, and adding row-matched target selection targets.  This could be as "simple" as spawning the C++ fiberassign code and then parsing its outputs; it doesn't have to be a full ctypes wrapper etc.

This code could also make it easier to do t

[2018-05-25 18:36] sbailey commented on #115
Also related to #99 to run fiberassign on arbitrary pointings.  This wrapper could take optional `--telra TELRA --teldec TELDEC --tileid TILEID` options that would be used to create a temporary tile definition file before running fiber assignment for that tile.

[2018-05-25 19:56] forero commented on #31
I've just run fiberassign on Edison and Cori for ~10K tiles and ~20M targets form DR5 (using https://github.com/forero/decals_fiberassign_hack) and I get the same results when I compare each tilefile with fitsdiff.

[2018-05-25 20:48] sbailey commented on #35
`test/test_fiberassign.py` is probably broken after the interface change to use command line arguments instead of a config file.  Example command from the minitest notebook that can be used for testing with valgrind:
[code]

[2018-05-25 20:50] sbailey commented on #31
Thanks for the final check.  Closing.

[2018-05-25 22:01] forero commented on #97
That's right. So, for 100 star fibers + 400 sky fibers, we roughly have 16 (sky,star) pairs contiguous on the CCD. Is that too bad?

[2018-06-06 23:27] sbailey commented on #99
Most of this was done by PR #115, but let's leave this issue open until the GFA targets have been included in that wrapper too (as an option, not a requirement).

[2018-06-07 19:39] moustakas opened #117 "compiling fiberassign on an OS X laptop?"
Has anybody been able to compile `fiberassign` on a Macbook Pro (running 10.13.4 with updated Xcode)?

[code]

[2018-06-07 20:03] forero commented on #117
I've managed to compile it on a macbook pro with macos sierra 10.12.6.

This setup works for me in `platforms/osx`:

[code]

[2018-06-07 20:14] sbailey commented on #117
@moustakas note the instructions in the README are a bit more than the standard "make".  In your case I think you want "make PLATFORM=osx install".

[2018-06-07 20:52] moustakas commented on #117
Thanks @sbailey I did see the README but without @forero's suggested modifications to the `platforms/osx` file the code still doesn't compile.  In the end using the following flags worked for me:
[code]

I leave it up to the lead developers to decide whether these changes should be incorporated in a PR and/or whether to close this issue.

[2018-06-08 19:10] sbailey opened #118 "sign flip in (RA,dec) -> (x,y)"
fiberassign has a sign flip in the transformation from (RA,dec) -> (x,y).

The transforms should be:
* Larger RA -> smaller (more negative) X (fiberassign has the opposite)
* Larger DEC -> larger (more positive) Y (fiberassign is correct here)

See [DESI-0481](https://desi.lbl.gov/DocDB/cgi-bin/private/ShowDocument?docid=481) and [DESI-0742](https://desi.lbl.gov/DocDB/cgi-bin/private/ShowDocument?

[2018-06-12 16:40] tskisner commented on #35
I cannot reproduce this on edison.  Steps to verify:

1.  Load your favorite desiconda environment

2.  Go into your fiberassign checkout, master branch, and install to (for example) someplace in scratch:
[code]
Note that I always build using the harpconfig platform file, which allows for using the same compile options as HARP (installed in desiconda) and SPECEX (which also uses harpconfig).  This

[2018-06-12 16:44] tskisner commented on #35
Looking at the platform files that are labeled "nersc_*", they seem to be using GNU compilers, but linking to cfitsio from desiconda (built with Intel).  In principle those should be ABI compatible, but...  Probably safer to use the harpconfig platform and get the same compilers and options used for compiled code everywhere else in the desi stack.

[2018-06-12 17:12] tskisner commented on #117
Looks like this means that the code is requiring GNU extensions.  Short term solution is to edit OSX platform file.  Longer term we could remove things that require GNU extensions.

[2018-06-12 17:13] tskisner commented on #113
@forero notes that these types of checks could be more easily done in the python wrapper.

[2018-06-12 17:15] tskisner commented on #108
We can just pass an input file to the python layer argparse.  It is a trivial format with one string per line.

[2018-06-12 17:22] sbailey commented on #98
Ideally we would have a parameter file (like fiberpos.fits, perhaps an augmented version of fiberpos.fits) with the arm lengths for each positioner.

[2018-06-12 17:35] tskisner commented on #77
This should go in the python wrapper as part of initial checks.

[2018-06-12 17:39] sbailey commented on #3
related to #93 swapping logic flexibility

[2018-06-12 18:13] tskisner commented on #35
Ah, interesting- it looks like the final executable is now "fiberassign_exec" rather than "fiberassign".  My tests above were with an older version of the executable.  Ignore my previous results.

[2018-06-12 21:05] tskisner commented on #35
Ok, some more information.   Using intel-compiled fiberassign with the intel-compiled libcfitsio from desiconda causes valgrind to die with an unhandled instruction error.  This is due to sse4 instructions in the Intel math library which are linked in with "-lm" when building cfitsio.  I built my own cfitsio (and valgrind) on edison with gcc-7.1, and then built fiberassign with the same gcc and ra

[2018-06-12 22:33] moustakas opened #120 "extract standards from the input merged target list"
Related to https://github.com/desihub/desitarget/issues/256, and with #114 and #116 now complete, can't `fiberassign` extract the standard stars from the input `mtl.fits` file itself?  This change should simplify the fiber-assignment code and also make it simpler to run fiber assignment on a "real" target catalog (which doesn't generate a separate, duplicate catalog of standards).

[2018-06-13 16:38] tskisner opened #121 "C++ code should have a consistent style"
As you know, C/C++ has no formal style guidelines like Python (PEP-8).  The most important thing is consistency.  Currently, the source has inconsistent styles, even within the same source file.

I would like to fix this, so the first step is to determine what style we want to use.  There is a useful tool (called "uncrustify") that does automated formatting of the source according to a specified s

[2018-06-13 17:17] sbailey commented on #120
+1 .  It was an oversight that we didn't already have a ticket for this.  I'll remove the "question" flag from this to flag it as something to do.

The original motivation for having the standards in a separate file was to simplify re-using standards with different input mocks, so it would be convenient to retain that as an option, but move the default to extracting the standards directly from the

[2018-06-14 21:33] forero commented on #95
Solved by #119

[2018-06-14 21:33] #95 closed

[2018-06-14 22:53] sbailey commented on #99
PR #122 added GFA targets; closing this ticket.

[2018-06-14 22:53] #99 closed

[2018-06-16 00:13] tskisner commented on #121
Closed by #123

[2018-06-16 00:13] #121 closed

[2018-06-16 14:05] tskisner commented on #117
This is fixed in PR #124.

[2018-06-16 20:07] #35 closed

[2018-06-16 20:08] tskisner commented on #117
Closed by #124

[2018-06-16 20:08] #117 closed

[2018-06-16 20:10] tskisner commented on #8
After changes in #124, code compiles cleanly even with all warnings enabled ("-Wall").  And valgrind runs with no memory issues.  Closing this now.

[2018-06-16 20:10] #8 closed

[2018-06-22 01:41] moustakas opened #125 "fiberassign is only processing one out of six dark tiles"
I'm running fiber assignment with a non-standard tile file and only one out of six input tiles are being processed by fiber assignment.  I'm certain I'm doing something wrong (probably with my input tile file) but I'm not sure what to change.

To reproduce the issue you'll need to unpack this tarball in any empty directory:
http://www.sos.siena.edu/~jmoustakas/tmp/test-fiberassign.tar.gz
and then

[2018-06-22 11:12] moustakas commented on #125
I think I figured out the problem -- `bin/fiberassign` assumes/hard-codes a 5-digit tileid (see, e.g., [here](https://github.com/desihub/fiberassign/blob/master/bin/fiberassign#L158), [here](https://github.com/desihub/fiberassign/blob/master/bin/fiberassign#L166), and [here](https://github.com/desihub/fiberassign/blob/master/bin/fiberassign#L194)), whereas I'm using a tileid that starts at 100000,

[2018-06-25 21:13] forero commented on #118
Fixed by #127

[2018-06-25 21:13] #118 closed

[2018-06-26 00:00] sbailey commented on #96
This will be part of major datamodel refactor that won't converge in time for the 18.6 release; punting to 18.9 release.

[2018-06-27 23:43] forero commented on #77
Solved in #128

[2018-06-27 23:43] #77 closed

[2018-07-11 03:51] sbailey commented on #113
Another example (from desihub/desitest#9): the fiberassign interface has now changed such that it requires the fiberpos-all.fits file, not the fiberpos.txt file.  If you give it the fiberpos.txt file (which used to work) it dies in an astropy I/O routine, and if you give it the fiberpos.fits file (which we thought would work) it runs and exits with 0 and no error messages but fails to write output

[2018-07-14 17:10] sbailey opened #130 "failing to assign standard stars"
@forero can you help with this?  This is a blocking factor for the next (and overdue) software release.

The following command fails to assign any standard stars:
[code]

The input files have standard stars, they seem to have the right targeting bits set, but somewhere they get dropped.

This is a spin off from desihub/desitest#9 .

[2018-07-16 15:11] forero commented on #130
I am taking a look at this right now.

[2018-07-16 16:44] forero commented on #130
@sbailey There was indeed a bug (an overflowing int at the moment of initializing the `SS` flag). Please test the bugfix in branch `debug`.

[2018-07-16 17:22] weaverba137 commented on #130
I am testing this now.

[2018-07-16 19:21] sbailey commented on #130
This appears to be a normal level of "not quite enough" standard stars due to the current default standard star density.  Let's proceed with the fiberassign PR.

[2018-07-16 20:01] #130 closed

[2018-07-20 16:18] kdawson1000 opened #133 "prioritizing multiple fiber assignments for targets in SV"
We will need to increase the number of fiber assignments per object during survey validation.  The goal is to have a target assigned a fiber four times before another available target is given a fiber.

In the test runs on the BGS survey validation fields, no object is assigned a fiber more than once.

Can we change the prioritization such that an object is prioritized for four total fiber assignm

[2018-07-20 16:30] sbailey commented on #133
The "Merged Target List" inputs to fiberassign have a NUMOBS_MORE column for how many more times it is requested to be observed and fiberassign will try to meet that given the tile/fiber overlaps available.  Higher PRIORITY+SUBPRIORITY targets get placed first.  This can be set independently per target.

i.e. I think that provides the flexibility needed for SV.  If not, please clarify what is miss

[2018-07-20 17:37] moustakas commented on #125
Fixed in #126.

[2018-07-20 17:37] #125 closed

[2018-07-20 18:40] forero commented on #133
The MTL is generated using a function from desitarget
    `mtl = desitarget.mtl.make_mtl(targetdata)`
https://github.com/forero/fiberassign_sv/blob/master/main.py#L107

NUMOBS is computed there. Full details are here
https://github.com/desihub/desitarget/blob/master/py/desitarget/targets.py#L417

The fix in this case would be changing by hand that column in the mtl file.  I don't think there is an

[2018-07-20 18:59] sbailey commented on #133
I'm going to close this ticket since I think it is just a matter of how to use the existing features, but feel free to re-open or submit a new ticket if it turns out that we need additional fiberassign functionality to support this for SV.

[2018-07-20 18:59] #133 closed

[2018-07-20 19:23] rncahn commented on #133
I agree.  The capability is in fiberassign.  This is the same capability
needed for multiple observations of QSOs, LRGs.

On Fri, Jul 20, 2018 at 8:59 PM, Stephen Bailey <notifications@github.com>
wrote:

[2018-07-24 10:38] apcooper opened #134 "Avoid dropping science targets for sky fibres if alternate sky locations are available?"
Following up on an offline query to @forero.

There may be petals where both these are true:
 * More than the minimum number of fibres are assigned to sky, because some fibres don't have a science target.
 * Some of the sky fibres we assigned to meet the minimum requirements are blocking a science target.

In those cases we might consider swapping science-blocking 'mandatory' sky fibres back to sc

[2018-07-24 16:06] forero commented on #134
@apcooper The gains can be quantified by taking a look at the `POTENTIAL` table in the tile files (The table lists all the potential targets available for every fiber). Do you volunteer to take a look at that?

[2018-07-24 16:11] rncahn commented on #134
Andrew,

I suspect the effect is really, really small.  Assigning sky fibers is done
after assigning real targets.

Bob

On Tue, Jul 24, 2018 at 10:38 AM, Andrew Cooper <notifications@github.com>
wrote:

[2018-07-24 16:30] forero commented on #134
@rncahn Oh! My understanding of the code was that stars+sky were assigned first. If science targets come first and then pushed to fill stars+sky then the effect should be small.

[2018-07-25 09:23] apcooper commented on #134
If you can direct me to some recent enough reference outputs, I can take a look.

Would be good to know the definitive answer to this.

[2018-07-26 19:20] forero commented on #134
@apcooper Here are some outputs http://portal.nersc.gov/project/desi/users/forero/SV_BGS_v0.2/.

[2018-07-26 21:31] forero opened #135 "Number of standars and sky per petal as input parameter"
The current version of `fiberassign` has hardcoded numbers for the number of standard stars and sky fibers per petal. This should be instead set as an input parameter, the current values should be used as default.

[2018-07-26 22:06] sbailey commented on #135
Flagging as an "onsky" issue because we will need this flexibility for commissioning, even though we could literally go on sky without having this as a on-the-fly configurable parameter.

[2018-07-27 22:47] sbailey opened #136 "Refactor C++ into library called by python"
Getting this work by @tskisner into a ticket for tracking status and questions:

Remove all I/O from the C++ code and make it into a pure library that can be called from python, instead of having a python wrapper that calls the C++ executable to generate temporary files that get read back in to write the final ones.  In the short term this is a fairly major change, but in the long term it should g

[2018-07-27 22:55] tskisner commented on #136
Thanks for opening this @sbailey .  For now, I have created a branch to test building all the C++ code directly as a python extension (the "pybind" branch).  This means no more Makefile, just a desi-compatible setup.py.  And instead of calling an external executable, the fiberassign script calls a function from the package.

I verified that a small test data set worked on this branch.  This was th

[2018-07-31 11:31] moustakas commented on #134
It came up on a recent Data Systems call (2018-July-24) in the context of discussion Survey Validation, that standard stars and sky fibers should be assigned *before* science targets, to ensure that the desired/required target density of calibrators is achieved.

Is this right?  If so, we should spin this into its own (high-priority) issue.

[2018-07-31 11:53] moustakas opened #137 "where is subpriority used (if at all)?"
Apologies for my unfamiliarity with the `fiberassign` code, which I'm trying to learn.

Where is `subpriority` used, if at all?  It looks like this field is [documented](https://desidatamodel.readthedocs.io/en/latest/DESI_TARGET/mtl.html?highlight=subpriority) in the data model but not written out by [`desitarget.mtl.make_mtl`](https://github.com/desihub/desitarget/blob/master/py/desitarget/mtl.py

[2018-07-31 12:46] rncahn commented on #137
Subpriority is used to choose between targets that otherwise have the same
priority.  It was introduced to replace throwing random numbers every time
such a choice needed to be made.  This provides for reproducibility while
avoiding biases that could creep in.

On Tue, Jul 31, 2018 at 4:54 AM, Moustakas <notifications@github.com> wrote:

[2018-07-31 14:09] moustakas commented on #137
Thanks @rncahn! Can you point me where specifically in the code subpriority
is used?

On Tue, Jul 31, 2018, 8:46 AM rncahn <notifications@github.com> wrote:

[2018-07-31 16:28] rncahn commented on #137
In global.cpp, to determine which target to use:

inline int find_best (int j, int k, const MTL & M, const Plates & P,
const FP & pp, const Feat & F,
const Assignment & A) {
int best = -1;
int mbest = -1;
int pbest = 0;
double subpbest = 0.;
List av_gals = P[j].av_gals[k];
// For all available galaxies
for (size_t gg = 0; gg < av_gals.size(); gg++) {
int g = av_gals[gg];
// if(ok_for_limit_SS_SF(g

[2018-07-31 16:59] moustakas commented on #137
Thanks @rncahn!

[2018-07-31 16:59] #137 closed

[2018-08-01 20:15] forero commented on #134
The desired/required target density of calibrators is always achieved (provided there are enough of them, of course). See the discussion in #82.

[2018-08-06 16:53] sbailey commented on #134
The assignment algorithm is:
1. assign science targets first.
2. assign sky and standards to unassigned fibers.
3. start stealing fibers from the lowest priority science targets only if needed to achieve the required std/sky densities.

i.e. the case that @apcooper described in the initial post should never happen (higher sky density than required while still bumping science targets).  Was that co

[2018-08-06 17:12] sbailey opened #138 "columns for POTENTIAL HDU"
Spinning the contents of this particular HDU off from #96 (propagating input information) and desihub/desidatamodel#56 (datamodel should be sufficient to understand the data format without docdb):

I propose the following columns at minimum for the POTENTIAL HDU:

* TARGETID (int64)
* FIBER (int32)
* ASSIGNED (bool)

It could be convenient to also have LOCATION (int32) (location on focal plane, vs

[2018-08-07 10:17] apcooper commented on #134
Thanks for the explanation, @sbailey. The concern was theoretical. Happy to close.

I looked briefly at @forero's example run but was confused by the 80 standards and 1285 skies per tile. I'll follow that up with @forero separately.

[2018-08-07 20:01] forero commented on #134
@apcooper A high number of skies per tile can happen if the science target density is low. That can be checked using the `POTENTIAL` field in the output `fiberassign` files.

[2018-08-08 23:14] #134 closed

[2018-08-09 00:07] sbailey commented on #137
More info: SUBPRIORITY is generated once at the time of target selection and written into the target catalog and then never changed.  MTL just propagates that forward along with the rest of the target catalog columns, which is why you don't see it in the MTL code.

[2018-08-10 17:06] forero commented on #135
Solved in this commit https://github.com/desihub/fiberassign/commit/c1fcdfeec0322198609b74def2259e7964d694dc

I pushed directly to master by mistake!
@sbailey @rncahn  please help me running more tests. I ran some simple tests and it works as expected.

[2018-08-10 17:24] #135 closed

[2018-08-13 15:18] sbailey commented on #78
Discussions on other email threads and tickets has come to the conclusion that using SUBPRIORITY to rank standard stars is a bad idea, e.g. because standards overlap with MWS targets and ranking them by their usefulness as standards conflicts with making them truly random as science targets.

Current thinking is to make WD high-priority low-density normal targets so that they will always get place

[2018-08-13 19:04] kdawson1000 opened #140 "Consistent use of (SUB)PRIORITY and NUMOBS_MORE throughout fiber assignment"
SUBPRIORITY is currently used as a tie-breaker when science targets of equal priority compete for the same fiber.  However, it is not being used as a tie-breaker when std star or sky targets get assigned.

In the case that the number of available fibers is less than the number of required std star/sky targets, the code randomly displaces the lowest priority science targets with calibration targets

[2018-08-14 00:28] kdawson1000 commented on #140
Stephen's point is very reasonable.  Is SUBPRIORITY really limited to (float, 0-1)?  If so, there will be no concern about pushing a target with PRIORITY+SUBPRIORITY so that it bumps a target from a higher priority class.

[2018-08-14 00:47] moustakas commented on #140
Yes, `SUBPRIORITY` is limited to [0.0, 1.0):
https://github.com/desihub/desitarget/blob/master/py/desitarget/io.py#L205

[2018-08-14 02:45] tskisner commented on #140
I was just looking at this code today:

https://github.com/desihub/fiberassign/blob/master/src/global.cpp#L217

And thinking that those compound conditionals should be replaced with a simple calculation of a single number that could be simply used to rank the available targets for each tile filber.  Something like:

pr = (double)priority * 1.0e10 + (double)obs_remaining * 1.0e8 + subpriority;

Whe

[2018-08-14 05:10] sbailey commented on #140
Interesting.  Those lines of code highlight that needing more observations trumps subpriority (as would your proposed replacement).  Though I'm not sure either one is particularly clear without the comment above it to explain the reasoning.

I'm also not sure which assignment is best: if LyA QSO A has 3 observation and B has 2 observations and we only have 1 fiber left and it covers both, would we

[2018-08-14 12:48] tskisner commented on #140
In addition to splitting out the I/O, my focus in the refactor for #136 is just cleaning up the code and making it easier to determine what is going on without changing the underlying algorithm.  But yes, good to consider what the desired behavior should be.

[2018-08-14 13:35] kdawson1000 commented on #140
We have to ask the TS group and the Lyman-alpha group what they want in the case of two high priority objects competing for the same fiber when they both have NOBS_MORE>1.  The obvious cases are:

(a) two quasar targets, one is confirmed z>2.1 with only one epoch and the other has not been observed
(b) two quasar targets, both are confirmed z>2.1 and both have NOBS_MORE>1
(c) two LRG targets, one

[2018-08-14 14:33] kdawson1000 commented on #140
yes, definitely.  I am happy to gather this information from the science teams and get it recorded on the TS wiki.

[2018-08-20 16:54] kdawson1000 commented on #140
We have feedback from the galaxy groups.  We should use the following scheme for fiber collisions:

(c) two LRG targets, one is z>20 and has one observation, the other is z>20 and has no observations.  Do we continue to observe the first target or do we prioritize the new target?  ***ACTION:  Continue to observe the first one to 2X depth.  LOGIC:  Completeness of z>20 LRGs is supposed to be achiev

[2018-08-20 16:58] kdawson1000 commented on #140
We have feedback from the lyman-alpha forest group, the first scenario is decided:
    (a) two quasar targets, one is confirmed z>2.1 with only one epoch and the other has not been observed.  Do we choose deeper observations of the known z>2.1 quasar or do we choose to increase sample size by taking an epoch of the unknown quasar target?  ***ACTION:  assign fiber to the known quasar for one additi

[2018-08-20 17:05] kdawson1000 commented on #140
The second scenario for lyman-alpha needs more thought.  Specifically, how nuanced do we want our criteria to be for deciding follow-up observations?  One could use a script provided by the Lyman-alpha WG as part of the MTL process and leave the complexity to those folks.  The thought process is below:

 (b) two quasar targets, both are confirmed z>2.1 and both have NOBS_MORE>1.  Do we choose to o

[2018-08-20 17:06] kdawson1000 commented on #140
I missed another Lyman-alpha situation.  Are we using information from BOSS/eBOSS in the target selection and prioritization of quasar targets?  The case to consider is:

(f) on the first pass, we have a BOSS z>2.1 quasar, and a quasar target that was not observed in BOSS (this might also be an issue with LRGs if we decided to reobserve them). PROPOSAL: we observe the non-BOSS quasar in the first

[2018-08-20 18:07] geordie666 commented on #140
Hi Kyle,

Thanks...this is useful. Can someone with fiberassign expertise indicate
whether we store the knowledge that something is a collided pair in the
context of reobserving it on additional passes?

In targeting (MTL; merged target list), we can change the priority of *any
individual target* based on the current spectroscopic knowledge for that
individual target. But, I don't think that MTL c

[2018-08-20 18:48] rncahn commented on #140
We don't store information on past potential collisions because they are
specific to a particular target and most targets are observed only once and
because the collisions are also specific to the location of the center of
the field.

On Mon, Aug 20, 2018 at 11:07 AM, Adam Myers <notifications@github.com>
wrote:

[2018-09-02 19:53] forero commented on #96
@sbailey

I've just opened PR #141 to solve this ticket.

I still have a few questions on the best way to solve it. I am following https://desidatamodel.readthedocs.io/en/mockobserving/DESI_TARGET/fiberassign/tile-TILEID-FIELDNUM.html to get the list of columns to be implemented.

Many of them are currently found in the `targets` file and not in `mtl`. Should we change how the `mtl` is computed or

[2018-09-03 10:29] moustakas commented on #96
A quick note since I've been staring at the latest (`targets-dr7.1-0.23.0.fits`) targets catalog recently:

The latest catalog now has the checked-off columns above (although the inverse variances do not have the requested default value of 1.0) but is missing the REFEPOCH header card.

See here for more:
https://desidatamodel.readthedocs.io/en/latest/DESI_TARGET/targets.html

[2018-09-04 15:30] moustakas commented on #96
No problem.  Also note that `PRIORITY` and `NUMOBS` are now set by `desitarget.targets.finalize`, so we need to update that part of `desitarget.mtl.make_mtl`.  (Sorry, this comment belongs elsewhere.)

[2018-09-07 13:32] moustakas commented on #96
Fiberassign also needs to carry forward the healpixel (`HPXPIXEL`) number from the target catalog, as discussed in https://github.com/desihub/desitarget/issues/238.

[2018-09-07 15:23] moustakas opened #142 "fiberassign tests can only be run at NERSC"
The `test/test_fiberassign` tests (and perhaps others) use the parameter file `test/params_fiberassign.txt`, which has hard-coded NERSC paths.  It would be great to be able to test changes to the code in a machine-agnostic way, e.g., by keeping the "lite" MTL, SKY, etc. files in the fiberassign repository itself.

[2018-09-07 15:54] moustakas commented on #78
It was discussed and decided here and in https://github.com/desihub/desitarget/issues/337 that standard stars would not be rank-ordered, in order to not create issues with the selection and priorities of MWS science targets.

[2018-09-07 15:54] #78 closed

[2018-09-12 14:53] forero commented on #96
@moustakas `HPXPIXEL` will be stored in the HDU4 https://desidatamodel.readthedocs.io/en/mockobserving/DESI_TARGET/fiberassign/tile-TILEID-FIELDNUM.html#hdu4

[2018-09-12 15:29] forero commented on #96
`TYPE`  lives in `HDU1`. What is `FRACDEV` ?

[2018-09-12 15:36] moustakas commented on #96
It's the fraction of the model that's DEV vs EXP, documented here--
http://legacysurvey.org/dr7/catalogs/

So for example the (weighted) "size" of a general galaxy is `FRACDEV * SHAPEDEV_R + (1-FRACDEV) * SHAPEEXP_R`, and so forth.

(No need to explain here, but I'm personally confused about why some quantities are in HDU1 vs HDU4, and why many columns are repeated.)

[2018-09-12 17:04] forero commented on #31
@sbailey @rncahn @tskisner
I am reopening this issue after getting puzzling results from a simple test. I reshuffled the order of the targets in the `mtl.fits` and I get roughly 5% of the fibers assigned to a different target compared with the original `mtl.fits`. The results in these two cases should be the same, right?

[2018-09-12 17:20] tskisner commented on #31
I am currently testing my refactored / rewritten version of the code doing the "first-pass" assignment.  I am still working on getting those to agree, but when they do I can also do a test where I take my input mtl.fits and shuffle the order.

Both the old and new codes should loop over fibers in order based on the maximum (priority + subpriority) target available to each.  In the case of equality

[2018-09-12 17:31] moustakas commented on #31
This issue also points to the need for more extensive unit tests for fiberassignment, also vaguely related to #142.

[2018-09-12 17:35] tskisner commented on #31
Yes.  The new code has unit tests in python (python setup.py test), although currently I'm using a several MB mtl.fits file for the purpose of testing consistency with the old version of the code.  Once the 2 versions agree on that, I'll try to extract a smaller set of files that still have the essential properties (multiple tiles, on average a few targets per fiber, etc), so that we can check tha

[2018-09-12 17:48] sbailey commented on #31
@forero thanks for checking this case.  We had previously tested that it was reproducible when using the same inputs and options, but I agree that it should also produce reproducible results if the order of the MTL is shuffled but otherwise the contents are identical.

[2018-09-12 19:06] rncahn commented on #31
good question.  I would have thought so.

On Wed, Sep 12, 2018 at 10:04 AM, Jaime Forero-Romero <
notifications@github.com> wrote:

[2018-09-13 17:44] sbailey commented on #96
HDU4 TARGETS should be a passthrough of *all* columns from the input target file without trying to make choices of which columns are required or not.  i.e. just subselect the rows of the input target catalog that were assigned, get them in the correct sorted order, and write them out (i.e. pass through whatever you get as input, don't try to match the current as-documented datamodel; we'll update

[2018-09-15 17:07] forero commented on #96
Is PR #141 good enough to close this issue? HDU1 is done, but HDU4 TARGETS is not implemented at all.

[2018-09-17 16:51] sbailey commented on #96
Please add the TARGETS HDU before closing this issue (or open a new issue just about that and close this one).  Notes:

* It doesn't have to be HDU #4, but it should have EXTNAME="TARGETS"
* It should contain *every* column from the input MTL, row-matched to the FIBERASSIGN HDU (i.e. the TARGETID column should be identical in both)
* See the `desimodel.footprint.find_points_in_tiles` pre-filtering

[2018-09-17 17:46] forero commented on #96
Got it.

[2018-09-17 21:45] forero opened #143 "failure for empty mtl tables"
Got a failure when the  input `mtl` file does not have any targets in a given tile

[code]

[2018-09-17 21:51] rncahn commented on #143
Doesn't sound right.  I thought fiberassignment checked to see which tiles
had targets and which didn't.  Maybe there is a problem if there are
standard stars and or sky fibers, but no real targets.

On Mon, Sep 17, 2018 at 2:45 PM, Jaime Forero-Romero <
notifications@github.com> wrote:

[2018-09-17 22:11] forero commented on #143
The failure is in the python script. I know how to solve it. I just left this here to keep track of it.

[2018-09-18 20:09] forero commented on #143
Bug fixed in commit ed33a004802001b43a9c06130a38c497e057a625

[2018-09-18 20:09] #143 closed

[2018-09-21 17:12] forero commented on #96
@geordie666 there are two fields required by this datamodel: https://desidatamodel.readthedocs.io/en/mockobserving/DESI_TARGET/fiberassign/tile-TILEID-FIELDNUM.html#hdu4
that I cannot find in `targets-dr7.1-PR372.fits`: `PSFDEPTH_W1` and `PSFDEPTH_W1`. Can those be included in a new version?

[2018-09-22 00:03] forero commented on #96
Solved in #144.

[2018-09-22 00:03] #96 closed

[2018-09-25 15:59] tskisner opened #145 "Collision calculation has a bug"
As part of my work re-factoring / re-writing fiberassign, I discovered a bug in the collision calculation.  The central body and ferrule holders are modeled as circles and segments, and overlap of these shapes are used to detect collisions.  For mult-point segments, each subsegment must be checked for a collision.  However, the current code returns immediately after checking only the first piece o

[2018-11-03 00:36] sbailey opened #151 "sky fiber uniformity on focal plane"
From [DESI-4407](https://desi.lbl.gov/DocDB/cgi-bin/private/ShowDocument?docid=4407&version=1), the distribution of sky fibers on a particular tile is very non-uniform:
![image](https://user-images.githubusercontent.com/218471/47946139-d1d2a780-dec4-11e8-93d4-1c41368b820e.png)

I suspect that fiberassign is assigning sky fibers in the order of fiber number and then stopping when it reaches its num

[2018-11-03 16:16] forero commented on #151
I am testing that right now.

[2018-11-03 19:29] forero commented on #151
Just for comparison, here is the plot for std fibers in 500 tiles (selected because they used 100 std fibers)

![download-2](https://user-images.githubusercontent.com/1848618/47956595-c76fe680-df74-11e8-98f0-58377054adef.png)

[2018-11-03 19:34] tskisner commented on #151
I will comment more tonight or tomorrow, but briefly:  the existing code does the sky and standard assignment in fiber ID order, rather than priority order like the science targets.  The new code assigns all three types (science, standard, sky) in priority order.  I have a temporary hack in place just to compare to the old code.  So, in the new scheme, you could influence the distribution within a

[2018-11-03 19:39] rncahn commented on #151
I am a bit surprised by this.  The sky fibers and standard stars are the
last things done and so primarily go in the unassigned locations.  I would
have thought that would dominate the distribution except in petals with
many unassigned fibers.  Moreover, aren't we now filling all unassigned
fibers with sky fibers?

On Sat, Nov 3, 2018 at 12:34 PM Theodore Kisner <notifications@github.com>
wrote:

[2018-11-05 20:34] forero opened #152 "SKY vs. BAD_SKY"
The current implementation of `fiberasign` considers as sky fibers all the targets passed in the `sky.fits` file. A new implementation needs to give higher priority to `SKY` locations over `BAD_SKY`.

[2018-11-05 21:03] sbailey commented on #152
`BAD_SKY` targets shouldn't be included in the `sky.fits` file in the first place.  They should be included in the targets / MTL as low-priority targets of last resort.  i.e. I don't think this should require any changes to fiberassign itself, but rather it should be a change to how the `sky.fits` file is generated.

Mentioning @geordie666 for his comments.  e.g. are bad skies identified in the sa

[2018-11-05 21:05] forero commented on #152
@sbailey This is the DR7 sky file I've been using `/project/projectdirs/desi/target/catalogs/dr7.1/0.22.0/skies-dr7.1-0.22.0.fits`

[2018-11-05 21:18] geordie666 commented on #152
`SKY` and `BAD_SKY` targets are both generated by the same piece of code (with `BAD_SKY` simply being set as locations that exceed some measured flux threshold in the imaging surveys).

This means that removing the `BAD_SKY` locations from the `skies` file would require an after-burner on target selection, or a pre-burner on fiber assign. I'm not sure which choice would be more efficient.

[2018-11-05 22:06] sbailey commented on #151
Assuming that the fix is a bit messy, we should fix this in Ted's refactor after he has confirmed that he can reproduce the existing code, and not a fix in the existing code that will further conflict with Ted's updated code.

I agree with @rncahn's confusion about why this is so pronounced given that we are supposed to be filling in with sky fibers anyway, and any bumping should be in order of ta

[2018-11-05 22:12] sbailey commented on #152
@forero for the purposes of closeout documentation, could you generate a custom skies file that has pre-removed the BAD_SKY targets, and then rerun?  Even better if you re-add those BAD_SKY locations to a custom MTL file and re-run.  Either way, by-hand-hacks for now for checking statistics, not automated code.

Longer term this will be easier to handle after Ted's refactor is ready, since the shu

[2018-11-06 19:29] tskisner commented on #151
Just wanted to add more comments to this thread.

1. In the current master version, the assignment of unused fibers to science targets occurs in order of fiber priority (determined by max priority of targets available to each fiber):
https://github.com/desihub/fiberassign/blob/master/src/global.cpp#L419
However, when assigning standards or skies to unused fibers, the fibers within a petal are loop

[2018-12-12 18:44] sbailey opened #155 "POTENTIAL list is wrong"
Context: in the fiberassign output, the FIBERASSIGN HDU has the list of what TARGETIDs are assigned to what FIBERs, and the POTENTIAL HDU has the list of all TARGETIDs that are covered by each FIBER.

Bug: In current master, the assigned TARGETID is almost never in the list of POTENTIAL targets, but it does appears for other FIBERs that are nowhere near the assigned fiber.  I suspect that this is

[2018-12-12 18:45] sbailey commented on #138
This is implemented in master and the tsk_refactor branch.

[2018-12-12 18:45] #138 closed

[2018-12-13 17:06] #155 closed

[2019-01-07 21:02] tskisner opened #159 "Refactor: Final file format"
The "FIBERASSIGN" HDU of the final, merged FITS file should match the 18.12 reference release exactly, so that these outputs can be used as a drop-in replacement for downstream tools and to meet the ICD with online systems.  Additional data generated by the assignment process can be kept as extra HDUs.

[2019-01-07 21:04] tskisner opened #160 "Refactor: Files stored in single directory"
Currently the refactored code splits the per-tile files into subdirectories rather than have tens of thousands of files in a single directory (which can lead to poor filesystem performance on some machines).  Make this splitting optional, since downstream code expects output assignment files in one directory.

[2019-01-07 21:07] tskisner commented on #159
Additional note:  ensure that we are filling DESIGN_X/Y, DESIGN_Q/S, etc columns and ensure that unassigned fibers are given a fake target ID.  In offline discussion, it was proposed to use a negative ID value composed of the tile and fiber IDs for such unassigned fibers.

[2019-01-07 21:09] tskisner commented on #159
Also ensure that GFA info is propagated to final output...

[2019-01-07 21:49] tskisner opened #161 "Documentation"
Some code is missing docstrings.  Also need to expand on the actual documentation.

[2019-01-11 19:10] sbailey opened #163 "refactor: support fiber status file"
Add support for the fiber status file to the tsk_refactor branch.  Needs `--fibstatusfile` and `--rundate` (for sims, where you want to pick the date mid-survey and use the status at that point).  See master for how this works.

[2019-01-11 22:38] sbailey commented on #160
`--split` option now controls this; default is to write all of them into a single directory as before.  Closing.

[2019-01-11 22:38] #160 closed

[2019-01-11 22:39] sbailey commented on #163
Implemented by @tskisner in commit f6d8d70026d5760c82f697f42a79675465f08434.  Closing.

[2019-01-11 22:39] #163 closed

[2019-01-11 22:42] sbailey commented on #159
Compared to master, the tsk_refactor branch output format has a superset of HDUs, a superset of columns, the same header keywords, and the correct number of rows.  Closing.

[2019-01-11 22:42] #159 closed

[2019-01-11 22:49] sbailey opened #164 "Refactor: merging fails with fba_run used --write_all_targets"
When `fba_run` uses the `--write_all_targets` option, `fba_merge_results` fails with tracebacks like
[code]

[2019-01-14 19:49] sbailey opened #165 "Refactor: understand lower GRAY ELG assignment efficiency"
Comparing tsk_refactor branch with master using a set of 299 tiles covering DR7.1 range 130 < RA < 150 and 0 < dec < 20, I find that tsk_refactor assigns ~5% fewer ELG targets  to GRAY tiles, making up the difference with stdstars and SKY fibers.  The loss of ELGs is not made up by more ELGs assigned during DARK time.  There is overall a loss of ~1% fewer science targets overall.

Track down speci

[2019-01-15 06:36] tskisner commented on #164
I believe this was fixed in 084f153fd0bf11843fb732fff5c43e1f83bd3148.

[2019-01-29 15:19] forero commented on #165
@sbailey how is it that the `fba_run` guesses the standard stars file?

[2019-01-29 16:22] forero commented on #165
I ran these two commands:
`fiberassign --mtl mtl.fits --sky skies-dr7.1-0.27.0-lite.fits --stdstar standards.fits --outdir output_new/` (refactor version)

`oldfiberassign --mtl mtl.fits --sky skies-dr7.1-0.27.0-lite.fits --stdstar standards.fits --outdir output_old/` (legacy version)

and compared the lenght of the potential tables. These two should match because those are the available targets,

[2019-01-29 16:43] forero commented on #165
Here is the histogram for all the 588 tiles in that run
![screen shot 2019-01-29 at 11 42 09 am](https://user-images.githubusercontent.com/1848618/51924407-fa324b00-23ba-11e9-8534-04f1e7ee1963.png)

[2019-01-29 16:56] forero commented on #165
Here is the same plot using the data provided by @sbailey
![screen shot 2019-01-29 at 11 54 53 am](https://user-images.githubusercontent.com/1848618/51925297-bccebd00-23bc-11e9-8b21-7d91bfbe344a.png)

[2019-01-29 19:27] sbailey opened #170 "refactor: POTENTIAL_ASSIGNMENTS don't agree with master/legacy"
@forero discovered this over in #165, but let's spin it into a new ticket:

The list of POTENTIAL_ASSIGNMENTS in the tsk_refactor branch is very different from master, e.g. from a run by @forero:
![51924407-fa324b00-23ba-11e9-8534-04f1e7ee1963](https://user-images.githubusercontent.com/218471/51934334-31ebc380-23b8-11e9-9ec1-1ec07e612624.png)

And from `/global/cscratch1/sd/sjbailey/desi/fiberassi

[2019-01-29 20:15] tskisner commented on #170
I don't have an obvious answer for this.  In the new code, the targets available for a given fiber should contain the sky, standards, and science targets *compatible with the tile/fiber obsconds*.  I can investigate more after #165.

[2019-01-29 22:08] sbailey opened #171 "refactor: FIBERSTATUS bit definitions"
There was a misunderstanding in the tsk_refactor branch about whether FIBERSTATUS=0 is supposed to be good or bad.  We want FIBERSTATUS=0=good, and non-zero is a big flag of what was wrong with that status.  The original bit meanings are defined in master [global.h lines 20-23](https://github.com/desihub/fiberassign/blob/c2d7c7e323ea89d7563d560d366f20ba0e12cfb6/src/global.h#L20-L23):
[code]
We als

[2019-01-30 06:54] tskisner commented on #165
I think I understand what is going on.  I ran Stephen's inputs again locally with the new code.  It is instructive to look at the first tile in the sequence (3771) and the last tile in the sequence (45660).  Here is petal number 5 plotted for both.  In this color scheme, gold targets are "plain" standards while green targets are both standards AND science targets (science-only targets are red):

[

[2019-01-30 17:12] forero commented on #165
I ran the two code versions with `--nskypetal 0 --nstarpetal 0`, these new results give the same global 2% difference in the number of assigned ELGs.

![screen shot 2019-01-30 at 11 58 04 am](https://user-images.githubusercontent.com/1848618/51998281-557d3f80-2486-11e9-8532-7ddcc5ceac4d.png)

So, Ted's comment is right (i.e. we have to decide about dual targets) but it seems there is something els

[2019-01-30 17:56] sbailey commented on #165
In the MTL file, only STD_WD have higher priorities than ELGs, and those are rare so they can't be driving this overassignment.  STD_FAINT and STD_BRIGHT have *lower* priorities than ELGs.  Is the fiberassign code doing something to change the priority of the standards after reading them in?

I think this is the behavior we want:
1. Assign science targets as normal, using NUMOBS_MORE and PRIORITY.

[2019-01-30 19:43] tskisner commented on #165
While investigating, I noticed that the file skies-dr7.1-0.27.0-lite.fits has SUBPRIORITY set to zero for sky targets.  Because the code uses std::stable_sort, hopefully the order of fibers when assigning sky is reproducible, but sorting a vector based on weights of all zero is not ideal...

[2019-01-30 20:09] sbailey commented on #170
Update: There are two effects that I have found so far:

* refactor includes non-POS device locations, thus increasing the number of objects listed
* legacy includes targets that don't match the OBSCONDITIONS of the tile, thus increasing the number of objects listed

I'm still digging for how closely the two agree after correcting for these two effects.

[2019-01-30 21:35] tskisner commented on #165
Digging deeper...  Looking at the last tile (45660) and fiber 2929 on petal 5.  In the new code, here are the available targets for this fiber:

[code]

When the new code gets to assigning this fiber to science:

[code]

So it goes through the available targets in priority order.  The highest priority (LRG) has no observations remaining.  Likewise with one of the BGS targets.  Then it gets to the

[2019-01-31 00:39] sbailey commented on #170
Two more sources of discrepancy:
* refactor includes sky targets while legacy does not
* refactor includes standards that are not also MWS targets, while legacy does not

After accounting for all those effects, the list of unique TARGETIDs matches between master and tsk_refactor for every tile, however, master still has more claimed potential assignment combinations than tsk_refactor.  Chasing tha

[2019-01-31 15:47] forero opened #172 "refactor: incompatible constructor arguments error"
Running this tutorial https://github.com/desihub/tutorials/blob/master/FiberAssign.ipynb with the refactor version and gives me the following error

[code]
I guess it has to do with conflicting data types, but I am not sure what should I change in the input data.

[2019-01-31 15:49] forero commented on #165
I ran into a new issue #172 while trying to use this tutorial https://github.com/desihub/tutorials/blob/master/FiberAssign.ipynb to setup simple mock data to understand the current ELG efficiency issue.

[2019-01-31 18:01] tskisner commented on #172
I'll investigate- that may be my fault not updating the fiberassign legacy wrapper when changing another interface.

[2019-01-31 18:07] tskisner commented on #172
Hmmm, does your tiles.fits file have an OBSCONDITIONS column?  That is required for the footprint files, but in the target files it is optional- target files without this column are assumed to have targets valid for any tile OBSCONDITIONS.

[2019-01-31 18:54] forero commented on #172
Yes, they do have an OBSCONDITIONS column. The tiles are initialized in cell [3]: https://github.com/desihub/tutorials/blob/master/FiberAssign.ipynb

[2019-01-31 20:10] sbailey commented on #170
The last remaining discrepancy was that master includes duplicate entries.  Summarizing the differences between tsk_refactor and legacy (current master):
* refactor includes non-POS device locations, thus increasing the number of objects listed
* legacy includes targets that don't match the OBSCONDITIONS of the tile, thus increasing the number of objects listed
* legacy includes only science targe

[2019-01-31 20:35] sbailey commented on #172
I just updated the tutorials repo; the FiberAssign.ipynb tutorial there now works with both master and the tsk_refactor branch.

[2019-01-31 20:35] #172 closed

[2019-01-31 20:51] tskisner commented on #170
I'll update the device types to include only POS and ETC and close this when it is pushed

[2019-01-31 21:17] forero commented on #165
Using mock targets, as generated in https://github.com/desihub/tutorials/blob/master/FiberAssign.ipynb , the two codes give virtually identical results when the tiles *don't have any overlap*; only when the tiles have some overlap we start having higher numbers in the legacy code.

[2019-01-31 21:18] forero commented on #165
There is also an interesting progression with the tile number

In refactor:
[code]

In legacy

[code]

[2019-01-31 22:12] tskisner commented on #165
Indeed, it certainly seems like high-priority targets are being chosen at the beginning by the refactor version.  And it looks like the legacy branch is pushing some of those high priority targets to later tiles in order to get more total ELGs.  This should be made clearer by turning off the "improve" step and comparing the outputs.  Still trying to get to that...

[2019-02-01 00:09] sbailey commented on #165
Something is very wrong with the sky fiber assignments on certain gray tiles.  e.g. `/global/cscratch1/sd/sjbailey/desi/fiberassign/refactor/output/tile-26819.fits`:
![sky-26819](https://user-images.githubusercontent.com/218471/52093995-1cba9480-2572-11e9-8a02-6e9ae9487e7d.png)

Code to make the plot to double check my interpretation of SKY fibers:

[code]

I picked this tile because compared to m

[2019-02-01 00:31] sbailey commented on #165
This sky assignment problem isn't unique to gray tiles; see http://portal.nersc.gov/project/desi/users/sjbailey/fiberassign/debug-165/plots/

Also note the non-uniform MWS_ANY targets on tile 44177.

[2019-02-01 00:34] tskisner commented on #165
Ok, I'm sure there is some straightforward explanation since such things have never been seen before in lots of testing.  Will try to debug this tonight.

[2019-02-01 01:50] tskisner commented on #170
Should be fixed in 658c6d3bc9f44f83d1b686c901339030218db3d5

[2019-02-01 01:50] #170 closed

[2019-02-01 01:50] #164 closed

[2019-02-01 02:12] sbailey commented on #165
Update: I rechecked the stats with the latest push from @tskisner and the basic issue of low ELG efficiency on GRAY tiles remains.  Summarizing the ratios of refactor/master for various target classes on DARK, GRAY, and BRIGHT layers:
[code]
i.e. overall there are fewer ELG/LRG/QSO targets assigned, fewer STD assigned (but in a separate check it is still assigning the required minimum number of ST

[2019-02-01 05:42] sbailey commented on #165
Digging into /global/cscratch1/sd/sjbailey/desi/fiberassign/refactor/output/tile-26819.fits:

542 SKY, 839 MWS_ANY, 102 STD - i.e. more skies than are strictly required (400), just over the required number of STD (100), and many MWS_ANY targets that aren't also STD.  I tracked down 146 ELG, LRG, QSO targets that weren't assigned on any tile, but were covered by fibers on this tile that were given

[2019-02-01 05:57] tskisner commented on #165
Thanks for the additional info.  I will go poke deeper at some of those targets.  A couple notes:

- For the redistribution step (not the "improve" step in the legacy code), science targets are only moved to fibers on other tiles that are empty.  The fibers are iterated in fiber ID order (not based on the current assignment or available targets).  For each fiber, if another tile/fiber is available

[2019-02-01 22:02] forero commented on #31
@tskisner @sbailey Some good news. The refactor version gives the same results even if the MTL is shuffled.

[2019-02-04 20:38] sbailey commented on #165
I've studied the non-assignment of the 25 targets I listed above.

14/25 collided with higher priority targets on neighboring fibers.  Some of these may be recoverable with the "improve" step implemented in master but not tsk_refactor.  It would be helpful to know the change in efficiency when "improve" is turned off in master.

11/25 were originally assigned to a different fiber but then got bump

[2019-02-04 20:48] tskisner commented on #165
I'm working on the master comparison with / without the "improve" step.  With your two bullet points, we currently have a boolean array of all tile / fibers that tracks whether they have already been bumped.  I believe we could use that to control the "recursive bumping".  For the second bullet- that is definitely the more natural thing to do if we are assigning tile-by-tile.  Still TBD if that is

[2019-02-05 00:22] sbailey commented on #165
@tskisner showed me in the code where to turn off "improve" for master, and then I re-ran my jupyter numerology:
[code]
i.e. the "improve" step significantly helps ELG assignment on the gray layer, which is also where were are missing targets in the refactor branch.
Detail: the LRGs on the GRAY layer are also BGS targets that got flagged as eligible to observe during GRAY time; we haven't disentan

[2019-02-05 02:38] tskisner commented on #165
Hi @sbailey, I don't think this impacts your tools, but beware that in the outputs from master branch the TARGETS hdu contains incorrect RA/DEC values for at least some sky targets.  The FIBERASSIGN hdu has correct values.  Example:
[code]
and then
[code]
In the TARGETS HDU, many of the sky targets have duplicated RA/DEC.

[2019-02-05 23:13] sbailey opened #173 "legacy: TARGETS HDU is wrong"
As discovered by @tskisner in #165, the TARGETS HDU in the legacy (currently master) branch is wrong.

e.g. using `/global/cscratch1/sd/sjbailey/desi/fiberassign/refactor/master/tile-26819.fits`, targetid 607248736095043610 is a sky target assigned to fiber 19 at RA,DEC = 135.385269463, 11.1659706681; but in the TARGETS HDU that same TARGETID is claimed to be a MWS_ANY target at a different RA,DEC

[2019-02-08 22:54] tskisner commented on #165
While investigating the "dual" science / standard target assignment, I think I understand better what is going on.  I'll put this in the context of @sbailey 's desired behavior further up this thread:

This is what the code is already doing.  During first pass assignment, dual objects get assigned just like normal science targets.  If there was sufficient density, it might be possible that one cou

[2019-02-11 05:19] tskisner commented on #165
A test implementation of making the assignment of science targets "aware" of dual targets (and applying a per-petal limit) is now in #174

[2019-02-14 16:16] tskisner opened #175 "Treat BAD_SKY as a unique target type"
This ticket attempts to capture discussion on recent telecons an offline conversations.  Currently fiberassign (both the legacy and new code) treats BAD_SKY targets as low-priority science targets.  Instead, I propose to treat these targets as separate from science, standards, and sky.  There is actually already a fourth target type built in to fiberassign called "safe" targets.  This target type

[2019-02-14 17:03] tskisner opened #176 "Recursive bumping of science targets"
This ticket is tracking conversations about the way that science targets are "bumped" in order to place standards and sky.  This is **not** proposing any change to the algorithm for deciding which original targets to bump, but rather what to do after we have bumped a target.

Currently, when a science target is "bumped" in order to place a standard or sky, an attempt is made to re-assign that scie

[2019-02-14 17:11] tskisner opened #177 "Add QA summary to output"
Currently the QA is run as an external script, but there is an internal function (fiberassign.qa.qa_tile) that computes the assignment totals for each object type on a tile.  It is cheap and easy to run this at the end of fiberassign and write those totals to a separate file or as FITS keywords in each tile file (or both).  The output format could either be the current JSON one or a more human-rea

[2019-02-14 17:23] tskisner opened #178 "Positioner geometry consistency"
The current positioner geometry does not match what is used by the online systems for evaluating fiber collisions.  We should either read the equivalent data files used by that code, or (if the format is not suitable) we should collect all the needed info and define a new file format.

[2019-02-14 22:29] sbailey commented on #165
Trying to close out this mega-issue, I redid the comparison of master with various other versions when assigning DARK+GRAY tiles separately from BRIGHT tiles.  They produce nearly identical assignment efficiencies, except for STD where master overassigns, though I haven't traced exactly where the extra fibers go in the other cases.

master does outperform other options when assigning DARK+GRAY+BRI

[2019-02-15 00:54] tskisner commented on #161
In addition to expanding the docstrings and rst files, I need to sort out one remaining issue with readthedocs.

[2019-02-15 14:00] tskisner opened #179 "Fiber order of science target redistribution"
Currently when redistributing science targets (to load balance based number of assignments per petal), the targets are considered in fiber ID order.  This could imprint on the final results, so we should instead consider assigned targets for reassignment based on their priority.

[2019-02-15 14:09] tskisner commented on #108
I believe that the command line arguments of the new fba_* top-level scripts are sufficient to specify everything (along with the possibility of passing argparse options from a separate file, which is built in).  If we still desire a "config" file format, I would suggest TOML:

https://github.com/toml-lang/toml/wiki
https://github.com/toml-lang/toml

Which is simpler than YAML while maintaining ni

[2019-02-15 14:10] tskisner commented on #136
This should be fully implemented.  Closed by 3beff2b8d484233fd705b33021e7f6972f11dcc2

[2019-02-15 14:10] #136 closed

[2019-02-15 14:14] tskisner commented on #142
The unit tests have been rewritten and now create fake target catalogs, write them out, read them back in, and verify that the resulting assignment has the expected number of science / standard / sky.  Closed by 3beff2b8d484233fd705b33021e7f6972f11dcc2

[2019-02-15 14:14] #142 closed

[2019-02-15 14:16] tskisner commented on #120
The code now accepts an arbitrary number of target catalogs containing targets of any type.  The DESI_TARGET column and a user-defined (or default) bitmask is used to determine the type(s) of each target.  Closed by 3beff2b8d484233fd705b33021e7f6972f11dcc2

[2019-02-15 14:16] #120 closed

[2019-02-15 14:17] tskisner commented on #113
This ticket is made obsolete by the recent code refactor.  Closed by 3beff2b8d484233fd705b33021e7f6972f11dcc2

[2019-02-15 14:17] #113 closed

[2019-02-15 14:28] tskisner commented on #51
Hello @apcooper , much has changed in the code since this issue was opened.  The current output file format is a FITS file per tile, and there is an HDU ("TARGETS") which contains a full copy of all columns of the input target catalog (so there is no need to index back to the original catalog).  In the case that different input catalogs have different column names, the code forms the superset of i

[2019-02-15 14:28] #51 closed

[2019-02-15 14:41] tskisner commented on #31
I believe this issue is resolved by the new code.  Targets are now stored in a dictionary (std::map) keyed on the target ID.  Order in the input files makes no difference.  If duplicate TARGETIDs are found when loading catalogs, the code checks that the RA/DEC matches.  If they do not match, an exception is thrown.  If they **do** match then the code assumes we have a target that has multiple type

[2019-02-15 14:41] #31 closed

[2019-02-15 16:18] tskisner commented on #140
Revisiting this issue in light of recent code changes:

1.  SUBPRIORITY is essentially a random number on the interval [0,1), but a random number generated at the catalog creation time, which makes it independent of fiberassign (which is good).  Sky and standards have a subpriority and this is used consistently throughout the code.

2.  PRIORITY is an integer.  There are no restrictions on the num

[2019-02-15 16:47] tskisner opened #180 "Handling of targets that are both science and standards"
I am opening this issue as a stand-alone ticket, but it touches on #140 and #165 and other issues as well.

Background
---------------------
We have some target IDs that are used as "science" targets during bright observations and "standards" during dark / gray observations.  These targets typically exist in multiple input catalogs with the same TARGETID and RA / DEC.  However, in different catalo

[2019-02-15 17:07] geordie666 commented on #180
@tskisner: One possibility. We have 4 remaining "reserved" bits in the `TARGETID`:

https://github.com/desihub/desitarget/blob/master/py/desitarget/data/targetmask.yaml#L144-L150

I'm going to need one of those to designate a secondary target. But, that leaves 3 bits. We could use one of those 3 remaining bits to distinguish something as a "standard". With careful use of the routines for encoding

[2019-02-15 17:19] tskisner commented on #180
Ok, rephrasing your proposal (I think):

-  When loading catalogs and encountering a duplicate TARGETID, verify that the 2 obsconditions do not overlap.  If this is true, create an internal fake target with the new properties and store the fake <--> real mapping.  The obsconditions check ensures that the 2 targets will never be available on the same tile, and will internally be treated separately

[2019-02-15 17:27] geordie666 commented on #180
Yes, that's what I'm thinking.

Feel free to update

https://github.com/desihub/desitarget/blob/master/py/desitarget/data/targetmask.yaml#L144-L150
https://github.com/desihub/desitarget/blob/master/py/desitarget/targets.py#L128-L129
https://github.com/desihub/desitarget/blob/master/py/desitarget/targets.py#L239-L240

To steal the next bit for a "standard (used to resolve some cases in fiber assign

[2019-02-15 20:14] kdawson1000 commented on #140
I have a somewhat related question:  when you run the replacement of science targets with sky targets to meet the required density of calibration fibers, do you loop on the subpriority of the science targets or on the subpriority of the sky targets.  In an earlier email exchange, I inferred that you were basing the order of replacement on the subpriority of the sky targets.  It would be better to

[2019-02-15 23:40] Srheft commented on #177
@tskisner
Relevant to summary output:
Two crucial numbers are **how many science targets got dropped in favour of sky AND how many got knocked by standards**.
If this already exist please point me to the line in the log where this gets printed out otherwise we request these two numbers to be includede in the QA summary output.

[2019-02-16 10:13] Srheft opened #181 "Fiberassign to recognize SV mask"
@tskisner @sbailey:

It appears that the current Fiberassign code only recongnizes the main survey masks:
[https://github.com/desihub/fiberassign/blob/3beff2b8d484233fd705b33021e7f6972f11dcc2/py/fiberassign/assign.py#L29](url)

If there is already a way to exchange the masks via "--options", please let me know and if the comment is valid (test materials are [here](http://www.astro.utah.edu/~u60224

[2019-02-19 19:20] tskisner opened #182 "Improvements to event logging / reconstruction"
There has been much discussion about tracking fiberassign "events" (why a particular fiber or target was not assigned).  For "debug" use cases exploring issues like target density, file formats, etc, there are already the DESI_DEBUG_{TARGET,FIBER,TILE} environment variables that allow digging deeper into these questions.

For production use, reporting every detail would be hugely expensive.  Howev

[2019-02-20 00:59] sbailey commented on #181
fiberassign does not currently support this (but it should).  I think there are two pieces to this:
* what column name should be used for the targeting mask bits (default DESI_TARGET)?
* what should the default masks be for SCIENCE, STDSTAR, SKY, SAFE, and exclude locations, since the exactly bits will be different for different programs?

In the code we could add a --program option (default DESI,

[2019-02-20 01:14] sbailey commented on #175
+1

Fleshing out this comment a little more since I was the one who originally requested that BAD_SKY be treated just as ultra low priority science targets, but then in discussions with @tskisner and @kdawson1000 I keep re-discovering that this is a bad idea and then forgetting why:

Currently BAD_SKY are just ultra-low priority science targets, which means that they get used as filler targets *be

[2019-02-20 01:35] #165 closed

[2019-02-20 01:49] sbailey commented on #140
Agreed with @kdawson1000 .  Bumping science targets for sky and std should be done in order of science target priority+subpriority, not in order of sky/std subpriority, nor in order of fiber number.

@tskisner: this ticket is spinning into multiple related topics.  We should resolve it soon, or otherwise split them out into separate tickets for clarity:
* Use of SUBPRIORITY instead of fiber number

[2019-02-20 02:20] Srheft commented on #181
@sbailey:  I have not had any issue with running Fiberassign on CMX catalog [hence the plots today] and I couldn't tell why the same sterategy for CMX_TARGE, did not work with SV1_DESI_TARGET (in your note, SV1_TARGET  --> SV1_DESI_TARGET - was your list informed by [this](https://github.com/desihub/desitarget/blob/master/py/desitarget/sv1/data/sv1_targetmask.yaml)?).

Looking at  [https://github.

[2019-02-20 04:59] tskisner commented on #181
This is a more general question:  Do we want the `fba_run` executable to know anything about these programs?  Would it make more sense to have very short, specialized scripts with a limited set of options which call the high level fiberassign methods directly?  For example, if we are assigning only sky fibers during some test, we don't need to go through all the no-op code of trying to assign scie

[2019-02-20 05:49] tskisner commented on #140
There seems to be persistent confusion.  Hopefully my in-progress work on the documentation will help.

1.  The initial assignment of unused fibers has always looped over fibers in order based on the total priority of the targets available to the fibers.

2.  When **redistributing** science targets to future tile/fibers, both the legacy and current code loop over fibers in ID order.  This needs to

[2019-02-20 09:37] Srheft commented on #181
@tskisner:

- Agreed that too many flags is not ideal [used to call flags "band-aid" in quicklook]. It seemed to be less invasive to the algorithm when a flag activates a mask exchange. Any solution you prefer is perfectly fine. Our objective is to give 5 initial runs on five SV fields for first round of analysis to SV team.

- The nature of SV assignment is quite similar to the main survey assign

[2019-02-20 16:19] geordie666 commented on #181
Not that we have to be consistent between fiber assignment and target selection, but I've been using "--survey" and SV, CMX and MAIN (instead of DESI).

[2019-02-20 18:14] Srheft commented on #181
Good to know. Thanks. Interestingly I actually first wrote SV, CMX, MAIN but then changed it to DESI.

[2019-02-20 20:01] sbailey commented on #181
*If* we go with flags (for fba_run or a different script), good for --survey with values SV, CMX, MAIN.

I like @tskisner's suggestion of keeping fba_run reasonably simple/straightforward, and  taking special cases to separate scripts / notebooks.

**For commissioning** fiber assignment is so different from the main survey that completely different custom scripts/notebooks makes sense.

**For SV**

[2019-02-20 20:06] tskisner commented on #181
Is it reasonable to take the "guts" of fba_run and make it into a function (say ```fiberassign.assign.run()``` or similar)?  Actually that file is pretty long, so we could put it somewhere else...  Then we could call that high level function from both fba_run and other customized front-ends.

[2019-02-21 00:30] sbailey commented on #178
Several items related to this that we may spin out to separate tickets when we are ready to implement them:
* coordinating file format with positioner testing and ICS
* tracking history of our knowledge of positioner geometry, and supporting mid-survey changes, e.g. if a petal is replaced
* supporting per-positioner arm lengths (current code treats all positioners as identical)
* supporting per-po

[2019-02-21 00:46] sbailey opened #183 "update order of initial assignment to prevent collisions from low priority targets"
From #140:

Consider this case:

fiber | targets covered (A=highest priority to C=lowest priority)
---- | ----
1 | A
2 | A C
3 | B (but would collide with fiber 2 if fiber 2 is assigned to C)

Fiber 1 grabs A, fiber 2 is considered next because it covered A but that was already taken so it gets assigned to low priority C, which creates a collision such that 3 cannot reach B.  i.e. the presence of

[2019-02-21 00:56] sbailey opened #184 "bump targets based on their priority+subpriority, not on the sky/std subpriority"
From #140:

[code]

https://github.com/desihub/fiberassign/blob/master/src/assign.cpp#L843

Although this is random, it couples the bumping choice to the subpriority of the sky/std rather than to just the priority+subpriority of the science targets.  This means that a high subpriority ELG might get bumped before a low subpriority ELG, based upon the subpriorities of the standards/skies covering th

[2019-02-21 01:07] sbailey commented on #140
@tskisner thanks for succinctly describing the current algorithms.  Unfortunately all of them are somewhat different from what we ideally want.  I'm spinning these into separate tickets so that we aren't tracking multiple separate concepts and fixes in a single ticket.

See #183

Agreed; let's continue discussion in #179.

See #184

behavior.

This is a different from the original title of this ti

[2019-02-21 14:08] forero commented on #183
I wonder whether assigning the target to the closest fiber would be useful as well. That should decrease the positioner collision rate.

[2019-02-21 18:20] sbailey commented on #183
@forero years ago we discussed having each fiber pick its closest target, but decided against that because it might cause subtle small scale assignment efficiency variations (targets closest to fibers get picked at higher efficiency than those on the edges).  This case is a little different (picking positioners near targets instead of picking targets near positioners) but similar caution might app

[2019-02-22 14:51] forero commented on #183
@sbailey there already tons of systematic efficiency variations. Many can be picked up by pair-weighting probabilities. Some others are trickier, i.e. low priority targets are less complete in regions around high priority targets (I don't know how to correct for that). This suggestion adds a new one to the list, but a least it should also be picked up by pair-weighting probabilities and should lea

[2019-02-22 17:55] sbailey commented on #183
Fair enough.  When we implement this, we could try both:

1. pick the lowest available fiber number that covers the target
2. pick the closest available fiber that covers the target

and see how much (2) improves the overall efficiency by reducing collisions.

[2019-02-22 21:44] tskisner commented on #161
This issue should be largely resolved by f397607e37e0c28a652db100d3c65b694750e576.  Of course there is always room for improvement...

[2019-02-22 21:44] #161 closed

[2019-02-25 16:45] kdawson1000 commented on #180
I am reading this thread now.  I must confess that the proposed solution is not totally clear to me, so take my following comment with a grain of salt.

My impression is that these sorts of issues arise when a target falls into the Bright time program in a different way than it falls into the dark time program.  Other similar cases may also appear.  I think the MTL code is what causes objects to g

[2019-02-25 16:50] kdawson1000 commented on #175
Stephen's proposal looks correct to me.

[2019-02-25 17:16] kdawson1000 commented on #184
This code/pseudocode is not what I had originally thought when I raised the concern.  It looks like the first loop is indeed on the priority of the science target, which is definitely what we want.  If I understand this correctly, the lowest priority science targets are getting bumped first when there is a need for sky/std fiber assignments.  The order within a target class is randomized not by th

[2019-02-25 17:43] tskisner commented on #180
Hi @kdawson1000 and @sbailey, there are 2 issues that are interconnected on this ticket.  And actually the "workaround" mentioned in my original post was incomplete (see below):

1.  The fiberassign code should not be mucking around with merging targets that arrive from different files that have some duplicate information.  The upstream code should be responsible for providing a unique TARGETID wi

[2019-02-25 21:49] sbailey commented on #140
I'm re-posting some comments from Kyle from months ago which may have gotten lost in the multiple-topics discussed in this ticket.  This is about when should SUBPRIORITY trump NUMOBS_MORE or vice-a-versa.  The current code that decides this is https://github.com/desihub/fiberassign/blob/master/src/assign.cpp#L1411, where NUMOBS_MORE trumps SUBPRIORITY for all science targets.  This is generally wh

[2019-02-25 22:46] sbailey opened #186 "-Wstrict-prototypes warnings"
I think this is harmless, but compiling fiberassign at NERSC results in the following warnings:
[code]
Would be nice if it didn't generate these, especially since those cause desiInstall to print an even scarrier "CRITICAL" error (also harmless, but still...)

[2019-02-28 07:57] Srheft opened #187 "Fibers remain unassigned in BAD_SKY regions"
@sbailey, @tskisner:

Points shown in black are BAD_SKY (68719476736) locations. Was the motivation for including them in the sky catalog to have them as the last resort for fibers to get assigned to " made up yet sensible coordinates"?  If yes, then they are not getting picked up by any fibers.

![image](https://user-images.githubusercontent.com/32471902/53541596-cb9db200-3ad7-11e9-95ee-bf6732e69

[2019-02-28 23:43] sbailey commented on #187
@Srheft please post what input catalogs, `fba_run` command you ran, etc. so that others can reproduce this.

in `fiberassign.targets.get_sciencemask()`, `BAD_SKY` is included as part of the science targets, which should cause them to be placed at low priority.  They are also included in `fiberassign.targets.get_safemask()`, though I thought that functionality was turned off for now.

Issue #175 is

[2019-02-28 23:59] Srheft commented on #187
@sbailey

- The MTL file is posted [here](http://www.astro.utah.edu/~u6022465/cmx/all_STDtest_SV0bright/).
- The sky catalog is the one from the main survey (skies-dr7.1-PR459.fits), also posted.
- No safe_mask was additionally enforced in my run as a flag as I thought BAD_SKY is the [default](https://github.com/desihub/fiberassign/blob/dcdf482c395ff000fdb5ed1ad439457e1bbbc9ef/py/fiberassign/targe

[2019-03-05 20:42] tskisner commented on #187
I'm investigating this now.  One thing I noticed is that the tile IDs are larger that 99999, which makes sense for specialized tiling.  I had previously used 6 digits for tile IDs, but then switched it to 5 digits for compatibility with the legacy branch.  This is used in the code when generating names of output files, etc.  Any objections to switching back to 6 digits?

[2019-03-05 20:54] sbailey commented on #187
OK to switch to 6 digits now that we have a reference tag that is the new code but backwards compatible with the old code.  We will indeed need 6 digits to accommodate cmx and sv.

[2019-03-06 21:56] tskisner commented on #187
I tried the latest version of the "driver" branch on these files.  I think the problem is:

1.  As discussed in #175, BAD_SKY targets are currently classified as "science" targets.

2.  The BAD_SKY targets in this dataset are in the sky file, which does not have a NUMOBS_MORE column.  When reading targets, the default of NUMOBS_MORE if it does not exist in the file is zero.  This is fine for sky,

[2019-03-07 00:30] tskisner commented on #187
Running the branch in the open PR #189 on this data like this:
[code]
Produces for example on petal 5 of tile 300005 (the 2 unassigned fibers are the ETC fibers):
![sv_issue-187_300005](https://user-images.githubusercontent.com/84221/53923220-5fb5cf00-402c-11e9-948e-5d878ae50c18.png)
However, I do not see the pattern of unassigned BAD_SKY targets in petal 5 of any of the tiles.  Which tile ID is y

[2019-03-07 00:37] Srheft commented on #187
Did you have the BAD_SKY addded to MTL or just as part of the sky catalog?  as mentioned in email thread and in this ticket, BAD_SKYs were not in my MTL in the example I share here. The picture is from tile 300005 shown [here](http://www.astro.utah.edu/~u6022465/cmx/all_STDtest_SV0bright/fiberassign_300005.pdf). I am now adding BAD_SKY to MTL as you suggested to verify that the issue is resolved.

[2019-03-07 04:03] #175 closed

[2019-03-07 05:12] tskisner commented on #187
Hello @srheft, sorry for confusion, the code you ran 7 days ago did indeed have the problem that any bad_sky targets in the sky file would be treated as a science target with zero obs remaining.  My plot above was using the code in PR #189 which was just merged to master.  If you use current master, your plot for tile 300005 should hopefully agree with the one I posted.  This is because these bad_

[2019-03-07 05:16] Srheft commented on #187
@tskisner  yes, indeed: @sbailey pinged me to safe_mask that got merged minutes ago and that branch fixed the issue. Thanks for quick turn around on this. I'm sure you saw the two fibers that are not assigned in your plot and mine below though [same tile same petal].

![image](https://user-images.githubusercontent.com/32471902/53933831-4b3dfa80-405d-11e9-8bf5-190a495381b8.png)

[2019-03-07 05:19] tskisner commented on #187
Those are the sky monitor (ETC) fibers, which are only ever assigned to sky targets.  If we want to assign those to bad_sky as well, then we can make that trivial change.

[2019-03-07 05:22] Srheft commented on #187
Ah... that's right. Fiber numbers were small so didn't recognize they are >5000. Thanks.

[2019-03-07 05:36] tskisner commented on #181
I believe this issue was resolved by PR #188.  In particular, one can now use the "high level" interface (see the Example):

https://fiberassign.readthedocs.io/en/latest/reference.html#high-level-interface

To pass options to a function which runs the assignment.  This is convenient for running from a notebook or other script.  One can now fully override the column used for masking (`--mask_column

[2019-03-07 16:39] tskisner commented on #187
@kdawson1000, I don't understand the word "documented" in your statement.  The sky monitor fibers are in their own HDU in the final output.  The device ID, location, and assigned sky target are in this HDU.  The reason the ETC fibers were not assigned in this example run is that there were no sky fibers reachable by those fibers.

Was your point just that @dkirby or others who are creating the inp

[2019-03-07 16:52] sbailey opened #190 "sky monitor assignment when no SKY are available"
From #187:

The sky monitor fibers normally would be assigned to SKY targets.  There will be cases where there are no good SKY targets, in which case they should fall back to using a BAD_SKY location (but not a science target since ).  If we ever have cases without either SKY or BAD_SKY, track those down.

FIBERSTATUS bookkeeping is already included in FASSIGN for sky monitor positioners too, e.g.

[2019-03-07 16:53] sbailey commented on #187
I moved this discussion about sky monitor fiber assignment when no SKY are available to #190 so that this ticket doesn't morph into a different topic than the original post.

[2019-03-07 16:53] #187 closed

[2019-03-08 01:23] Srheft commented on #190
@sbailey:
Fibers 5010 and 5011 in tile 300005 in [this](http://www.astro.utah.edu/~u6022465/cmx/all_STDtest_SV0bright/) assignment are left unassigned although there seems to be BAD_SKY positions available for them.

![image](https://user-images.githubusercontent.com/32471902/53999750-e4bee800-4101-11e9-9443-aef8f14d81f3.png)

@tskisner @kdawson1000:
On the last comment in #187:

qa.json files alr

[2019-03-08 01:30] tskisner commented on #190
The current code only attempts to assign sky targets to the ETC fibers:

https://github.com/desihub/fiberassign/blob/master/py/fiberassign/scripts/assign.py#L326

That is why the ETC fibers are not assigned (there are no sky targets there, only bad sky targets which are of TARGET_TYPE_SAFE).

This was my original question- do we want to allow the ETC fibers to be assigned to "bad sky"?  If so, it

[2019-03-08 01:32] Srheft commented on #190
Correct. Just wanted to document an example for cases where there is simply no sky available and so we juat have to go for BAD_SKY.

[2019-03-08 02:01] dkirkby commented on #190
Can someone expand on this comment? (I already read #187 but still confused).  For the downstream SkyCam analysis, I think the only think I need to know from FA is if any of the 20 sky fibers are known to not be on blank sky.

[2019-03-08 04:00] tskisner commented on #190
Hi @dkirkby , Ok, in that case I think that @sbailey 's proposal at the beginning of this thread is the correct behavior:

1.  Try to assign sky to ETC fibers.

2.  If any are unassigned, assign them to BAD_SKY and flag them via one bit of the FIBERSTATUS field.

Currently both the normal positioners and the ETC positioners have a FIBERSTATUS column in their HDUs, and 2 bits are used to indicate s

[2019-03-08 16:50] kdawson1000 commented on #190
Hi Ted, David,
First, my original comment was quite ambiguous, I see in re-reading it.  Those comments from Stephen and Sarah do a better job of conveying the issue.

I agree with Ted's list, but I think we need to add something along the lines of Sarah's comment:
1.  Assign sky targets to ETC fibers
2.  If any are unassigned, assign them to BAD_SKY and flag them via one bit of the FIBERSTATUS fie

[2019-03-08 17:25] dkirkby commented on #190
I suspect your 3rd case will happen often enough that we don't want to consider it a "critical failure".  The SkyCam analysis shouldn't break even if a few fibers are on bright stars.

[2019-03-08 17:28] kdawson1000 commented on #190
I agree that the 3rd case will likely happen more than we want.  But we are currently requiring that every fiber in the spectrographs has a target assigned to it, which I think is appropriate.  I think we should require the same of the ETC fibers, so that we always know where and why the fiber got the target that it got.

[2019-03-08 17:43] tskisner commented on #190
@kdawson1000 , you said, "But we are currently requiring that every fiber in the spectrographs has a target assigned to it...", but the ETC fibers will always be assigned (they can be always be assigned to bad_sky with the one-line change I mentioned above).

[2019-03-08 17:53] kdawson1000 commented on #190
Yes, in principle you are right.  In practice, there will still be cases where some unexpected collisions or other unexpected program leave a few ETC fiber unassigned.  I am beginning to see that as inevitable as we plan to tile the entire DESI footprint.

Hopefully I am proven wrong - but we should trigger a tile-level flag to identify tiles that have unassigned science fibers or ETC fibers to al

[2019-03-11 19:01] sbailey commented on #180
Documenting discussion with @geordie666 @tskisner and @sbailey : move the logic about what is science / std / sky / safe / exclude for each program (dark, gray, bright, ...) into desitarget along with the bit definitions, rather than having fiberassign try to track this in parallel.  Include a unit test in desitarget that ensures that every defined bit is included in some category (e.g. to make su

[2019-03-11 22:45] tskisner commented on #181
I tested the dataset from @Srheft and reproduced the error with `--mask_column` set to SV1_DESI_TARGET.  The problem is due to the fact that the specified column name is used for all target files.  It worked without error on the MTL_DEEP2_1.fits file, but the sky target file uses the DESI_TARGET column.

So, we either need to specify the column separately for each target file or force all target f

[2019-03-11 23:13] Srheft commented on #181
Thank you for verification @tskisner. I take it that the immediate solution [to run master on SV right now] is to specify --mask_column for each target file. Did you verify that

`--targets ./MTL_DEEP2_1.fits  --mask_column SV1_DESI_TARGET ./skies-dr7.1-PR459.fits --mask_column DESI_TARGET `

could work?  the code runs [with the syntax change above] but only skies are assigned (see [qa.json](http:

[2019-03-11 23:21] tskisner commented on #181
No, I'm saying that currently the only workaround is to have all target files use a single column name.  There is no way to specify a different column name / program per file.  In the future, we were thinking of having something like:
[code]
But that would not work unless all target files have the same SV1_DESI_TARGET column.  If we want to use target files (like sky) for multiple programs, then w

[2019-03-11 23:38] geordie666 commented on #181
For what it's worth, I don't think we'll ever have a "special" skies file for SV. So, the skies file could just be hard-coded to always have the "DESI_TARGET" column.  I don't see when we'd experiment with a substantially different set-up for skies for SV, and, if we did, git versioning should take care of how the algorithm was different.

In fact, I should probably deprecate the sky-related bits

[2019-03-11 23:49] Srheft commented on #181
Naive question here: What if sky was not passed as --targets but rather as --skyfile like the old version of fiberassign? because SKY and BAD_SKY [safemask] are assigned at last, would the algorithm change much if we don't pass skies as --targets [completely ignore them and their bits until after we are done with --targets; then introduce --skyfile as *new targets* and their bits].
Basically runni

[2019-03-12 03:35] kdawson1000 commented on #181
My understanding from Ted is this:  use the target selection for skies in the same manner for commissioning, SV, and the main survey.  For that selection of sky targets, simply duplicate the DESI_TARGET column to also include a SV1_DESI_TARGET and a CMX_TARGET column, with bits within each bitmask assigned according to a sky designation.

If I understand this correctly, this will be a trivial fix

[2019-03-12 05:25] tskisner commented on #181
All of these issues can be fixed very easily- this is just a matter of how we parse arguments.  We just need to decide what we want.  It sounds like we need to specify / detect for **every target file individually**:

1.  The column name to use.

2.  The bitmasks for science, standards, sky, "safe", and the "exclusion mask".

The bitmasks in number 2 should be set to defaults provided by desi_targ

[2019-03-12 15:54] geordie666 commented on #181
@tskisner: The `main_cmx_or_sv(targets)` function in desitarget.targets:

https://github.com/desihub/desitarget/blob/master/py/desitarget/targets.py#L286

Will detect the column name and load the correct masks.

[2019-03-12 16:20] tskisner commented on #181
Awesome!  That is exactly what we need.  Here is what I propose:

1.  By default, every target file should have column names and bitmasks that match one of the programs defined in desi_target.  So for example a sky target file or science target file would have column DESI_TARGET and the correct bits set.  An SV target file would have a column SV1_DESI_TARGET and the correct bits set.  These files

[2019-03-13 20:56] sbailey opened #192 "Review, cleanup bitmask usage"
Review and cleanup usage of bitmasks for fiber state.  e.g. from assign.py:
[code]
  * Hardcoded 1,2,4,8
  * Mismatch between what bits are used for FIBER_STATE_STUCK=1 (bit 0) vs. setting fstatus = 2 (bit 1).

There should be one place that defines what FIBERSTATUS bits mean (for both the input --fiberstatusfile, and for the output column).  The output should propagate forward the input bits as-i

[2019-03-13 23:02] sbailey commented on #190
I believe the core issue here was addressed in PR #191, which is now merged.  i.e. if sky monitor fibers can't reach a SKY target, they are assigned to a BAD_SKY location instead and their FIBERSTATUS is set to non-zero as a warning to not use this fiber for ETC sky background estimation.  The same infrastructure applies to normal positioners too, and also to sky monitor positioners if they become

[2019-03-14 01:55] Srheft commented on #190
@sbailey, @tskisner:

Yes, I do confirm that the ETC fibers are now assigned to BAD_SKY if no good SKY is available:

![image](https://user-images.githubusercontent.com/32471902/54325851-e25d0200-45c9-11e9-8213-4b37a6baf05f.png)

Thank you; this ticket can be closed.

[2019-03-14 18:00] #190 closed

[2019-03-17 14:53] tskisner commented on #181
Hello @geordie666 , I looked into using your function in fiberassign, and I think it is an important part of the solution.  The thing we need in fiberassign for a given target file are:

1.  What column to use

2.  What integer masks to bitwise-and against this column to determine whether to treat an object as a "science" target, a "sky" target, a "standard" target, or a "safe" target.

Your funct

[2019-03-18 16:17] geordie666 commented on #181
@tskisner: I believe you are correct on your first point, in that the critical names and bits`LRG`, `ELG`, `QSO`, `LRG_1PASS`, `LRG_2PASS` and the `STD` bits are the same for SV and the main survey. If we did update those bits for SV, I suspect that we'd also have to update them for the main survey.

One question for you: Can I deprecate the `SKY` and `BAD_SKY` bits in the SV yaml file? I think we

[2019-03-18 16:44] tskisner commented on #181
@geordie666 , I think that all the SV target files I have seen so far include only science targets (not sky) so I don't think there is any impact.  However, not sure about BAD_SKY.  In the past those targets were sometimes placed in the science target files and sometimes in the sky target files.

I'll open a PR shortly with changes that should resolve this issue for the current state of the file e

[2019-03-18 19:26] kdawson1000 commented on #181
@geordie666 , @tskisner ,
I am trying to piece together the plan here.  I think I prefer to move the logic that maps bitnames --> target categories into an external yaml file, similar to what Adam has.  This will make it easier to deal with changes in the target bits and definitions, which are inevitable.  It will also facilitate the situation where the bits in the SV mask do not align with those

[2019-03-19 18:18] sbailey opened #194 "Unassigned fibers should be placed at non-colliding locations"
Current default for unassigned fibers (either no targets, or broken fibers) is to assign the positioner to its home location, but that can cause collisions for neighboring science target assignments.

It would be better to do a search for some non-colliding location and use that instead.

Best is to have sufficient SKY and BAD_SKY density so that every non-broken fiber is assigned to something.  B

[2019-03-25 23:59] sbailey opened #195 "fiberassign should require OBSCONDITIONS in input"
Documenting a workshop conversation in a ticket to give others who aren't here a chance to comment before we implement:

Make fiberassign require OBSCONDITIONS as an input column, instead of defaulting to allowing any conditions if the column is missing.  This means that we would also need to set OBSCONDITIONS in the sky catalogs.

i.e. in fiberassign.targets around line 188, change
[code]
to
[cod

[2019-03-26 00:12] sbailey opened #196 "change breadth first to depth first assignment; check LyA"
Currently fiberassign is "breadth first", i.e. if a fiber covers two science targets that have the same PRIORITY but different NUMOBS_MORE, the target with fewer NUMOBS_MORE will be selected, regardless of SUBPRIORITY.  From assign.cpp around lines 1419:
[code]
This is what LyA wants, but the opposite of what LRG_2PASS want.  Since LyA is highest priority anyway, we believe that switching to depth

[2019-04-10 01:00] tskisner commented on #195
fixed by bf9704ea83e0f4d5edbf956356e006aacf203ce0

[2019-04-10 01:00] #195 closed

[2019-04-15 21:16] sbailey commented on #181
I think everything here was addressed in PR #193.  Summary: --targets can accept files with DESI_TARGET, SV1_DESI_TARGET, or CMX_TARGET, as long as all files use the same column name.  It uses `desitarget.targets.main_cmx_or_sv` to know which to use.  The --skies option allows you to pass in a normal skies file with DESI_TARGET, even if your targets files are from SV1_DESI_TARGET or CMX_TARGET.

A

[2019-04-15 21:16] #181 closed

[2019-04-23 17:14] sbailey opened #197 "GFA_TARGETS GUIDE/FOCUS/ETC_FLAG updates"
Currently the GUIDE_FLAG, FOCUS_FLAG, and ETC_FLAG values in the GFA_TARGETS table are just point-source cuts.  0=good, and non-zero flags why it wasn't selected.  Define specific bits, adding:
  * `NOT_ISOLATED`: isolation cuts
  * `WRONG_GFA_TYPE`:
    * targets on Guider GFAs shouldn't be used for focus, and vice-a-versa
    * targets on focus GFAs shouldn't be used for ETC
  * `TOO_BRIGHT`: To

[2019-05-10 22:54] michaelJwilson opened #198 "Inconsistent behaviour for duplicate IDs across Science targets & standards"
survey-tiles file (single tile with ID 100000):

![image](https://user-images.githubusercontent.com/6034066/57560449-59e5ae00-733b-11e9-9f87-c836614ffae0.png)

Footprint file (Kyle's BGS tiling):

![image](https://user-images.githubusercontent.com/6034066/57560948-ff018600-733d-11e9-8911-b8fad10d5564.png)

Call:

[code]

Error message:

![image](https://user-images.githubusercontent.com/6034066/57

[2019-05-10 23:22] sbailey commented on #198
This example works with fiberassign/1.0.0, i.e. it looks like the bug you report here is already fixed.  You can switch to this at NERSC with `module swap fiberassign/1.0.0`.

However, I will leave this ticket open since your example crashes with fiberassign/master for a different reason (that isn't your fault):
[code]

A quick spot check shows that these are standards that are also appearing as s

[2019-05-15 16:58] sbailey opened #199 "cleanup GFA_TARGETS XYZ_FLAG code"
Cleanup the code that adds `ETC_FLAG`, `GUIDE_FLAG`, and `FOCUS_FLAG` bit masks to match what is done in https://github.com/desihub/desici/blob/master/py/desici/mk_CItiles.py .  Standardize bit flags and put code into a function that could be called independently to identify GFA targets and set flags without running fiber assignment itself.

Including this in the SV data challenge with the goal of

[2019-05-15 21:38] tskisner opened #200 "Use LOCATION rather than FIBER as the primary index"
The fiberassign codebase has always used "fiber" as the global index key for various data structures.  However, this is a derived quantity that depends on the mapping of petal position to spectrograph.  Also, the "fiber" value is not even defined for the ETC devices.  Instead, we should use the "location", which is a global identifier that combines the petal position on the focalplane and the devi

[2019-05-15 21:50] tskisner commented on #183
I revisited this issue recently while working on the switch from indexing by "fiber" to indexing by "location" (see #200).  In the case where a high priority target is observable by 2 positioners, picking the "lowest positioner number" obviously depends on what parameter is used for the "positioner number".  I like the principle of assigning to the closest fiber...

[2019-05-15 22:27] michaelJwilson opened #201 "fiberassign on --survey sv1 select_mock_targets."
On the master branch, running:

[code]

Results in

[code]

Given the .mtl has columns:

![image](https://user-images.githubusercontent.com/6034066/57813503-30ef5f80-7725-11e9-936a-6fd2e3ea190f.png)

parse_assign() of fiberassign/scripts/assign.py takes a bunch of relevant looking arguments, e.g. --mask_column that bin/fiberassign does not?  Maybe I'm calling it incorrectly.

[2019-05-15 23:51] forero commented on #201
I tried directly `fba_run` (`fiberassign` is wrapper meant to be backwards compatible but it seems that it's hard to make it work with SV data) using `--mask_column SV1_DESI_TARGET` as follows:

[code]
and got a different error `RuntimeError:   Duplicate target IDs are not permitted.`

Here is the full output:

[code]

[2019-05-16 00:01] sbailey commented on #201
@forero the duplicate target ID problem is issue #198 .  If your stdstar list is a subset of the mtl list, you could just drop it when using fba_run.

@michaelJwilson are you also using desitarget master?  Or just fiberassign master with a tagged desitarget?  It looks like the autodetection isn't working for whether your MTL is SV1 vs. main survey, though`desitarget.targets.main_cmx_or_sv(targets)

[2019-05-16 00:16] forero commented on #201
@sbailey Thanks. Indeed, dropping the `standards-dark.fits` file works.

[2019-05-16 00:22] moustakas commented on #201
@rstaten reported this same (or similar) issue to me over email but I hadn't had a chance to dig in.  @rstaten can you check against your usage of `select_mock_targets` and `fiberassign` and report here?

[2019-05-16 02:45] rstaten commented on #201
@moustakas I used the instructions given in quicksurvey_example and am using master version of both desitarget and fiberassign. As @sbailey mentioned, the duplicate ID problem that I see is noted in #198. The commands given are:

select_mock_targets --no-spectra --nproc 4 --nside 16 --seed 10 \
    -c $SCRATCH/quicksurvey_example/targets/no_spectra/dark/input.yaml \
    --output_dir $SCRATCH/quick

[2019-05-16 14:49] michaelJwilson commented on #201
Confirming that Jaime's call works for me.  I'm (attempting to work on master for everything).
I.e.

[code]

![image](https://user-images.githubusercontent.com/6034066/57863290-a94e3300-77ae-11e9-8033-8fa34dc8aa02.png)

Incidentally, I did try:

[code]

to look at the output of ```desitarget.targets.main_cmx_or_sv``` as suggested by @sbailey.  There seems to be a difference in the expected header,

[2019-05-16 15:32] geordie666 commented on #201
Some context: In the headers of desitarget output files:

- `HPXNSIDE` refers to the HEALPixel `nside` at which the `HPXPIXEL` column is stored. This should be propagated downstream.
- `FILENSID` refers to the pixelization that was used when target-production was parallelized across pixels. This is utilized in wrapper routines such as [read_targets_in_box](https://github.com/desihub/desitarget/blo

[2019-05-16 15:40] geordie666 commented on #201
Further `read_targets_in_hp` is designed to work with files that have been written by `desitarget.io` itself. Those files must have a nomenclature like files in the following directory:

 /project/projectdirs/desi/target/catalogs/dr7.1/0.29.0/sv/

and must include the `FILENSID` header entry. I don't think the mocks use the full `desitarget.io` formalism when reading and writing data, so `read_tar

[2019-05-16 15:44] moustakas commented on #201
They don't, but do we want to add this feature into the mock targets I/O?

[2019-05-16 15:52] geordie666 commented on #201
If that's desired, I don't think it would be hard. All we'd need is the following three fixes:

- Change the files to look like: `sv1-blat-hp-X.fits`, where X is a HEALPixel integer.
- Add `FILENSID` to the header entry, setting it to the `nside` for X (or use `desitarget.io.write_targets` passing `nsidefile=nside`.
- Group the output files in a single directory rather than across different direct

[2019-05-16 16:12] geordie666 commented on #201
Note, though, that with the current directory structure that @michaelJwilson is using, e.g.:

`/global/cscratch1/sd/mjwilson/svdc-summer2018/master/sv-targets/259/25912/targets-64-25912.fits`

There's no particular reason to use the `read_targets_in_hp` utility.

`read_targets_in_hp` is useful when you have a single file, or a directory that contains multiple files, that span multiple HEALPixels a

[2019-05-16 17:12] sbailey commented on #201
Let’s keep the current file structure where the mocks are grouped the same as the spectro pipeline output spectra and redshifts, ie one file per healpix grouped in subdirs by pix//100

[2019-05-22 23:30] michaelJwilson commented on #201
Closing this out, given that #198 seems sufficient.

[2019-05-22 23:30] #201 closed

[2019-05-30 21:56] #198 closed

[2019-06-04 23:37] tskisner commented on #42
Revisiting this issue in light of recent code developments.

- Adding an additional "trap" target category in fiberassign (currently: science, standard, sky, and "safe") is straightforward to do, and would allow adding targets to the catalogs with bits set to indicate they are of "trap" target type.  Assigning "trap" targets could be done first, before assigning science targets.

- For each positi

[2019-06-04 23:50] sbailey commented on #42
To first order, DESI_TARGET bit 50 "BRIGHT_OBJECT" would be the things we'd consider for putting on a light trap.

[2019-06-24 14:23] michaelJwilson opened #205 "QA-FIBERASSING ON SV SIM."
Running qa-fiberassign on the SV sim. results in the following error:

[code]

seems a straightforward fix (to rewrite DESI_TARGET expectation) see fiberassign itself.  I'll look at it, but maybe someone (@forero?) will beat me to it ...

Also a --outputdir argument would help?

[2019-06-25 16:27] tskisner commented on #205
This "qa-fiberassign" script is copied from the original legacy codebase.  We should consider merging this functionality with the fba_run_qa / fba_plot_qa scripts, which generate a json document with assignment stats for each tile and also visualizes those values on the footprint.

[2019-06-26 16:47] forero commented on #205
After running `fba_run_qa` on the SV data I get the following

[code]
and an empty `qa.json` file.

What is then the correct way to call the script?

[2019-06-26 17:16] michaelJwilson commented on #205
I think it's failing because of the sv tile ids.  Adding --footprint works, but achieves another error.

[code]

[2019-06-26 17:30] forero commented on #205
Got it. Thanks.

[2019-06-26 17:36] michaelJwilson commented on #205
I was looking at:

https://desi.lbl.gov/DocDB/cgi-bin/private/RetrieveFile?docid=4247;filename=FiberAssignment_Dawson_Barcelona.pdf;version=1

It'd be great to have a follow-up based on this SV set.  Not least, I think Stephen wanted checks that things hadn't gone awry.

[2019-06-26 17:39] forero commented on #205
I will take that as guide to prepare a short report.

[2019-07-16 01:06] sbailey commented on #151
@forero could you re-check this using your latest fiberassign run on DR8?  I don't think we ever figured out what was causing it, but it would be helpful to re-verify if it is still a problem.

[2019-07-19 01:40] Srheft commented on #205
Hi @forero:
Any update on this ticket? qa-fiberassign would need to work on CMX as well and the blocking factor seems to be the unrecognizable objtype.

[2019-07-19 01:45] Srheft opened #209 "New key in fiberassign output"
@sbailey @tskisner

Currently:
 To know the number of unassigned **but available** targets in each class (e.g., all the available ELGs that potentially could be assigned but are not), one has to match the TARGETIDs in the first extension ( FIBERASSIGNMENT) with the same column in the 4th extension (POTENTIAL_ASSIGNMENTS) or the target lists in FAVAIL per FIBERID.

How about:
To remove this **match

[2019-07-19 03:42] kdawson1000 commented on #209
Yes, we originally thought that the FIBERSTATUS keyword in the "TARGETS" extension was intended to track whether the target was given a fiber.  But I believe that is intended to reflect the status of the hardware, and is not really appropriate for the TARGETS extension.  We could rename it to  ASSIGN_STATUS and use it to track whether a target was given a fiber or not.

[2019-07-19 07:42] forero commented on #205
Hi @Srheft. Nothing new, `fba_run_qa` works but the older `qa_fiberassign` does not. To me the best solution seems to be implementing the `qa_fiberassign` stats inside`fba_run_qa` and avoid using `DESI_TARGET` (`OBJTYPE` does the work to count science,sky and stars). I will only have time to tackle this in August.

[2019-07-19 07:49] Srheft commented on #205
ok; thanks for the info; fba_run_qa and fiberassign-qa both have useful info. I'll give it shot to work to our taste for cmx/sv.

[2019-07-22 13:46] forero commented on #151
@sbailey @tskisner

Here is the new pattern
![Screen Shot 2019-07-22 at 3 40 01 PM](https://user-images.githubusercontent.com/1848618/61636964-0080f000-ac97-11e9-87c9-b3d3768d3e75.png)
![Screen Shot 2019-07-22 at 3 40 05 PM](https://user-images.githubusercontent.com/1848618/61636976-037be080-ac97-11e9-8ffc-2ca829ea5d70.png)

it's similar for both sky and standards, but it's not clear to me why it

[2019-07-22 15:32] djschlegel commented on #151
Is this the new (Eddie's) tiling pattern?  This may reflect that given the overlaps preferentially on the outer part of the focal plane, given the tiling pattern, there are fewer opportunities to observe science targets with an inner fiber, so they're less often used for standards.  You might want to plot all the fiber potential assignments, and see if it looks the same as the above?

[2019-07-22 16:11] forero commented on #151
The tiling comes from whatever is now the default in `desimodel`. I am not sure whether this is the new one or not.

[2019-07-30 21:51] Srheft opened #210 "FIBERID or LOCATION in fba_run_qa"
@sbailey @tskisner:

[device_locations('POS') ](https://github.com/desihub/fiberassign/blob/fc1c7f8e39af589b61abfe70e8f3b2d7885c9e89/py/fiberassign/qa.py#L78) goes 0 to 9526 making the list of unassigned fibers in qa.json to report invalid FIBERIDs. This does not affect fba_run. Produced Fits Tables have been unaffected.

An example is shown [here](http://www.astro.utah.edu/~u6022465/cmx/ALL_SKY/d

[2019-07-30 22:12] sbailey commented on #210
PR #204 switched to labeling the positioners by their LOCATION = 1000*PETAL_LOC + DEVICE_LOC instead of FIBERID.  Does qa.json still call these "FIBERID" or is it just a list of numbers that used to mean FIBERID and now means LOCATION?

[2019-07-30 22:53] Srheft commented on #210
Ok i was not aware of that change; I shall be pinged ;)

lf i were to convert the content of unassigned list to xy and then to
ra,dec, then this change makes it impossible to do that(unless I reverse
your labeling and translate them to valid POS fiber ids). in the coverage
test for GFA and Sky catalog, it is useful for targeting folks to know
where they lack targets and tile center coordinates are

[2019-07-30 23:38] sbailey commented on #210
It looks like unassigned fibers appear in the FIBERASSIGN table with negative TARGETIDs and FIBERSTATUS=1, but meaningful TARGET_RA, TARGET_DEC.  Is that sufficient for your case of wanting to know the RA, DEC of unassigned fibers?  Or am I misunderstanding those outputs or what you need?

[2019-07-31 00:15] Srheft commented on #210
we want to keep tilepicker light
 If it gets all the useful info from qa.json and independent from parsing
through fits tables then that's great. All coloring(green-good tile, red-
bad tile) and assignment and gfa info are coming from qa.jsin that is very
quick and convenient. Now that I know your labeling convention, I get the
radec from converted fibids.

On Tue, Jul 30, 2019, 4:38 PM Stephen Ba

[2019-08-27 21:13] tskisner opened #211 "Verify RA/DEC to X/Y conversion consistency with platemaker"
For performance, fiberassign uses compiled code when converting RA/DEC to X/Y for purposes of collision calculations:

https://github.com/desihub/fiberassign/blob/master/src/hardware.cpp#L145

We should verify that the model for this radial angle to distance conversion matches what is used elsewhere in DESI.  This includes both in desimodel and in platemaker.

[2019-08-29 19:02] Srheft opened #212 "SUPP_SKY to only be assigned if there is no SKY available"
@tskisner, @sbailey :

Trivia: desitarget has released a sky supplement catalog(empty sky locations with no measured flux and with [separate bit than SKY](https://github.com/desihub/desitarget/blob/8c8ee3010d3b82859096456349a12a06ed17dbca/py/desitarget/cmx/data/cmx_targetmask.yaml#L25)). This is to help with tiles that lie at the edges of footprint and whereever there is no chance that positioner

[2019-08-29 19:21] sbailey commented on #212
Thanks @Srheft.  This is absolutely a problem, but @tskisner is also currently tied up in some critical pipeline tasks before he can return to fiberassign, and there are also other fiberassign as-built hardware issues waiting for him.  Could you try to make the fiberassign fix to address this SUPP_SKY problem?

Another option would be to update desitarget so that in a given (large nside) pixel, it

[2019-08-29 19:28] Srheft commented on #212
@sbailey :

`Could you try to make the fiberassign fix to address this SUPP_SKY problem?`

Sure, I'll see if I can find the proper place in the code and let you know if I successfully fixed this.

[2019-08-30 23:38] Srheft commented on #212
FYI: My initial inclination was to give the same "last resort" role as BAD_SKY to SUPP_SKY  in safe_mask but this did not work out.

Stephen's comment:
`If SUPP_SKY is used as "last resort" targets, then they don't count towards the sky budget and anything else takes priority over them.  They are reasonable "last resort" options, but that is a bit different from what we want if we are starved for

[2019-09-08 18:29] tskisner commented on #212
Looking at the comment here:

https://github.com/desihub/desitarget/blob/master/py/desitarget/cmx/data/cmx_targetmask.yaml#L25

I think the problem is that SUPP_SKY targets also have the SKY bit set.  Instead, if these targets did NOT have the sky bit set, then we could filter them into the "safe" target category on read.

Are the SUPP_SKY targets somehow better than BAD_SKY?  If not, then I sugge

[2019-09-09 16:06] geordie666 commented on #212
@tskisner: As regards your point (1) I'll have to loop in @sbailey as he specifically requested that I *should* set the `SKY` bit every time `SUPP_SKY` was set.

[2019-09-09 16:25] tskisner commented on #212
Ok, so I'm probably not understanding something.  The original "SKY" targets are locations determined to be free of flux from other sources, using the imaging data.  These SUPP_SKY targets are the same, but have been extrapolated off the footprint using GAIA data, correct?

Is there some reason we don't just use "traditional" sky targets within the footprint and "supplemental" sky targets off the

[2019-09-09 16:49] geordie666 commented on #212
It would be my _strong_ preference to do exactly what you're proposing: Only use `SKY` locations within the footprint of the imaging surveys and use `SUPP_SKY` off that imaging footprint. But, I'm not sure the infrastructure exists (downstream of desitarget) to know when we are or are not on the Legacy Surveys imaging footprint? And, in particular, when we might be in a chip gap, etc.? Either way,

[2019-09-09 16:51] geordie666 commented on #212
Oh, and to clarify: `SUPP_SKY` are less sophisticated than `SKY`. `SUPP_SKY` merely avoid Gaia sources by a 2 arcsecond radius. In that sense they should be inferior to `SKY` locations, which, as you say, extract flux in apertures at the locations of the actual pixels of the Legacy Surveys.

[2019-09-09 16:58] tskisner commented on #212
Ok, it sounds like this could be accomplished by reading the SKY and SUPP_SKY catalogs, loading the desi footprint, and writing a new combined catalog that had SKY inside the footprint and SUPP_SKY outside the footprint.  Obviously that requires a bit of scripting.  Happy to do that after I make some progress on other fiberassign issues.  To me, this solution is much easier than adding a whole new

[2019-09-10 15:36] sbailey commented on #212
Clarifying (maybe):  SUPP_SKY should be used to fulfill the sky fiber budget if there aren't enough SKY fibers.  This is different from BAD_SKY, which are just bad and are not used for sky modeling.

Catalogs with "SKY on footprint and SUPP_SKY off the footprint" is good, but we also may want to fill in SUPP_SKY in chip gaps too.  I'm hoping that is a small effect but I don't know the quantitative

[2019-09-15 11:07] Srheft commented on #212
Adding some numbers for Stephen's comment here:
`Catalogs with "SKY on footprint and SUPP_SKY off the footprint" is good, but we also may want to fill in SUPP_SKY in chip gaps too. I'm hoping that is a small effect but I don't know the quantitative numbers for it.`

When NOT using sky summplemt catalog and trying to assign all the fibers to SKY in MAIN survey tiles:
out of  [10043 dark tiles](http

[2019-09-17 16:12] tskisner commented on #212
Summarizing offline discussion:  we do need to add a new type of target to fiberassign.  This is tedious but straightforward.

[2019-09-17 16:14] tskisner commented on #200
This was closed by #204

[2019-09-17 16:14] #200 closed

[2019-09-17 16:25] tskisner opened #214 "Uniform sky assignment per cassette not petal"
Currently we attempt to have more uniform sky assignment by tallying the number of sky fibers assigned per petal.  For cases where a petal is on the edge of the footprint, this could lead to a petal's sky fibers all being assigned to one part of the petal.

We should add support for tracking the sky totals per cassette rather than per petal.  A cassette consists of two slitblocks and these are spa

[2019-09-17 16:29] tskisner opened #215 "Implement support for field rotation"
We should implement the scheme detailed in DocDB 5190.

[2019-09-20 13:47] tskisner opened #217 "Add support for keepout zones on petal boundaries and GFAs"
The online tools that move positioners enforce a keepout zone on the petal boundaries and around the GFAs.  The polygons for this are included in the desimodel focalplane.  We should add these to the hardware class and check for intersection with these when looking for collisions.  For efficiency, we can check this only for devices on the perimeter of the petal and GFA locations.

[2019-09-25 17:40] tskisner opened #218 "Tile selection bug"
There is small bug in this line:

https://github.com/desihub/fiberassign/blob/master/py/fiberassign/tiles.py#L40

Where the result of "np.where" is a tuple and we should be using the first element of that.  In addition to that trivial fix though we should also add tile selection to the unit tests and verify that it works as expected.

[2019-09-25 18:55] sbailey commented on #218
When that tuple is used for slicing an array, it still works, so I don't think this is a bug that changes behavior.  e.g.
[code]

we could still add the `where(...)[0]` for clarity.

+1 for unit tests.

[2019-10-04 01:20] sbailey opened #220 "Problems with fibers not assigned to locations"
In the current desimodel trunk focalplane model, fibers 1497 and 3078 are not assigned to any positioners, while positioner locations 2261 and 6484 are assigned to FIBER=-1 even though the equivalent locations on other petals are assigned to fibers.

As a result, these two fibers do not appear in fiberassign output, and those positioner locations are assigned to FIBER>5000 numbers, intermingled wi

[2019-10-04 02:00] tskisner commented on #220
A couple of notes / questions:

1.  There is the meta-question of how to propagate problems we find to the upstream instrument folks.  For example docdb 4807 still has that one slitblock / blockfiber typo, which I am manually fixing.  I don't know the best channel for communicating things so that they don't fall through the cracks.  The commissioning mailing list is a bit of a firehose, but maybe

[2019-10-04 02:48] sbailey commented on #220
Sounds good.  Thanks.

[2019-10-04 18:54] tskisner commented on #220
I have already committed a fixed focalplane file to desimodel svn trunk.  This should fix any fiberassign problems.  Separately there is this PR https://github.com/desihub/desimodel/pull/118 which fixes the script that generates the focalplane file.

[2019-10-05 04:28] sbailey opened #221 "fba_merge_results corrupting previously merged output"
A usage gotcha:

Imagine running fba_run + fba_merge_results for a set of tiles (e.g. dark tiles).  Then run them again for a different MTL with a different set of tiles (e.g. bright tiles), but output to the same directory.  In this case the second fba_merge_results will merge all the fba_run output that it can find (fiberassign_*.fits), including the ones from the first run.  But the previously

[2019-10-05 04:43] sbailey opened #222 "unassigned fibers should have DESI_TARGET = NO_TARGET"
desitarget.targetmask.desi_mask has a bit reserved for "NO_TARGET", meaning that we know that we're putting a fiber at a location that doesn't have a known target.  Unassigned fibers from fiberassign should set that bit in DESI_TARGET to show that it was purposeful and not some bug that left DESI_TARGET=0 (e.g. see #221).

Whenever this happens for real data, what we really want to do is go back t

[2019-10-10 09:30] Srheft commented on #210
Hi 2sbaile

I tried to add

[2019-10-10 09:30] #210 closed

[2019-10-11 07:08] Srheft commented on #221
@sbailey
could the solution be one of these:
 to add --overwrite for **fba_merge_results** similar to the one in **fba_run**  and have it not be used unless the user really does want to rewrite the previously merged results and if the --overwrite is not used, then the merged outputs would have tile-XXXXX.fits-1... N
OR
right before writing the merged results into a tile-XXXXX.fits file, have fiber

[2019-10-11 10:50] Srheft opened #229 "qa-fiberassign error log: location map incorrect"
@sbailey, @tskisner

Assuming no changes happened since PR#240 for this definition, fiber location is defined as LOCATION = 1000*PETAL_LOC + DEVICE_LOC 

qa-fiberassign [does check](https://github.com/desihub/fiberassign/blob/390eb4fa5e401e5fbcba55528ebe1ae518732262/bin/qa-fiberassign#L158) the [fibermap from the desimodel](https://github.com/desihub/fiberassign/blob/390eb4fa5e401e5fbcba55528ebe1a

[2019-10-11 19:42] Srheft commented on #229
Just a quick note that I used the formats branch and stll get the same "location map incorrect" error. In fact, looking at all my previous runs of qa-fiberassign, I've always gotten this error. would be good to fix it before cmx run as it loks like a very good thing to check.

[2019-10-11 22:48] tskisner commented on #229
The fiberassign switch to using location (which is fixed to the focalplane) rather than fiber ID happened in PR #204 on June 3, 2019.  The switch to the new desimodel focalplane happened on June 13, 2019 with this commit:

https://github.com/desihub/fiberassign/commit/9e7770b9d7c5731f020c9b75801eae752f47dd3c

I did not even realize that the "qa-fiberassign" executable was still being used (I thoug

[2019-10-14 21:13] sbailey commented on #229
Yes, qa-fiberassign is still used and still useful.  I've opened desihub/desimodel#126 about the deprecation plan for fiberpos.fits.  In the meantime, this ticket can track the fix to update qa-fiberassign to use the new `desimodel.io.load_focalplane()`.

[2019-10-14 21:17] Srheft commented on #229
Thanks for comments Ted and Stephen. I have added the dsimodel.io.load_focalplane() to qa_related_phase2 branch and am waiting for the formats branch to be merged into master to make this branch  a PR.

[2019-10-15 20:19] Srheft commented on #229
[This table](https://docs.google.com/spreadsheets/d/1LOjXASgI9WNQ-LD4TZhBF-lwKOutfNMlosOW3_mhw2g/edit?usp=sharing)  lists (FIBER,LOCATION) of 'FIBERASSIGN' HDU and those of the focalplane model. The Location of two of the ETC fibers in focal plane model, matches those of the POS fibers in the fiberassign output. The example file is [here](http://www.astro.utah.edu/~u6022465/cmx/tiles/sandbox/Oct20

[2019-10-16 17:56] sbailey commented on #229
@Srheft I think this is a match.  In the desimodel focalplane files, the ETC positioners don't have a defined FIBER number and are assigned -1.  fiberassign renumbers those FIBER 5000-5019 but it looks like a bug that they are showing up as DEVICE_TYPE POS instead of their original ETC type.

There may be two fixes here:
* updating desimodel to have a well defined fiber number for the ETC fibers
*

[2019-10-16 17:59] Srheft commented on #229
thanks @sbailey; I do have a work around that considers this a match by only matching the locations; I'll add that for now and it can be mold to perfection later on.

[2019-10-17 00:07] sbailey opened #231 "merging requires sky FIBERFLUX*"
Something in the formats update PR #228 ended upon making FIBERFLUX* a required column for input skies, which may not be the case for off-the-footprint sky files.

Review the chain for what columns are required and and make it as minimalist as possible.  The intension is that fiberassign requires only the minimal columns that are actually necessary for fiberassign, and beyond that it propagates th

[2019-10-17 05:52] sbailey commented on #231
This is currently blocking 19.9 integration testing.  We either need to add FIBERFLUX_IVAR_G/R/Z to the skies output by desitarget.mocks or we need to make fiberassign not require it.  Adding this ticket to the 19.9 project for now as a reminder.

[2019-10-17 16:19] sbailey opened #232 "qa-fiberassign reports assignments >6mm from positioner"
Track down why qa-fiberassign is reporting assignments more than 6mm from the positioner center.  It is likely a bookkeeping problem on the qa-fiberassign side, but we need to make sure that the assignments are correct.

[2019-10-17 17:05] sbailey commented on #231
Update: it turns out the problem is with the SKY_MONITOR HDU rather than merging sky targets with science targets in the FIBERASSIGN HDU.  In the case of SKY_MONITOR HDU, we have a datamodel interface with ICS to follow that specifies including FIBERFLUX_IVAR_G/R/Z.  It may actually be optional, but we shouldn't arbitrarily remove it without coordinating.

Since these are passed to platemaker for

[2019-10-29 19:12] sbailey commented on #215
Implemented in PR #219 and #226.  Closing.

[2019-10-29 19:12] #215 closed

[2019-10-29 19:13] sbailey commented on #217
Implemented in PR #233.  Closing.

[2019-10-31 23:00] #229 closed

[2019-11-07 13:15] andluizsouza commented on #140
Hi people.

I would like to know what is exactly the current status of this ticket.

I am studying those fiber assignment tutorials. This [one](https://github.com/desihub/tutorials/blob/master/FiberAssign.ipynb) reports the current algorithm prioritizes observing more targets before getting more observations of a previously observed target.

There is a TODO task: **_to add an option to fiberassign

[2019-11-07 13:51] forero commented on #140
Hi @andluizsouza. The TODO item you mention has not been addressed.

[2019-11-08 20:25] tskisner opened #236 "Change output header keywords for date stamps"
Currently there are two dates used when running fiber assignment.  The "run date" is the time at which fiberassign is run and is used to query the desimodel focalplane info.  This is currently not written out at all.  The second time is the "observation time" which is the time for which the tile is planned and sets the field rotation to use.  This is currently written as the `FA_DATE` keyword.

Do

[2019-11-12 01:27] sbailey opened #237 "Don't propagate 2D target columns into FIBERASSIGN HDU"
ICS uses Pandas dataframes to parse fiberassign tables, but Pandas doesn't support 2D columns.  When merging the target catalog into the FIBERASSIGN table, exclude 2D columns.

Example problem at KPNO:
[code]

It is not yet known whether we have to exclude these from both the FIBERASSIGN and TARGETS HDU, or whether it is sufficient to exclude them from just the FIBERASSIGN HDU (hopefully).

[2019-11-14 08:58] Srheft opened #238 "inconsistency between assignments and the plots"
@tskisner @sbailey

This is the first time I'm seeing this:

fiberassign output ([intermediate, merged and qa.json](http://www.astro.utah.edu/~u6022465/cmx/tiles/sandbox/Nov2019/4TKSB/)) don't show any unassigned fiber while the plot shows unassigned fibers with this warning while creating the plot:

**WARNING: Positioner at location 7243 cannot move to target 576471653823808043 at (x, y) = (-256.

[2019-11-14 17:39] tskisner commented on #238
Will try to investigate soon.

[2019-11-26 23:40] rncahn opened #239 "problem running example for fiberassign"
rncahn@nid00191:/global/cscratch1/sd/rncahn> time fba_run \

DEBUG:io.py:292:load_focalplane: Loading focalplanes from /global/common/software/desi/cori/desiconda/20190804-1.3.0-spec/code/desimodel/master/data/focalplane
INFO: Loaded focalplane for time stamp 2019-11-26 21:54:37.675855
DEBUG:   focalplane table keeping 5020 rows for POS and ETC devices
INFO: Focalplane has 0 fibers that are stuck

[2019-11-27 00:21] sbailey commented on #239
Thanks for trying this out and reporting that the [example documentation](https://github.com/desihub/fiberassign/blob/master/doc/examples.rst) is out of date.

Please try with a more recent reference run (e.g. /project/projectdirs/desi/datachallenge/reference_runs/19.10/targets/) which now has standards includes as part of the targets and thus shouldn't have duplicated targetids.  If that works, p

[2019-11-27 17:54] rncahn commented on #239
Doesn't quite work.  Compare 18.11 with 19.10:
rncahn@cori09:/project/projectdirs/desi/datachallenge/reference_runs/18.11/targets> lsalt
total 244358
dr-xr-s---+  2 sjbailey   131072 Nov  8  2018 qa
dr-xr-s---+  6 sjbailey     4096 Nov  8  2018 .
dr-xr-s---+  6 sjbailey     4096 Nov  8  2018 ..
dr-xr-s---+ 10 sjbailey     4096 Nov  8  2018 56
dr-xr-s---+ 17 sjbailey     4096 Nov  8  2018 53
dr-xr-

[2019-11-27 19:36] rncahn commented on #239
There is a target that appears both in mtl-dark and mtl-bright in 19.10

from mtl-dark
FITS_rec([(9999, 488659, '1526p285',    0, 'DEV', 152.54911804, 28.58329391, 1.e+08, 1.e+08, [  0., 100., 200., 300., 400.],   3.8110943 ,  10.583877 ,  21.462357 , 2.8384859e+01, 2.2990866e+01, 0., 0., 1438.5999, 329.56418, 62.79716, 0.75525916, 0.299417  , 0., 0., 0.9444018 , 0.96219975, 0.97850275, 0.9967305

[2019-12-05 19:44] tskisner commented on #212
Hi folks, this is now implemented in #241 .  However, because fiberassign now tries to assign "normal" sky first and then falls back to "supp sky", we must ensure that targets used internally to fiberassign are classified as one or the other (not both).  If a supp_sky target is also classified as a "sky", then it would just get assigned as a sky target in the first round.

I believe that current s

[2019-12-05 20:01] geordie666 commented on #212
@tkisner: I'm ambivalent to whether we set both `SKY` and `SUPP_SKY` for supplemental sky targets...I believe I did it this way simply because @sbailey requested it.

Although, I don't really see why it's critical to not set `SKY` for `SUPP_SKY`. Currently:

- sky targets have `SKY` set but not `SUPP_SKY` set.
- supplemental sky targets have 'SUPP_SKY` and `SKY` set.

Under (I think) your proposed

[2019-12-05 20:11] tskisner commented on #212
Currently every target is classified into science, standard, sky, suppsky, and safe categories using a bitwise-and with a mask (the mask has a default value and may be overridden).

Although doing other bit-operations is trivial, it breaks the current model.  It forces us to do things like, "for this survey and this target class, do this custom bit operation".  It also means that we can't override

[2019-12-05 20:24] geordie666 commented on #212
Note that it _is_ easy for me to change the bit-mask behavior, so @sbailey should weigh relatively little work for me against what seems to be more substantial work for @tskisner.

[2019-12-08 05:49] sbailey opened #243 "fiberassign build failure"
I'm getting a fiberassign build failure when using fiberassign master and /global/common/software/desi/cori/desiconda/20190804-1.3.0-spec:
[code]

I thought I had successfully built fiberassign after the NERSC upgrade this week as part of evaluating PR #240, though I probably didn't run "python setup.py clean" as part of that.

[2019-12-08 06:00] sbailey opened #244 "fiberassign._internal.Hardware failure"
Using fiberassign master as installed under desiconda/20190804-1.3.0-spec, I'm getting an error instantiating the Hardware model.  This clone is updated nightly with "git pull" and "python setup.py build_ext --inplace" but it does *not* do a "python setup.py clean".   This has probably left it in a incompatible binary state after the NERSC "upgrade" this past week, though also see issue #243 for p

[2019-12-08 07:17] apcooper commented on #243
Just to report I'm having exactly the same issue, which I also came across as a result of #244.

Googling on on the ` unable to initialize decompress status` suggests it's something to do with a version chance of binutils (to 2.32), e.g. here: https://wiki.gentoo.org/wiki/Binutils_2.32_upgrade_notes/elfutils_0.175:_unable_to_initialize_decompress_status_for_section_.debug_info

[2019-12-08 18:23] tskisner commented on #243
Ok, I'm working on this.

[2019-12-08 18:29] tskisner commented on #244
Ok, will investigate this.  For reference in my testing I always do:
[code]
Note that we do have a custom `clean` command:

https://github.com/desihub/fiberassign/blob/master/setup.py#L117

But this does not explicity remove the the "in place" compiled extensions.  I can change that of course.

[2019-12-08 19:05] tskisner commented on #243
I can reproduce this both with the default desiconda (20190804-1.3.0-spec) and also the slightly newer 20191025-1.3.1-spec version.  That latter version is only desiconda, with no other desi packages (I built those myself for this test).

Looking at the upgrade a couple days ago:

https://docs.nersc.gov/systems/cori/timeline/default_PE_history/2019Dec-2020Jan/

There was no bump to default version

[2019-12-08 19:10] tskisner commented on #244
This looks like an incompatibility between the compiled extensions and the other python code.  This commit about 4 days ago:

https://github.com/desihub/fiberassign/commit/2c482762e8050a75764e1436f59c187dfd33c98c

Changed the C++ interface to the hardware class and the corresponding python code which uses it.  Your error indicates that you have the new python code and a stale compiled extension.

[2019-12-08 21:19] tskisner commented on #243
Ok, more details.  This seems to be an incompatibility between the conda-installed `ld` program and the system one.  The gory details are here:

https://github.com/ContinuumIO/anaconda-issues/issues/11152

I see this problem even with a fresh install of a python3.6 stack.  It may or may not be solved by moving to 3.7 (see that discussion above).  In the mean time, I'm going to try the simple worka

[2019-12-08 21:25] tskisner commented on #243
Ok, @sbailey , this workaround is in place and I verify that:
[code]
now allows fiberassign's compiled extension to build.

[2019-12-08 21:57] lastephey commented on #243
Hi, @rcthomas and I noticed this was a problem for building our mpi4py as well after our Thursday maintenance. His solution (for now) is to delete the conda provided ld altogether. We are also watching the anaconda issue you mentioned.

[2019-12-08 22:26] sbailey commented on #243
Thanks for rapid weekend fix.  I confirm that compiling fiberassign works again for me.  I'll close this ticket and ContinuumIO/anaconda-issues#11152 and desihub/desiconda#36 can track progress on the long term solution.

[2019-12-08 22:26] #243 closed

[2019-12-08 22:28] sbailey commented on #244
Thanks.  I confirm that the fix for #243 allowed me to to a clean rebuild of the pre-installed fiberassign/master and that also fixed this problem.  Closing.

[2019-12-08 22:28] #244 closed

[2019-12-08 23:34] rainwoodman commented on #243
I have been using a customized Anaconda compiler toolchain to avoid this issue. The key is to instruct Cray to use dynamic linking I suppose.

https://github.com/bccp/conda-channel-bccp/blob/master/platform/prgenv-gnu/activate-nersc-prgenv-gnu.sh

[2019-12-09 01:08] tskisner commented on #243
We already use dynamic linking in our environment initialization:

https://github.com/desihub/desiconda/blob/master/conf/cori-gcc.module#L15

While a custom toolchain is one solution, I would prefer to stick with as many defaults as we can for long-term maintainability.  Recall that our current scheme uses a conda stack for conda-built packages and then explicit compiled dependencies are built wit

[2019-12-09 03:22] rainwoodman commented on #243
That's also what I have been doing: libpython from anaconda, and local packages from cray's gcc 8.
The prgenv.gnu toolchain only compiles our local packages. (In your case would be fiberassign).

Maybe it is the line that overrides LDSHARED that mattered:
https://github.com/bccp/conda-channel-bccp/blob/master/platform/prgenv-gnu/activate-nersc-prgenv-gnu.sh#L40

Which means I have always been usin

[2019-12-09 15:34] sbailey commented on #212
I may be overriding previous comments from myself, but yea verily:

SKY and SUPP_SKY should be set as independent bits, and we should *not* set SKY just because SUPP_SKY is set.  This allows SKY to be interpreted by itself (it was selected based upon imaging data) and not have it mean different things depending upon whether or not SUPP_SKY was set.  I think this is what fiberassign needs (but that

[2019-12-09 16:42] tskisner commented on #212
OK, thanks for the clarification.  It sounds like that is an easy change for @geordie666 to make (i.e. not set SKY for SUPP_SKY targets).  As soon as that is in place, then #241 should produce the desired behavior (assigning SKY first and then falling back to SUPP_SKY to meet the per-petal sky budget).  I'm not sure if #241 would mess up runs by @Srheft before she has updated SUPP_SKY target files

[2019-12-09 16:56] geordie666 commented on #212
@tskisner: I'll make that change this week, but I have a couple of other changes I need to make to `desitarget`, too. Everything will likely propagate into new files by (or more likely over) next weekend.

[2020-01-28 17:53] weaverba137 commented on #192
See also desihub/desiutil#113.

[2020-01-29 22:13] tskisner commented on #192
Clarifying this briefly in light of the current code:
1.  Target bit masks (64bit integer describing many categories) are defined in desitarget, which I think makes sense.
2.  The "coarse" target classes used only internally by fiberassign (science, standard, sky, etc) are defined in fiberassign, because they need to be controlled by the C++ code:  https://github.com/desihub/fiberassign/blob/maste

[2020-01-31 14:46] andluizsouza commented on #140
Hi people!

I would like to return to this discussion.

Does anyone have a tip about how I could set `SUBPRIORITY` flags between the epochs (the calls to fiber assignments) knowing if that target was or not assigned previously?
Can I modify the updated _mtl.fits_ that is passed back to fiber assignment for the next epoch?

I have read this tutorial https://fiberassign.readthedocs.io/en/latest/usag

[2020-01-31 15:26] tskisner commented on #140
The PRIORITY is an integer which describes the relative priority of different target types.  SUBPRIORITY is an intentionally random float64.  The total priority (PRIORITY + SUBPRIORITY) is used when setting the order of considering targets for assignment.  When assigning science targets, obs remaining is considered as per the code link in this thread.

We should not be making SUBPRIORITY non-rando

[2020-01-31 16:36] andluizsouza commented on #140
Thanks, @tskisner!
I'd like to rank Lya QSOs with different priorities to the fiber assignment according to an external redshift classifier. So could I split my original mtl file into some target files, each one with its priority number and number of observations, and compile all of them together?

[2020-01-31 17:00] geordie666 commented on #140
It sounds like you want to modify how the MTL assigns priorities based on information on the spectroscopic redshift. That logic occurs here:

https://github.com/desihub/desitarget/blob/aad6fd71797f349bcb8db14e8b4d4ed044b7a6a8/py/desitarget/targets.py#L481-L495

Your "ranking" would actually be an update to the "MORE_ZGOOD" value of priority. As this is the highest priority in the targeting yaml fi

[2020-01-31 17:03] tskisner commented on #140
Thanks @geordie666 for making my in-progress comment redundant :-)

Obviously for testing, one could read in a MTL file and manually set PRIORITY values for targets to a higher or lower value.  However, this is not a behavior we want to use in production.  Thanks for spelling out the details.

[2020-01-31 17:08] tskisner commented on #140
Also- I think it would be great to move the depth-first / bread-first / neither decision out of fiberassign and into some input target property.  This is a tri-state, so would need two bits.  I know DESI_TARGET is getting a "bit crowded" (haha!) but we could use two bits there or put it in some other single-byte column of the input target files (e.g "STRATEGY" or "ASGNALGO" or some other clever 8

[2020-01-31 17:19] andluizsouza commented on #140
Thanks a lot, @geordie666 and @tskisner.
I'm going to follow your directions and to think about how to apply them out of the fiber assignment algorithm firstly.

[2020-01-31 18:21] andluizsouza commented on #140
More one question: what does `ZWARN` in zcat (input into the calc_priority function) mean exactly?

[2020-01-31 19:14] geordie666 commented on #140
In general, if `ZWARN` is zero, then the spectral classifier produced a good, believable fit. If `ZWARN` is a non-zero bit, then there is a potential issue with the fit to the spectrum.

For example, for the `redrock` classifier, here are the possible values of `ZWARN`:

https://github.com/desihub/redrock/blob/335d26eb8da0b56f22f9340795a0cf35f3ab0b1f/py/redrock/zwarning.py#L14-L25

[2020-02-06 21:43] forero opened #249 "problem using fiberassign on dr9d SV data"
I tried to run fiberassing on a dr9d sv file using

[code]
and it failed with

[code]
@geordie666 says that this is actually a `fiberassign` issue

[2020-02-11 23:01] sbailey commented on #249
@forero please confirm that this is now fixed in master (fixed via PR #250), and close this ticket if so.  Thanks.

[2020-02-12 22:50] forero commented on #249
It works. Closing this ticket now.

[2020-02-12 22:50] #249 closed

[2020-02-20 19:54] forero opened #251 "writing error with small number of targets"
I am trying to create a small unit test for fiberassign. For that I created two tiles, and mtl file 8 science targets and a sky file with 8 sky targets.

The files I am using are in this repo https://github.com/forero/issue_fiberassign

After running running the command

[code]

the following error appears

[code]

The problem seems to be with some empty file, but at least one target should be ass

[2020-02-20 21:02] forero commented on #251
Solved by making the TILEID different from 0 or 1 (!).

[2020-02-20 21:02] #251 closed

[2020-03-05 21:36] moustakas commented on #237
Better yet would be to assess whether we need `DCHISQ` in the sweeps in the first place. https://github.com/desihub/desitarget/issues/197

[2020-03-10 21:19] #237 closed

[2020-03-11 16:24] sbailey commented on #192
Note that desispec assemble_fibermap and io.read_raw() is also setting fiberstatus bits, so when this issue is addressed to consolidate the FIBERSTATUS bit definitions, that desispec code should be updated too.  Related to desihub/desispec#913 and desihub/desispec#864.

[2020-03-16 23:55] tskisner commented on #3
I think we can close this now.  We are no longer doing "swapping", and the redistribution step (to better load balance petals) is a couple percent change.  Also, it seems like the way to account for all fiberassign effects on the final outcome is through running the assignment on simulated mock targets.

[2020-03-17 00:00] tskisner commented on #91
I believe that this is fully provided by the `fiberassign.hardware.Hardware` class (returned by `fiberassign.hardware.load_hardware()`).  This class has python methods `check_collisions_xy()` and `check_collisions_thetaphi()` which take a list of positioners and their desired placements and returns a list of booleans indicating which positioners collide.